Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: ignore unknown flow type
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/FlowTypeConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoFlowRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/FlowRepositoryTest.java
Due: run-container-test

fix: add missing magic link button to default login template
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/login.html
Due: none

fix: create index on timestamp column for reporters
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/mariadb.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/mysql.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/postgresql.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/sqlserver.schema
Due: run-container-test

fix: rsolve issues with templates and virtual hosts
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/error/ErrorHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/view/thymeleaf/CustomClassLoaderTemplateResolver.java
  gravitee-am-gateway/gravitee-am-gateway-reactor/src/main/java/io/gravitee/am/gateway/reactor/impl/DefaultReactor.java
  gravitee-am-gateway/gravitee-am-gateway-reactor/src/main/java/io/gravitee/am/gateway/reactor/impl/router/VHostRouter.java
Due: none

fix: set class loader to null
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/server/ManagementApiServer.java
Due: none

fix: handle InnocuousThread SecurityException in Jetty async dispatch
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/server/ManagementApiServer.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/server/SafeClassLoaderServletContextHandler.java
Due: none

fix: handle unknown application type
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/impl/ClientManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/ClientManagerTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationType.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/ApplicationTypeConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-test/specs/management/domain/vhost-mode.jest.spec.ts
Due: run-container-test

chore: integration tests for user-accounts
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/auth/UserAuthenticationServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/service/user/UserServiceTest.java
  gravitee-am-test/specs/gateway/login-flow/fixture/login-flow-inline-fixture.ts
  gravitee-am-test/specs/gateway/login-flow/login-flow-inline.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/fixture/mfa-setup-fixture.ts
  gravitee-am-test/specs/gateway/mfa/mfa-general.spec.ts
  gravitee-am-test/specs/gateway/mfa/mfa-registration-flow.spec.ts
  gravitee-am-test/specs/gateway/remember-me/fixture/remember-me-fixture.ts
  gravitee-am-test/specs/gateway/remember-me/remember-me.jest.spec.ts
  gravitee-am-test/specs/management/applications/applications.jest.spec.ts
  gravitee-am-test/specs/management/applications/fixtures/applications-fixture.ts
  gravitee-am-test/specs/management/user-accounts.jest.spec.ts
Due: none

fix: pass classloader via super constructor instead of bypassing it
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/view/thymeleaf/CustomClassLoaderTemplateResolver.java
Due: none

fix: remove Netty transport from MongoDB client to fix Netty 4.2 incompatibility
  gravitee-am-repository/gravitee-am-repository-mongodb-api/src/main/java/io/gravitee/am/repository/mongodb/provider/impl/MongoFactoryImpl.java
  pom.xml
Due: run-container-test

fix: reduce logback-test root level from TRACE to WARN in gateway-handler-core
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/resources/logback-test.xml
Due: none

feat: openfga tuples provisioning in parallel
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/authorization/OpenFGAProvision.scala
Due: none

chore: update pom versions so alpha can build
  pom.xml
Due: run-container-test

chore: fixed missing version
  pom.xml
Due: run-container-test

chore(test-fix): unnecessary stubbing
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/email/EmailStagingProcessorTest.java
  gravitee-am-test/specs/gateway/login-flow/login-flow-inline.jest.spec.ts
Due: none

feat: add Jest-to-Jira traceability via jira() helper and jest-junit
  gravitee-am-test/api/config/ci.config.js
  gravitee-am-test/api/config/dev.config.js
  gravitee-am-test/api/config/jira-properties.js
  gravitee-am-test/specs/utils/jira.ts
Due: none

chore: gitignore Claude Code configs and Playwright MCP logs
  .gitignore
Due: none

test: add Jest E2E regression tests (Phases 1-4 — 28 tests)
  gravitee-am-test/GUIDELINES.md
  gravitee-am-test/specs/gateway/forgot-password/forgot-password-inherited.jest.spec.ts
  gravitee-am-test/specs/gateway/idp-login/fixtures/idp-login-fixture.ts
  gravitee-am-test/specs/gateway/idp-login/idp-login.jest.spec.ts
  gravitee-am-test/specs/gateway/oauth-flows/oauth-flows.jest.spec.ts
  gravitee-am-test/specs/gateway/registration/fixture/user-registration.ts
  gravitee-am-test/specs/gateway/registration/user-registration.jest.spec.ts
  gravitee-am-test/specs/gateway/regression-misc/fixtures/flow-policy-fixture.ts
  gravitee-am-test/specs/gateway/regression-misc/regression-misc.jest.spec.ts
  gravitee-am-test/specs/gateway/token-auth-methods/fixtures/token-auth-fixture.ts
  gravitee-am-test/specs/gateway/token-auth-methods/token-auth-methods.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/fixtures/token-claims-fixture.ts
  gravitee-am-test/specs/gateway/token-claims/token-claims.jest.spec.ts
Due: none

fix(gateway): defer MFA optional skip until skip persistence completes
  AGENTS.md
  docs/agent-standards/commands.md
  docs/agent-standards/templates/commands.template.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpointTest.java
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-device-recognition.spec.ts
  gravitee-am-ui/src/app/domain/settings/factors/creation/steps/step1/step1.component.html
  gravitee-am-ui/src/app/domain/settings/factors/factor/factor.component.html
Due: run_ui_tests

refactor: extract parseEnrollPage from extractSharedSecret
  gravitee-am-test/specs/gateway/mfa/fixture/mfa-extract-fixture.ts
Due: none

refactor: simplify Playwright fixtures — extract shared constants and helpers
  gravitee-am-test/playwright/fixtures/forgot-password-gateway.fixture.ts
  gravitee-am-test/playwright/fixtures/login-flows-external-oidc.fixture.ts
  gravitee-am-test/playwright/fixtures/login-flows-gateway.fixture.ts
  gravitee-am-test/playwright/fixtures/login-flows-password-mfa-remember.fixture.ts
  gravitee-am-test/playwright/fixtures/login-flows-recovery.fixture.ts
  gravitee-am-test/playwright/fixtures/login-flows-role-mapper.fixture.ts
  gravitee-am-test/playwright/fixtures/login-form-gateway.fixture.ts
  gravitee-am-test/playwright/fixtures/mfa-default-factor-selection.fixture.ts
  gravitee-am-test/playwright/fixtures/mfa-enrollment-matrix.fixture.ts
  gravitee-am-test/playwright/fixtures/mfa-login.fixture.ts
  gravitee-am-test/playwright/fixtures/theme-gateway.fixture.ts
  gravitee-am-test/playwright/fixtures/webauthn-mfa.fixture.ts
  gravitee-am-test/playwright/fixtures/webauthn.fixture.ts
  gravitee-am-test/playwright/tests/mfa/mfa-enrollment-matrix.spec.ts
  gravitee-am-test/playwright/utils/fixture-helpers.ts
  gravitee-am-test/playwright/utils/mfa-helpers.ts
Due: none

fix(gateway): defer MFA optional skip until skip persistence completes
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpointTest.java
Due: none

fix: correct error display on MCP server update
  gravitee-am-ui/src/app/services/protected-resource.service.ts
Due: run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
