Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: improve information shown for CIMD settings
  gravitee-am-ui/src/app/domain/settings/cimd/cimd.component.html
  gravitee-am-ui/src/app/domain/settings/cimd/cimd.component.ts
  gravitee-am-ui/src/app/services/domain.service.ts
Due: run_ui_tests

chore: scope management tests
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/GroupMembersResource.java
  gravitee-am-test/api/commands/management/group-management-commands.ts
  gravitee-am-test/api/commands/management/scope-management-commands.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/apis/GroupApi.ts
  gravitee-am-test/specs/management/scope-management/fixtures/scope-management-fixture.ts
  gravitee-am-test/specs/management/scope-management/scope-crud.jest.spec.ts
  gravitee-am-test/specs/management/scope-management/scope-fields.jest.spec.ts
  gravitee-am-test/specs/management/scope-management/scope-listing-discovery.jest.spec.ts
  gravitee-am-test/specs/management/user-management-app/fixtures/user-management-app-fixture.ts
  gravitee-am-test/specs/management/user-management-app/user-mgmt-app-auth.jest.spec.ts
  gravitee-am-test/specs/management/user-management-app/user-mgmt-app-groups.jest.spec.ts
  gravitee-am-test/specs/management/user-management-app/user-mgmt-app-roles.jest.spec.ts
  gravitee-am-test/specs/management/user-management-app/user-mgmt-app-users.jest.spec.ts
Due: none

fix: add validation to CIMD settings
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchCIMDSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/openid/PatchCIMDSettingsTest.java
Due: none

fix: rename property to match usage
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainCIMDSettingsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/CIMDSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/CIMDSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchCIMDSettings.java
  gravitee-am-test/api/management/models/CIMDSettings.ts
  gravitee-am-test/api/management/models/PatchCIMDSettings.ts
  gravitee-am-ui/src/app/domain/settings/cimd/cimd.component.html
Due: run-container-test, run_ui_tests

fix(deps): update gravitee-bom to 9.0.0-alpha.5 to fit CVE-2026-1605
  pom.xml
Due: run-container-test

fix(deps): update gravitee-bom to 8.3.50 to fix CVE-2026-1605
  pom.xml
Due: run-container-test

chore: update saml2-idp plugin version
  docs/mapi/openapi.yaml
  pom.xml
Due: run-container-test

fix: move client_id URL-decoding into parseClientId Basic auth branch only
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
Due: none

chore: poll for 2 seconds to avoid race
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/service/user/UserServiceTest.java
Due: none

fix: update package-lock
  release/package-lock.json
Due: none

refactor: share Basic auth urlDecode between client_id parsing and secret check (AM-4872)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
Due: none

test: move AM-4872 client_id + tests to dedicated gateway spec with fixture
  gravitee-am-test/specs/gateway/client-authentication.jest.spec.ts
  gravitee-am-test/specs/gateway/fixtures/client-authentication-fixture.ts
  gravitee-am-test/specs/management/client-secrets.jest.spec.ts
Due: none

refactor: address review feedback on AM-4872 urlDecode helper
  gravitee-am-common/src/main/java/io/gravitee/am/common/web/UriBuilder.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProviderTest.java
Due: none

feat(saml2): add support for encrypted assertion when AM acts as an IdP
  docs/mapi/openapi.yaml
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSAMLSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSAMLSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSAMLSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-test/api/management/models/ApplicationSAMLSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationSAMLSettings.ts
  gravitee-am-test/specs/gateway/saml2/setup.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/saml2/saml2.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/saml2/saml2.component.ts
Due: run-container-test, run_ui_tests

fix: remove erroneous property
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/elasticsearch/index/audit.ftl
Due: run-container-test

chore: update oas
  docs/mapi/openapi.yaml
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
