Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

test: remove the class javadoc
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/WebAuthnFactoryResilienceTest.java
Due: none

fix: reject write of SCIM user with missing attributes
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/main/java/io/gravitee/am/gateway/handler/scim/mapper/UserMapper.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/mapper/UserMapperTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
Due: none

test: an unloadable attestation root degrades the trust set (AM-7618) (#8519)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/WebAuthnFactoryResilienceTest.java
Due: none

fix: make system mode immutable in restricted mode
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterIdpPolicy.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/idp/SystemClusterIdpPolicyTest.java
  gravitee-am-test/playwright/pages/identity-provider-settings.page.ts
  gravitee-am-test/playwright/tests/domain/identity-provider-storage.spec.ts
  gravitee-am-test/specs/cloud/identity-provider-system-cluster.jest.spec.ts
  gravitee-am-test/specs/management/identity-provider/fixtures/system-cluster-fixture.ts
  gravitee-am-test/specs/management/identity-provider/identity-provider-system-cluster.jest.spec.ts
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.html
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/mappers/mappers.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.spec.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.html
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.ts
Due: run_ui_tests

test: map a provider duplicate to a SCIM conflict (AM-7620) (#8520)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
Due: none

feat(webauthn): Client-Side Error Monitoring and Server-Side Logging
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/exception/webauthn/WebAuthnBrowserClientErrorException.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/utils/UriBuilderRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/utils/UriBuilderRequestTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/RootProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeGetEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebAuthnClientErrorCategory.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebauthnErrorEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnTelemetrySameOriginHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebauthnClientErrorReportingContextHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-fido2-login-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-login-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-register-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-telemetry-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/mfa_challenge.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/webauthn_login.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/webauthn_register.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebAuthnClientErrorCategoryTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebauthnErrorEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnTelemetrySameOriginHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-fido2-login-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-login-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-register-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-telemetry-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/mfa_challenge.html
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/webauthn_login.html
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/webauthn_register.html
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/gateway/WebAuthnBrowserClientErrorAuditBuilder.java
  gravitee-am-ui/src/app/domain/components/forms/form/dialog/form-info.component.html
  helm/values.yaml
Due: run_ui_tests

fix(dep): bump gravitee-bom to upgrade vertx, netty and jetty
  gravitee-am-ciba-delegated-service/pom.xml
  gravitee-am-fapi-resource-api/pom.xml
  pom.xml
Due: run-container-test

test: infer SMTP authentication from the configured credentials
  gravitee-am-resource/gravitee-am-resource-smtp/src/test/java/io/gravitee/am/resource/smtp/provider/SmtpResourceProviderTest.java
Due: none

fix(dep): bump Jetty to 12.1.13 and BC to 1.85
  gravitee-am-ciba-delegated-service/pom.xml
  gravitee-am-fapi-resource-api/pom.xml
  pom.xml
Due: run-container-test

test: Console SMTP resource form credential handling
  gravitee-am-test/api/commands/management/resource-management-commands.ts
  gravitee-am-test/playwright/pages/domain-resources.page.ts
  gravitee-am-test/playwright/tests/settings/resources/smtp-resource-form.spec.ts
Due: none

fix(dep): bump gravitee-bom to upgrade vertx, netty and jetty
  pom.xml
Due: run-container-test

test: incompatible enum data on paged role queries and membership findById
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/MembershipRepositoryTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/RoleRepositoryTest.java
Due: run-container-test

test: Console SMTP resource form credential handling (AM-7641) (#8528)
  gravitee-am-test/api/commands/management/resource-management-commands.ts
  gravitee-am-test/playwright/pages/domain-resources.page.ts
  gravitee-am-test/playwright/tests/settings/resources/smtp-resource-form.spec.ts
Due: none

test: infer SMTP authentication from the configured credentials (AM-7622) (#8525)
  gravitee-am-resource/gravitee-am-resource-smtp/src/test/java/io/gravitee/am/resource/smtp/provider/SmtpResourceProviderTest.java
Due: none

test: incompatible enum data on paged role queries and membership findById (AM-7623) (#8529)
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/MembershipRepositoryTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/RoleRepositoryTest.java
Due: run-container-test

fix: enhance domain user resolved via trusted-issuer user binding
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerUserResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerUserResolverTest.java
Due: none

feat: display IDP descriptions at creation
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.html
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.scss
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.html
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.scss
  gravitee-am-ui/src/styles.scss
Due: run_ui_tests

fix: do not publish distribution ZIP bundles to Nexus and Artifactory
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/gravitee-am-gateway-standalone-distribution-zip/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/gravitee-am-management-api-standalone-distribution-zip/pom.xml
  gravitee-am-ui/pom.xml
Due: run-container-test, run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
