Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

test: address review feedback on database index coverage
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/test/java/io/gravitee/am/reporter/mongodb/audit/MongoAuditReporterIndexTest.java
Due: run-container-test

test: run the cloud specs against a shared org, environment and data plane
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
  gravitee-am-test/specs/cloud/email-entrypoint-url.jest.spec.ts
  gravitee-am-test/specs/cloud/entrypoint-cache.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-email-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-entrypoint-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-license-enforcement-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-license-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-shared-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-webauthn-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/org-license-fixture.ts
  gravitee-am-test/specs/cloud/gateway-org-license.jest.spec.ts
  gravitee-am-test/specs/cloud/organization-license-commands.jest.spec.ts
  gravitee-am-test/specs/cloud/organization-license-endpoint.jest.spec.ts
  gravitee-am-test/specs/cloud/organization-license.jest.spec.ts
  gravitee-am-test/specs/cloud/plugin-license-gate.jest.spec.ts
  gravitee-am-test/specs/cloud/webauthn-entrypoint-origin.jest.spec.ts
Due: none

test: cover domain creation without a data plane id
  gravitee-am-test/specs/management/domain-create.jest.spec.ts
Due: none

test: point the shared cloud data plane at the running store and fix the playwright cloud fixture
  gravitee-am-test/playwright/fixtures/cloud-plugin-license.fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-shared-fixture.ts
Due: none

fix: tag entrypoint events with the environment's data plane id
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
Due: none

chore: pin the cloud stack gateway to the cloud-test data plane
  docker/local-stack/dev/docker-compose.cloud.yml
Due: none

refactor: derive isDeclared from declaredIds and collect entrypoint target planes in a set
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/MultiDataPlaneLoader.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
Due: none

fix: hold the resolved data plane to the environment link and fan entrypoint events out to every linked plane
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
Due: none

fix: let a standalone domain use a gravitee.yml plane and send entrypoint events there too
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
Due: none

fix: let a standalone domain fall back to default when the environment's linked planes are not loaded here
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

feat: resolve data plane against the environment during domain creation
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/MultiDataPlaneLoader.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/DataPlaneDefinitionService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewDomain.java
Due: none

test: link the shared cloud data plane before its entrypoints and cover cloud data plane resolution
  gravitee-am-test/specs/cloud/domain-dataplane-resolution.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-shared-fixture.ts
Due: none

fix(automation): make dataPlaneId optional on domain create so the environment's plane is resolved
  docs/automation/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationDomain.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/DomainsResourceTest.java
Due: none

chore(sdk): regenerate the management api typescript sdk
  gravitee-am-test/api/management/models/NewDomain.ts
Due: none

test: source the cloud data plane store from the setup files' internal store vars
  gravitee-am-test/playwright.config.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-shared-fixture.ts
Due: none

test: let the cloud shared data plane hosts be overridden like the internal-api fixtures
  gravitee-am-test/specs/cloud/fixtures/cloud-shared-fixture.ts
Due: none

test: give playwright the management technical api url the cloud fixtures need
  gravitee-am-test/playwright.config.ts
Due: none

test: drop the AM-7262 xray tags from the data plane resolution specs
  gravitee-am-test/specs/cloud/domain-dataplane-resolution.jest.spec.ts
  gravitee-am-test/specs/management/domain-create.jest.spec.ts
Due: none

refactor: source the internal-api data plane hosts from the same AM_INTERNAL_* vars
  gravitee-am-test/specs/management/internal-api/fixtures/dataplane-provisioning-fixture.ts
Due: none

test: cover mongo audit reporter index lifecycle (AM-7537) (#8420)
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/test/java/io/gravitee/am/reporter/mongodb/audit/MongoAuditReporterIndexTest.java
Due: run-container-test

test: cover mongo data plane index lifecycle
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/test/java/io/gravitee/am/dataplane/mongodb/repository/DataPlaneIndexTest.java
Due: run-container-test

test: address review feedback on data plane index coverage
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/test/java/io/gravitee/am/dataplane/mongodb/repository/DataPlaneIndexTest.java
Due: run-container-test

feat: store access_token and refresh_token in one batch
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oauth2/api/BackwardCompatibleTokenRepository.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oauth2/api/TokenRepository.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/oauth2/api/BackwardCompatibleTokenRepositoryTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/api/JdbcTokenRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/MongoTokenRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/oauth2/api/TokenRepositoryTest.java
Due: run-container-test

refactor(token-exchange): use lombok accessors on the mongo claim mapping
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TokenExchangeClaimMappingMongo.java
Due: run-container-test

test: cover reserved and duplicate claim mapper targets
  gravitee-am-test/specs/gateway/token-exchange/fixtures/token-exchange-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-claims-mapper.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-trusted-issuer-mapper.jest.spec.ts
  gravitee-am-test/specs/management/domain/token-exchange-claims-mapper-validation.jest.spec.ts
Due: none

fix(token-exchange): reject duplicate and protocol-critical claim mapper targets
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2Request.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeClaimsMapperValidator.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeSettingsValidatorImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeClaimsMapperValidatorTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeSettingsValidatorTest.java
Due: none

chore(console): drop redundant comments on the claim mapping type
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange.types.ts
Due: run_ui_tests

fix(token-exchange): reserve every claim am writes before the claim mapper runs
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeClaimsMapperValidator.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeClaimsMapperValidatorTest.java
Due: none

fix(token-exchange): validate claim mappings on application create and update
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeClaimsMapperValidator.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceCimdGuardTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeClaimsMapperValidatorTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeSettingsValidatorTest.java
Due: none

fix(console): seed the domain claim mappings when an application stops inheriting
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange.types.ts
Due: run_ui_tests

test: cover token exchange mapped claims on the issued tokens
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
Due: none

test: cover mongo data plane index lifecycle (AM-7544) (#8421)
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/test/java/io/gravitee/am/dataplane/mongodb/repository/DataPlaneIndexTest.java
Due: run-container-test

fix(dcr): keep token exchange settings when a client is updated through dynamic registration
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/ClientServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/ClientServiceTest.java
Due: none

feat: validate CSP directive shapes
  docs/automation/openapi.yaml
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/CSPHandlerFactory.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/csp/CspHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/CSPHandlerFactoryTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/csp/CspHandlerImplTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/webprotection/CspDirective.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/webprotection/CspSettings.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/webprotection/CspDirectiveTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/domain/DomainValidatorImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/webprotection/CspSettingsValidator.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/webprotection/CspSettingsValidatorImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/CspSettingsValidatorTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/DomainValidatorTest.java
  gravitee-am-test/specs/management/domain/csp.jest.spec.ts
Due: none

feat: provide structured CSP directive editor
  gravitee-am-ui/src/app/domain/settings/web-protection/csp-directives.spec.ts
  gravitee-am-ui/src/app/domain/settings/web-protection/csp-directives.ts
  gravitee-am-ui/src/app/domain/settings/web-protection/web-protection.component.html
  gravitee-am-ui/src/app/domain/settings/web-protection/web-protection.component.scss
  gravitee-am-ui/src/app/domain/settings/web-protection/web-protection.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/web-protection/web-protection.component.ts
Due: run_ui_tests

refactor(token-exchange): rename claimsMapper to claimMappings
  docs/automation/openapi.yaml
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/ClientServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/TokenExchangeOAuthSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TokenExchangeOAuthSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/DomainRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeClaimMappingsValidator.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeSettingsValidatorImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceCimdGuardTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeClaimMappingsValidatorTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeSettingsValidatorTest.java
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-claim-mappings.jest.spec.ts
  gravitee-am-test/specs/management/domain/token-exchange-claim-mappings-validation.jest.spec.ts
Due: run-container-test

refactor(console): rename the claims mapper section to claim mappings
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.html
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange.types.ts
Due: run_ui_tests

test: rename claimsMapper to claimMappings in the token exchange specs
  gravitee-am-test/api/management/models/TokenExchangeOAuthSettings.ts
  gravitee-am-test/specs/gateway/token-exchange/fixtures/jwt-bearer-subject-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/fixtures/token-exchange-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-claim-mappings.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-trusted-issuer-mapper.jest.spec.ts
  gravitee-am-test/specs/management/domain/token-exchange-claim-mappings-validation.jest.spec.ts
Due: none

test: restore the jwt bearer extension grant claimsMapper config key
  gravitee-am-test/specs/gateway/token-exchange/fixtures/jwt-bearer-subject-fixture.ts
Due: none

test: cover identity provider selection on the login path
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/login/LoginSelectionRuleHandlerTest.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/idp/ApplicationIdentityProviderTest.java
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
