Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix(oauth2): stop custom claims from replacing the claims a lightweight access token keeps
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
Due: none

feat(oauth2): add a Lightweight JWT option that keeps only reserved claims in access tokens (#8711)
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/ClientServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/ClientServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationLightweightJwtSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationOAuthSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationLightweightJwtSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationOAuthSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationOAuthSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchApplicationTest.java
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/models/ApplicationLightweightJwtSettings.ts
  gravitee-am-test/api/management/models/ApplicationOAuthSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationOAuthSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/gateway/token-claims/fixtures/token-identity-fixture.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-access-token-claim-sources.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-access-token.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/fixtures/token-exchange-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-lightweight-jwt.jest.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.ts
Due: run-container-test, run_ui_tests

fix(dataplane): stop a node rebuilding the data plane it is still registering from its own sync event
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManagerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

test(gateway): wait for the registration confirmation flow to reach the gateway in the MFA rate limit spec
  gravitee-am-test/specs/gateway/mfa/mfa-rate-limit-registration.spec.ts
Due: none

fix(reporter-jdbc): retry the audit table creation when another node creates the same tables
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/java/io/gravitee/am/reporter/jdbc/audit/JdbcAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/audit/JdbcAuditReporterConcurrentStartTest.java
Due: run-container-test

fix: return audit detail for permitted domain user
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/UserAuditsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/UserAuditsResourceTest.java
Due: none

fix: detect masked secrets in sensitive-uri fields
  docs/automation/GUIDE.md
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/CertificatesResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/IdentityProvidersResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/MaskedValueGuard.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/ReportersResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/AutomationJerseySpringTest.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/CertificatesResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/IdentityProvidersResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/MaskedValueGuardTest.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/ReportersResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/AbstractSensitiveProxy.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/CertificateServiceProxy.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/IdentityProviderServiceProxy.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/ReporterServiceProxy.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/CertificateServiceProxyImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/IdentityProviderServiceProxyImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ReporterServiceProxyImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/IdentityProviderServiceProxyImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ReporterServiceProxyImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/SensitiveDataMaskingTest.java
  gravitee-am-test/specs/management/automation/fixtures/sensitive-values-fixture.ts
  gravitee-am-test/specs/management/automation/sensitive-values.jest.spec.ts
Due: none

fix(dataplane): deactivate a data plane under the registration lock
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManagerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

fix(reporter-jdbc): retry the audit table creation only on a duplicate table conflict
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/java/io/gravitee/am/reporter/jdbc/audit/JdbcAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/audit/JdbcAuditReporterConcurrentStartTest.java
Due: run-container-test

feat(oauth2): keep only the reserved claims in ID tokens when Lightweight JWT is on
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationLightweightJwtSettings.java
Due: none

refactor(oauth2): rename the Lightweight JWT check and drop a redundant comment
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
Due: none

fix(oauth2): stop custom claims from replacing the claims a lightweight ID token keeps
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
Due: none

feat(ui): list the claims a lightweight ID token keeps
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.html
Due: run_ui_tests

feat(ui): say the Lightweight JWT toggle also applies to ID tokens
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.html
Due: run_ui_tests

test(gateway): cover lightweight JWT ID tokens across grants and the toggle
  gravitee-am-test/api/management/models/ApplicationLightweightJwtSettings.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-access-token.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-id-token.jest.spec.ts
Due: none

test(gateway): cover silent re-authentication from a lightweight ID token
  gravitee-am-test/specs/gateway/token-claims/fixtures/token-identity-fixture.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-id-token.jest.spec.ts
Due: none

fix(oauth2): let custom claims on the kept list reach a lightweight token
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
Due: none

test(gateway): expect kept-name custom claims in a lightweight access token
  gravitee-am-test/specs/gateway/token-claims/lightweight-access-token-claim-sources.jest.spec.ts
Due: none

fix(reporter-jdbc): retry the audit table creation on any failure
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/java/io/gravitee/am/reporter/jdbc/audit/JdbcAuditReporter.java
Due: run-container-test

test(gateway): cover kept-name custom claims in a lightweight ID token
  gravitee-am-test/specs/gateway/token-claims/lightweight-id-token-custom-claims.jest.spec.ts
Due: none

feat(ui): move the Lightweight JWT claim lists into an info dialog
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/dialog/lightweight-jwt-info.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/dialog/lightweight-jwt-info.component.scss
  gravitee-am-ui/src/app/domain/components/oauth2-settings/dialog/lightweight-jwt-info.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.ts
Due: run_ui_tests

fix(ui): tighten the Lightweight JWT dialog copy and label the info buttons
  gravitee-am-ui/src/app/domain/components/oauth2-settings/dialog/lightweight-jwt-info.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.html
Due: run_ui_tests

test(gateway): share the lightweight claim lists from the token identity fixture
  gravitee-am-test/specs/gateway/token-claims/fixtures/token-identity-fixture.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-access-token-claim-sources.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-access-token.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-id-token-custom-claims.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-id-token.jest.spec.ts
Due: none

refactor(oauth2): move the Lightweight JWT check onto Client
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/ClientTest.java
Due: none

test(gateway): drop the login_required check from the lightweight ID token spec
  gravitee-am-test/specs/gateway/token-claims/lightweight-id-token.jest.spec.ts
Due: none

feat: record policy audit data in token audit
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2RequestParams.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2RequestParamsTest.java
Due: none
