Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

refactor: use us spelling for the data plane config summary and correct stale comments
  gravitee-am-management-api/gravitee-am-management-api-internal/src/main/java/io/gravitee/am/management/handlers/internalapi/InternalApiService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/config/DataPlaneConfigHandler.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/config/JdbcDataPlaneConfigHandler.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/config/MongoDataPlaneConfigHandler.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/DataPlaneDefinitionSummary.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneConfigHandlerTest.java
Due: none

ficu
  .circleci/workflows.yml
Due: none

feat: validate a provisioned data plane against its plugin schema
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/assembly/plugin-assembly.xml
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/resources/schemas/schema-form.json
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/resources/schemas/schema-form.json
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/DataPlanePluginHandler.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneSchemaFormTest.java
Due: run-container-test

fix: update aikido orb in v1.0.4 to create one report per image scan
  .circleci/workflows.yml
Due: none

fix: scopes saving issue in DCR config page
  gravitee-am-ui/src/app/domain/components/scope-selection/scope-selection.component.html
  gravitee-am-ui/src/app/domain/components/scope-selection/scope-selection.component.spec.ts
  gravitee-am-ui/src/app/domain/components/scope-selection/scope-selection.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/client-registration/allowed-scope/allowed-scope.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/openid/client-registration/allowed-scope/allowed-scope.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/client-registration/default-scope/default-scope.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/openid/client-registration/default-scope/default-scope.component.ts
Due: run_ui_tests

docs: trim data plane provisioning comments to the non-obvious ones
  gravitee-am-model/src/main/java/io/gravitee/am/model/DataPlaneDefinition.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/DataPlanePluginHandler.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/DataPlaneDefinitionService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/config/DataPlaneConfigHandler.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/config/DataPlaneConfigs.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/config/DataPlaneConnectionSummary.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/DataPlaneDefinitionSummary.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneConfigHandlerTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneSchemaFormTest.java
Due: none

docs: drop comments from the data plane provisioning e2e spec
  gravitee-am-test/specs/management/internal-api/dataplane-provisioning.jest.spec.ts
  gravitee-am-test/specs/management/internal-api/fixtures/dataplane-provisioning-fixture.ts
Due: none

fix: retry on token revocation for JDBC
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/service/impl/RevokeTokenGatewayServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/service/RevokeTokenGatewayServiceTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/RetryOnConcurrencyFailure.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/RetryOnConcurrencyFailureConfiguration.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/OAuth2RepositoryConfiguration.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/api/JdbcTokenRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/RetryOnConcurrencyFailureTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/oauth2/api/TokenRepositoryConcurrentDeleteTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/oauth2/test/config/OAuthTestConfigurationLoader.java
Due: run-container-test

refactor: move the jdbc connection form requirement into the plugin schema
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/resources/schemas/schema-form.json
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/config/JdbcDataPlaneConfigHandler.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneConfigHandlerTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneSchemaFormTest.java
Due: run-container-test

test: automate AM cloud license enforcement coverage
  .circleci/workflows.yml
  docker/local-stack/package.json
  gravitee-am-test/package.json
  gravitee-am-test/playwright.config.ts
  gravitee-am-test/specs/cloud/gateway-org-license.jest.spec.ts
Due: none

feat: allow multiple data planes per environment and accept org and env hrids
  gravitee-am-management-api/gravitee-am-management-api-internal/src/test/java/io/gravitee/am/management/handlers/internalapi/endpoints/CreateDataPlaneEndpointTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/DataPlaneDefinitionRepository.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/EnvironmentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcDataPlaneDefinitionRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcEnvironmentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/environment/SpringEnvironmentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-dataplanes-table.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDataPlaneDefinitionRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoEnvironmentRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/DataPlaneDefinitionRepositoryTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/EnvironmentRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/EnvironmentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/OrganizationService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/EnvironmentAlreadyBoundToDataPlaneException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EnvironmentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/OrganizationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewDataPlaneDefinition.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
Due: run-container-test

test: cover multiple data planes per environment and hrid provisioning
  gravitee-am-test/api/commands/management/dataplane-provisioning-commands.ts
  gravitee-am-test/specs/management/internal-api/dataplane-provisioning.jest.spec.ts
  gravitee-am-test/specs/management/internal-api/fixtures/dataplane-provisioning-fixture.ts
Due: none

test: automate AM cloud license enforcement coverage (AM-7235/7236/7238/7240/7241) (#8354)
  .circleci/workflows.yml
  docker/local-stack/local-stack.sh
  docker/local-stack/package.json
  gravitee-am-test/api/commands/cloud/cockpit-commands.ts
  gravitee-am-test/api/commands/management/license-management-commands.ts
  gravitee-am-test/package.json
  gravitee-am-test/playwright.config.ts
  gravitee-am-test/playwright/tests/cloud/plugin-license-ui.spec.ts
  gravitee-am-test/playwright/utils/register-paths.ts
  gravitee-am-test/specs/cloud/fixtures/org-license-fixture.ts
  gravitee-am-test/specs/cloud/gateway-org-license.jest.spec.ts
  gravitee-am-test/specs/cloud/organization-license-commands.jest.spec.ts
  gravitee-am-test/specs/cloud/organization-license-endpoint.jest.spec.ts
  gravitee-am-test/specs/cloud/plugin-license-gate.jest.spec.ts
Due: none

fix: fix flaky tests
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-account/src/test/java/io/gravitee/am/gateway/handler/account/resources/AccountEndpointHandlerTest.java
  gravitee-am-test/specs/gateway/am-selfaccount-change-password.jest.spec.ts
Due: none

fix: reserve every gravitee.yml data plane id for provisioning
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
Due: none

feat: register a provisioned data plane without restarting the node
  gravitee-am-management-api/gravitee-am-management-api-internal/src/main/java/io/gravitee/am/management/handlers/internalapi/endpoints/CreateDataPlaneEndpoint.java
  gravitee-am-management-api/gravitee-am-management-api-internal/src/main/java/io/gravitee/am/management/handlers/internalapi/spring/InternalApiConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-internal/src/test/java/io/gravitee/am/management/handlers/internalapi/endpoints/CreateDataPlaneEndpointTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

fix: leave a data plane id free to register again after a failure
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

refactor: publish the provisioned property source from load
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
