Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix(dataplane): accept a null value for a key the schema declares
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-api/src/main/java/io/gravitee/am/plugins/handlers/api/core/StrictJsonSchemaValidator.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-api/src/test/java/io/gravitee/am/plugins/handlers/api/core/StrictJsonSchemaValidatorTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneSchemaFormTest.java
Due: none

test(migration): skip token exchange assertions on components older than 4.11
  gravitee-am-test/specs/migration/fixture/migration-versions.ts
  gravitee-am-test/specs/migration/token-exchange.jest.spec.ts
  scripts/migration-tool/README.md
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
Due: none

docs(migration): add migration test guidelines
  AGENTS.md
  gravitee-am-test/MIGRATION_TEST_GUIDELINES.md
  scripts/migration-tool/README.md
Due: none

fix(ui): add spacing between the identity provider description and the social provider block
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.scss
Due: run_ui_tests

fix(migration-tool): read the deployed versions back for a single stage run
  scripts/migration-tool/README.md
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/lib/infra/kubernetes/Kubectl.mjs
  scripts/migration-tool/lib/providers/K8sProvider.mjs
  scripts/migration-tool/test/unit/K8sProvider.test.mjs
  scripts/migration-tool/test/unit/Kubectl.test.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
Due: none

fix: leave a data plane untouched when a PUT replays its stored settings
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

docs: trim the data plane replay comments
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

feat: XAA jest tests, keycloak as redeemer XAA integration tests
  docker/local-stack/dev/docker-compose.keycloak.yml
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/pom.xml
  gravitee-am-test/specs/gateway/cross-app-access/fixtures/id-jag-issuer.ts
  gravitee-am-test/specs/gateway/cross-app-access/fixtures/id-jag-redemption-fixture.ts
  gravitee-am-test/specs/gateway/cross-app-access/id-jag-redemption-binding.jest.spec.ts
  gravitee-am-test/specs/gateway/cross-app-access/id-jag-redemption-routing.jest.spec.ts
  gravitee-am-test/specs/gateway/cross-app-access/id-jag-redemption-trust.jest.spec.ts
  gravitee-am-test/specs/gateway/cross-app-access/id-jag-redemption.jest.spec.ts
  gravitee-am-test/specs/keycloak/fixtures/keycloak-admin.ts
  gravitee-am-test/specs/keycloak/fixtures/keycloak-id-jag-fixture.ts
  gravitee-am-test/specs/keycloak/fixtures/keycloak-realm.ts
  gravitee-am-test/specs/keycloak/keycloak-id-jag-redemption.jest.spec.ts
  pom.xml
Due: run-container-test

fix(migration-tool): configure AM repositories through Helm values
  scripts/migration-tool/env/k8s/am/am-mongodb-common.yaml
  scripts/migration-tool/env/k8s/am/am-mongodb-gateway-dp1.yaml
  scripts/migration-tool/env/k8s/am/am-mongodb-gateway-dp2.yaml
  scripts/migration-tool/env/k8s/am/am-postgres-common.yaml
  scripts/migration-tool/env/k8s/am/am-postgres-gateway-dp1.yaml
  scripts/migration-tool/env/k8s/am/am-postgres-gateway-dp2.yaml
Due: none

fix(ui): enable the create button again when domain creation fails
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.spec.ts
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.ts
Due: run_ui_tests

feat(ui-next): add flows page on Graphene policy studio and list search
  gravitee-am-ui-next/package.json
  gravitee-am-ui-next/src/app/App.tsx
  gravitee-am-ui-next/src/app/components/PageHeader.tsx
  gravitee-am-ui-next/src/app/components/SearchField.tsx
  gravitee-am-ui-next/src/app/navigation.ts
  gravitee-am-ui-next/src/features/applications/ApplicationsPage.tsx
  gravitee-am-ui-next/src/features/domains/DomainsPage.tsx
  gravitee-am-ui-next/src/features/domains/__tests__/DomainsPage.test.tsx
  gravitee-am-ui-next/src/features/flows/FlowsPage.tsx
  gravitee-am-ui-next/src/features/flows/__tests__/am-flows.test.ts
  gravitee-am-ui-next/src/features/flows/am-flows.ts
  gravitee-am-ui-next/src/features/identity-providers/IdentityProvidersPage.tsx
  gravitee-am-ui-next/src/lib/api/http.ts
  gravitee-am-ui-next/src/lib/api/management-api.ts
  gravitee-am-ui-next/src/main.tsx
  gravitee-am-ui-next/src/styles.css
  gravitee-am-ui-next/yarn.lock
  spike/AM-7349-am-in-gamma-spike-plan.md
  spike/AM-7349-viability-report-and-epics.md
  spike/vendor/graphene-policy-studio-am-spike.tgz
Due: none

feat(ui-next): match the Gamma prototype navigation and add application flows
  gravitee-am-ui-next/src/app/App.tsx
  gravitee-am-ui-next/src/app/Shell.tsx
  gravitee-am-ui-next/src/app/components/DomainSwitcher.tsx
  gravitee-am-ui-next/src/app/components/PlaceholderPage.tsx
  gravitee-am-ui-next/src/app/navigation.ts
  gravitee-am-ui-next/src/features/applications/ApplicationPage.tsx
  gravitee-am-ui-next/src/features/flows/FlowsPage.tsx
  gravitee-am-ui-next/src/features/forms/LoginFormPage.tsx
  gravitee-am-ui-next/src/features/identity-providers/IdentityProviderPage.tsx
  gravitee-am-ui-next/src/features/identity-providers/IdentityProvidersPage.tsx
  gravitee-am-ui-next/src/features/organization/OrganizationLayout.tsx
  gravitee-am-ui-next/src/features/settings/DomainSettingsLayout.tsx
  gravitee-am-ui-next/src/lib/api/management-api.ts
  gravitee-am-ui-next/src/lib/layout/useSectionSidebar.tsx
Due: none

docs(spike): add step 5c results and application flows to the report
  spike/AM-7349-am-in-gamma-spike-plan.md
  spike/AM-7349-viability-report-and-epics.md
Due: none

fix: map audit types for email events by template
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/email/impl/EmailServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/email/EmailServiceImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/EmailServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/EmailServiceImplTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/EmailAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/EmailAuditBuilderTest.java
Due: none

test(migration): declare seeds and requirements with version ranges
  gravitee-am-test/MIGRATION_TEST_GUIDELINES.md
  gravitee-am-test/migration-seeding/bootstrap.test.ts
  gravitee-am-test/migration-seeding/bootstrap.ts
  gravitee-am-test/migration-seeding/seed.ts
  gravitee-am-test/migration-seeding/seeds.ts
  gravitee-am-test/migration-seeding/token-exchange-seed.ts
  gravitee-am-test/migration-seeding/version-range.test.ts
  gravitee-am-test/migration-seeding/version-range.ts
  gravitee-am-test/migration-seeding/versions/4.10/seed.ts
  gravitee-am-test/migration-seeding/versions/4.11/seed.ts
  gravitee-am-test/migration-seeding/versions/4.12/seed.ts
  gravitee-am-test/specs/migration/fixture/migration-versions.ts
  gravitee-am-test/specs/migration/fixture/token-exchange-fixture.ts
  gravitee-am-test/specs/migration/token-exchange.jest.spec.ts
  scripts/migration-tool/README.md
Due: none

fix(jdbc): load mcp tools when listing protected resources
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcProtectedResourceRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ProtectedResourceRepositoryTest.java
Due: run-container-test

fix: scope consent lookups to the requested user
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-account/src/main/java/io/gravitee/am/gateway/handler/account/resources/AccountConsentEndpointHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-account/src/main/java/io/gravitee/am/gateway/handler/account/services/AccountService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-account/src/main/java/io/gravitee/am/gateway/handler/account/services/impl/AccountServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-account/src/test/java/io/gravitee/am/gateway/handler/account/services/AccountServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-users/src/main/java/io/gravitee/am/gateway/handler/users/resources/consents/AbstractUserConsentEndpointHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-users/src/main/java/io/gravitee/am/gateway/handler/users/resources/consents/UserConsentEndpointHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-users/src/test/java/io/gravitee/am/gateway/handler/users/resources/consents/UserConsentEndpointHandlerTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/UserConsentResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/UserConsentResourceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ScopeApprovalService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ScopeApprovalServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ScopeApprovalServiceTest.java
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
