Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

feat: add blueprint agent identity model, persistence, and JWKS endpoints
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationAdvancedSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationAdvancedSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationAdvancedSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
Due: run-container-test

feat: integrate CIMD client metadata document for agent identity
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCache.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataDocument.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataFetcher.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCacheTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

chore: build gamma branch and push images to Azure registry
  .circleci/workflows.yml
  pom.xml
Due: run-container-test

test: add agent and CIMD unit tests and auth flow matrix
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/ApplicationAgentKeysResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapperTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilderTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/user-embedded-pkce.jest.spec.ts
Due: none

fix: CIMD size cap, app pagination; chore: oas, lint
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-ui/src/app/domain/applications/applications.component.scss
Due: run_ui_tests

feat: add agent identity audit events and enrichment
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
Due: none

feat: emit client_profile claim, validate JWKS uploads, address workload-jwt review
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

feat: add agent support to DCR, app creation, and act claim
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-test/specs/gateway/mfa/fixtures/mfa-type-mismatch-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.html
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
Due: run_ui_tests

test: align blueprint tokenEndpointAuthMethod default to client_secret_basic
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
Due: none

feat: add read-only /applications/agents endpoint with agent_applications side table
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/AgentApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/AgentApplicationsResourceTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/ApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/application/SpringApplicationAgentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-agent-applications-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ApplicationService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

refactor: return full Application from /applications/agents instead of projection DTO
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/AgentApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/AgentApplicationsResourceTest.java
Due: none

refactor: drop redundant blueprintClientId on agent Client
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
Due: none

fix: restrict workload-jwt sig verify, pin CIMD DNS, attribute agent key audits
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/ApplicationAgentKeysResourceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
Due: none

feat(ui): expose spiffe_jwt client auth method on application form
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
  gravitee-am-ui/src/app/services/oauth2-settings.service.ts
Due: run_ui_tests

chore(local-stack): add SPIRE compose overlay
  docker/local-stack/dev/docker-compose.spire.yml
  docker/local-stack/dev/spire/agent.conf
  docker/local-stack/dev/spire/agent/Dockerfile
  docker/local-stack/dev/spire/agent/entrypoint.sh
  docker/local-stack/dev/spire/bootstrap/Dockerfile
  docker/local-stack/dev/spire/bootstrap/bootstrap.sh
  docker/local-stack/dev/spire/oidc-provider.conf
  docker/local-stack/dev/spire/scripts/issue-svid.sh
  docker/local-stack/dev/spire/server.conf
  docker/local-stack/package.json
Due: none

chore: regen management API SDK for listAgentApplications
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/ApplicationApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/models/Advanced.ts
  gravitee-am-test/api/management/models/AgentApplication.ts
  gravitee-am-test/api/management/models/AgentApplicationPage.ts
  gravitee-am-test/api/management/models/OAuth.ts
  gravitee-am-test/api/management/models/Settings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

chore(openapi): add listAgentApplications operation and schemas
  docs/mapi/openapi.yaml
Due: none

refactor(ui): collapse AgentSettings into OAuth and polish agent form
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
Due: run-container-test, run_ui_tests

fix(spiffe): reject jwksUrl resolving to private addresses unless allowed
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
Due: none

test: add jest coverage for /applications/agents list endpoint
  gravitee-am-test/api/commands/management/agent-applications-commands.ts
  gravitee-am-test/specs/management/agent-applications/agent-applications.jest.spec.ts
  gravitee-am-test/specs/management/agent-applications/fixtures/agent-applications-fixture.ts
Due: none

feat(spiffe): add Trust Domain management REST API
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainsResource.java
Due: none

chore: PR refactor, clean up comments and regen SDK
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Application.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/elasticsearch/index/audit.ftl
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/models/AgentSettings.ts
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/ApplicationAdvancedSettings.ts
  gravitee-am-test/api/management/models/ApplicationSettings.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationAdvancedSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/user-embedded-pkce.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/fixtures/mfa-type-mismatch-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: run-container-test

feat(spiffe): add gateway client authentication via JWT-SVID
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/TrustBundleService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
Due: none

refactor: route agent assertions via jwt-bearer URN and propagate grant types
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/user-embedded-pkce.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

chore: remove agent keys in favor of existing JWKS
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/ApplicationAgentKeysResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapperTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/services/application-agent-keys.service.ts
Due: run-container-test, run_ui_tests

feat(spiffe): add TrustDomainService with validation and audit
  gravitee-am-service/src/main/java/io/gravitee/am/service/TrustDomainService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/InvalidTrustDomainException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/TrustDomainAlreadyExistsException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/TrustDomainNotFoundException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/UpdateTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchOIDCSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchSpiffeDomainSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/management/TrustDomainAuditBuilder.java
Due: none

chore: docs clean up
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
Due: none

feat(spiffe): add data model and persistence for trust domains
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EntityType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Type.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/OIDCSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeBundleSource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeDomainSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/TrustDomain.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/permissions/Permission.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/TrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcTrustDomain.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/SpringTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-trust-domains-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/SpiffeApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TrustDomainMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/OIDCSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/SpiffeDomainSettingsMongo.java
Due: run-container-test

fix(spiffe): respect per-trust-domain refresh interval and serve stale bundle on fetch error
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
Due: none

refactor(spiffe): extract private-address check into PrivateAddressGuard helper
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/PrivateAddressGuard.java
Due: none

feat(ui): add Trust Domain management screens
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.ts
  gravitee-am-ui/src/app/resolvers/trust-domain.resolver.ts
  gravitee-am-ui/src/app/resolvers/trust-domains.resolver.ts
  gravitee-am-ui/src/app/services/trust-domain.service.ts
Due: run_ui_tests

fix: TCP reporter race; refactor: SSRF pluggability; test alignment
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporter.java
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
Due: run-container-test

test: fix blueprint-agents jwks payload and set private_key_jwt for workload-jwt flows
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

test: drop blueprintClientId references in blueprint-agent jest specs
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
Due: none

refactor: consolidate CIMD lookup; fix: gate jwt-bearer on configured auth method
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCache.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataDocument.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataFetcher.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCacheTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationType.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/elasticsearch/index/audit.ftl
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/DomainRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilderTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
Due: run-container-test, run_ui_tests

fix: address PR review feedback for agent identity
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/DynamicClientRegistrationServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
Due: none

chore: regen openapi spec
  docs/mapi/openapi.yaml
Due: none

feat(ui): add SPIFFE domain settings panel
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.html
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.scss
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.ts
Due: run_ui_tests

fix(spiffe): clearer error for jwt-bearer with SPIFFE sub and guard against null discovery
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
