Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

feat: resolve data plane against the environment during domain creation (#8410)
  docker/local-stack/dev/docker-compose.cloud.yml
  docs/automation/openapi.yaml
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationDomain.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/DomainsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/MultiDataPlaneLoader.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/DataPlaneDefinitionService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewDomain.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
  gravitee-am-test/api/management/models/NewDomain.ts
  gravitee-am-test/playwright.config.ts
  gravitee-am-test/playwright/fixtures/cloud-plugin-license.fixture.ts
  gravitee-am-test/specs/cloud/domain-dataplane-resolution.jest.spec.ts
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
  gravitee-am-test/specs/cloud/email-entrypoint-url.jest.spec.ts
  gravitee-am-test/specs/cloud/entrypoint-cache.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-email-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-entrypoint-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-license-enforcement-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-license-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-shared-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-webauthn-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/org-license-fixture.ts
  gravitee-am-test/specs/cloud/gateway-org-license.jest.spec.ts
  gravitee-am-test/specs/cloud/organization-license-commands.jest.spec.ts
  gravitee-am-test/specs/cloud/organization-license-endpoint.jest.spec.ts
  gravitee-am-test/specs/cloud/organization-license.jest.spec.ts
  gravitee-am-test/specs/cloud/plugin-license-gate.jest.spec.ts
  gravitee-am-test/specs/cloud/webauthn-entrypoint-origin.jest.spec.ts
  gravitee-am-test/specs/management/domain-create.jest.spec.ts
  gravitee-am-test/specs/management/internal-api/fixtures/dataplane-provisioning-fixture.ts
Due: none

test: cover LDAP authentication, role mapping and attributes (AM-7447) (#8393)
  docker/local-stack/dev/docker-compose-ldap.yml
  docker/local-stack/dev/ldap/gravitee-io.ldif
  docker/local-stack/dev/ldap/groups.ldif
  docker/local-stack/dev/ldap/memberof-overlay.ldif
  docker/local-stack/local-stack.sh
  docker/local-stack/package.json
  gravitee-am-test/specs/gateway/ldap/fixtures/ldap-account-link-fixture.ts
  gravitee-am-test/specs/gateway/ldap/fixtures/ldap-fixture.ts
  gravitee-am-test/specs/gateway/ldap/ldap-account-linking-roles.jest.spec.ts
  gravitee-am-test/specs/gateway/ldap/ldap-authentication.jest.spec.ts
  gravitee-am-test/specs/gateway/ldap/ldap-connection-config.jest.spec.ts
  gravitee-am-test/specs/gateway/ldap/ldap-role-mapping.jest.spec.ts
  gravitee-am-test/specs/gateway/ldap/ldap-user-attributes.jest.spec.ts
  gravitee-am-test/specs/management/identity-provider/identity-provider-delete-guard.jest.spec.ts
Due: none

test: cover identity provider selection rules on the login path (AM-7546) (#8423)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/login/LoginSelectionRuleHandlerTest.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/idp/ApplicationIdentityProviderTest.java
Due: none

test: permissions and roles regression automation (AM-7448) (#8394)
  gravitee-am-test/api/commands/management/group-management-commands.ts
  gravitee-am-test/api/commands/management/membership-management-commands.ts
  gravitee-am-test/api/commands/management/role-management-commands.ts
  gravitee-am-test/playwright/fixtures/domain-permissions.fixture.ts
  gravitee-am-test/playwright/fixtures/org-permissions.fixture.ts
  gravitee-am-test/playwright/fixtures/permissions.fixture.ts
  gravitee-am-test/playwright/tests/permissions/application-permission-isolation.spec.ts
  gravitee-am-test/playwright/tests/permissions/application-role-visibility.spec.ts
  gravitee-am-test/playwright/tests/permissions/domain-role-visibility.spec.ts
  gravitee-am-test/playwright/tests/permissions/org-role-visibility.spec.ts
  gravitee-am-test/playwright/tests/permissions/ui-api-parity.spec.ts
  gravitee-am-test/playwright/utils/permissions-helpers.ts
  gravitee-am-test/playwright/utils/test-constants.ts
  gravitee-am-test/scripts/generate-permission-endpoints.js
  gravitee-am-test/specs/management/permissions/cross-reference-isolation.jest.spec.ts
  gravitee-am-test/specs/management/permissions/custom-role-lifecycle.jest.spec.ts
  gravitee-am-test/specs/management/permissions/delegated-admin.jest.spec.ts
  gravitee-am-test/specs/management/permissions/deny-by-default.jest.spec.ts
  gravitee-am-test/specs/management/permissions/endpoint-permission-sweep.jest.spec.ts
  gravitee-am-test/specs/management/permissions/fixtures/permission-endpoints.generated.ts
  gravitee-am-test/specs/management/permissions/fixtures/permission-sweep-tables.ts
  gravitee-am-test/specs/management/permissions/fixtures/rbac-fixture.ts
  gravitee-am-test/specs/management/permissions/fixtures/role-fixture.ts
  gravitee-am-test/specs/management/permissions/list-scoping.jest.spec.ts
  gravitee-am-test/specs/management/permissions/membership-cascade.jest.spec.ts
  gravitee-am-test/specs/management/permissions/organization-role-baseline.jest.spec.ts
  gravitee-am-test/specs/management/permissions/permission-sufficiency.jest.spec.ts
  gravitee-am-test/specs/management/permissions/permission-table-freshness.jest.spec.ts
  gravitee-am-test/specs/management/permissions/protected-resource-tier.jest.spec.ts
  gravitee-am-test/specs/management/permissions/role-assignment-journey.jest.spec.ts
  gravitee-am-test/specs/management/permissions/role-scope-confinement.jest.spec.ts
  gravitee-am-test/specs/management/permissions/write-endpoint-sweep.jest.spec.ts
Due: none

fix: guard service resource listing with DOMAIN_RESOURCE permission
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ServiceResourcesResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/JerseySpringTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ServiceResourcesResourceTest.java
Due: none

fix: guard service resource listing with DOMAIN_RESOURCE permission (#8424)
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ServiceResourcesResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/JerseySpringTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ServiceResourcesResourceTest.java
Due: none

test: cover domain resource listing in the permission sufficiency sweep
  gravitee-am-test/specs/management/permissions/fixtures/permission-sweep-tables.ts
Due: none

fix(console): keep the factor screens usable without DOMAIN_RESOURCE
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/resolvers/factor-resources.resolver.ts
  gravitee-am-ui/src/app/services/resource.service.spec.ts
  gravitee-am-ui/src/app/services/resource.service.ts
Due: run_ui_tests

test: cover token revocation triggers and RFC 7009 endpoint
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/RevocationTokenEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/revocation/RevocationServiceTest.java
  gravitee-am-test/specs/gateway/revocation/fixtures/revocation-fixture.ts
  gravitee-am-test/specs/gateway/revocation/revoke-cross-domain-isolation.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-application-disable.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-scim-disable.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-user-lifecycle.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-user-status-change.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-token-endpoint.jest.spec.ts
Due: none

test: address review feedback on token revocation coverage
  gravitee-am-test/specs/gateway/revocation/fixtures/revocation-fixture.ts
  gravitee-am-test/specs/gateway/revocation/revoke-cross-domain-isolation.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-application-disable.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-scim-disable.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-user-lifecycle.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-user-status-change.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-token-endpoint.jest.spec.ts
Due: none

fix(console): fall back to an empty resource list on any lookup failure
  gravitee-am-ui/src/app/services/resource.service.spec.ts
  gravitee-am-ui/src/app/services/resource.service.ts
Due: run_ui_tests

test: reference AM-7550 from the refresh token characterisation test (AM-7450)
  gravitee-am-test/specs/gateway/revocation/revoke-token-endpoint.jest.spec.ts
Due: none

feat: async mode for token storage
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/OAuth2Provider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenManagerImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationOAuthSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationOAuthSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationOAuthSettings.java
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.ts
Due: run-container-test, run_ui_tests

fix(console): keep the factor screens usable without DOMAIN_RESOURCE (#8425)
  gravitee-am-test/specs/management/permissions/fixtures/permission-sweep-tables.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/resolvers/factor-resources.resolver.ts
  gravitee-am-ui/src/app/services/resource.service.spec.ts
  gravitee-am-ui/src/app/services/resource.service.ts
Due: run_ui_tests

test: cover token revocation triggers and RFC 7009 endpoint (AM-7450) (#8396)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/RevocationTokenEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/revocation/RevocationServiceTest.java
  gravitee-am-test/specs/gateway/revocation/fixtures/revocation-fixture.ts
  gravitee-am-test/specs/gateway/revocation/revoke-cross-domain-isolation.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-application-disable.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-scim-disable.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-user-lifecycle.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-on-user-status-change.jest.spec.ts
  gravitee-am-test/specs/gateway/revocation/revoke-token-endpoint.jest.spec.ts
Due: none

fix: reject invalid permissions
  gravitee-am-model/src/main/java/io/gravitee/am/model/permissions/Permission.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/permissions/PermissionTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/RoleServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/RoleServiceTest.java
  gravitee-am-test/specs/management/permissions/custom-role-lifecycle.jest.spec.ts
Due: none

fix: reconcile and report mongo index creation
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/repository/MongoUserRepository.java
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/test/java/io/gravitee/am/dataplane/mongodb/repository/DataPlaneIndexTest.java
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/main/java/io/gravitee/am/reporter/mongodb/audit/MongoAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/test/java/io/gravitee/am/reporter/mongodb/audit/MongoAuditReporterIndexTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb-api/src/main/java/io/gravitee/am/repository/mongodb/common/MongoIndexManager.java
  gravitee-am-repository/gravitee-am-repository-mongodb-api/src/main/java/io/gravitee/am/repository/mongodb/common/MongoIndexReport.java
  gravitee-am-repository/gravitee-am-repository-mongodb-api/src/main/java/io/gravitee/am/repository/mongodb/common/MongoUtils.java
  gravitee-am-repository/gravitee-am-repository-mongodb-api/src/test/java/io/gravitee/am/repository/mongodb/common/MongoIndexManagerContractTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/EnsureIndexOnStartResolutionTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/MongoIndexAssertions.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/MongoIndexLifecycleTest.java
Due: run-container-test

feat(console): make the pinned identity provider storage fields read-only
  gravitee-am-ui/src/app/domain/settings/providers/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.spec.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.ts
Due: run_ui_tests

fix: pin the storage of an identity provider when an update enables the system cluster
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterIdpPolicy.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/IdentityProviderServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/IdentityProviderServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/idp/SystemClusterIdpPolicyTest.java
Due: none

test: cover the restricted system cluster identity provider
  gravitee-am-test/specs/cloud/fixtures/system-cluster-idp-fixture.ts
  gravitee-am-test/specs/cloud/identity-provider-system-cluster.jest.spec.ts
Due: none

fix(console): stop marking the system cluster toggle read-only
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.spec.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.ts
Due: run_ui_tests

fix(console): keep the identity provider creation form editable in cloud mode
  gravitee-am-ui/src/app/domain/settings/providers/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.ts
Due: run_ui_tests

test: cover enabling the system cluster on update
  gravitee-am-test/specs/cloud/identity-provider-system-cluster.jest.spec.ts
  gravitee-am-test/specs/management/identity-provider/fixtures/idp-fixture.ts
Due: none

test: mock the system cluster policy in the identity provider service test
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/IdentityProviderServiceImplTest.java
Due: none

feat: pin the storage of an identity provider that reuses the system cluster
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/main/java/io/gravitee/am/identityprovider/mongo/MongoAbstractProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/MongoAbstractProviderTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/IdentityProvider.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcIdentityProviderRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcIdentityProvider.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-identities-add-system-cluster-restricted.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoIdentityProviderRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/IdentityProviderMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/IdentityProviderRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterIdpPolicy.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/IdentityProviderServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/IdentityProviderServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/idp/SystemClusterIdpPolicyTest.java
Due: run-container-test

chore(oas): regenerate the management api spec
  docs/mapi/openapi.yaml
Due: none

chore(sdk): regenerate the management api sdk
  gravitee-am-test/api/management/models/IdentityProvider.ts
Due: none

feat: make the pinned identity provider storage rules configurable
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterIdpPolicy.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/idp/SystemClusterIdpPolicyTest.java
Due: none

test: assert the pinned database matches the platform connection uri
  gravitee-am-test/specs/cloud/identity-provider-system-cluster.jest.spec.ts
Due: none

fix: pin the identity provider database only on a mongo platform
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterIdpPolicy.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/idp/SystemClusterIdpPolicyTest.java
Due: none

fix: ignore a caller-supplied identity provider id on non-system creates
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/IdentityProviderServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/IdentityProviderServiceTest.java
Due: none

test: move the system cluster idp setup into its fixture
  gravitee-am-test/specs/cloud/fixtures/system-cluster-idp-fixture.ts
  gravitee-am-test/specs/cloud/identity-provider-system-cluster.jest.spec.ts
Due: none

fix: stop binding the identity provider id from the request body
  docs/mapi/openapi.yaml
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewIdentityProvider.java
Due: none

feat: target data plane by default for default mongo IDPs
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/main/java/io/gravitee/am/identityprovider/mongo/MongoAbstractProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/MongoAbstractProviderTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/DefaultIdentityProviderService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DefaultIdentityProviderServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/DefaultIdentityProviderUpgrader.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DefaultIdentityProviderServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/DefaultIdentityProviderUpgraderTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
Due: none

fix(management-api): check permissions before parsing query parameters
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/ManagementApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/model/AnalyticsParam.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/provider/ProtectedResourceTypeParamConverterProvider.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/CursorApiRequest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AnalyticsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAnalyticsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResourceSearcher.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourcesResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourcesResourceTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcProtectedResourceRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/SpringProtectedResourceRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoProtectedResourceRepository.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ProtectedResourceService.java
Due: run-container-test

chore(management-api): regenerate the openapi spec
  docs/mapi/openapi.yaml
Due: none

test: sweep protected resource and analytics routes for permissions
  gravitee-am-test/specs/management/permissions/fixtures/permission-sweep-tables.ts
  gravitee-am-test/specs/management/permissions/protected-resource-tier.jest.spec.ts
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
