Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix(cimd): tighten agent application metadata, grants, and UI menu visibility
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
Due: run_ui_tests

test: rename Application.subType to kind in jest specs
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/FilteredApplication.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/NewCimdApplication.ts
  gravitee-am-test/api/management/models/PatchApplication.ts
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/management/agent-applications/fixtures/agent-applications-fixture.ts
  gravitee-am-test/specs/management/applications/cimd-application-creation.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

refactor(ui): rename Application.subType to kind
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
Due: run_ui_tests

refactor: rename Application.subType to kind
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Application.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-applications-add-kind.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewCimdApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplication.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

test(cimd): align redirect_uris fetcher tests with relaxed validation
  gravitee-am-service/src/test/java/io/gravitee/am/service/cimd/CimdMetadataFetcherTest.java
Due: none

refactor: extract ai_agent claim value into ClientProfile
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/ClientProfile.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
Due: none

chore(sdk): regenerate management SDK for CIMD subType
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/ApplicationApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/models/CimdValidationRequest.ts
  gravitee-am-test/api/management/models/CimdValidationResponse.ts
  gravitee-am-test/api/management/models/ClientMetadata.ts
  gravitee-am-test/api/management/models/Missing.ts
  gravitee-am-test/api/management/models/NewCimdApplication.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

test(cimd): cover agent subType creation
  gravitee-am-test/specs/management/applications/cimd-application-creation.jest.spec.ts
Due: none

fix: reduce cimd_metadata_documents client_id length to fit MySQL/MariaDB index limit
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-add-cimd-metadata-documents.yml
Due: run-container-test

chore: update OAS
  docs/mapi/openapi.yaml
Due: none

feat(cimd): support AGENT subType and relax redirect_uris for autonomous agents
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewCimdApplication.java
Due: none

refactor: share http URL trust validator between SPIFFE create and fetch
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/PrivateAddressGuard.java
Due: none

fix(cimd): allow loopback redirect URIs for URL-shaped client_ids per RFC 8252 §7.3
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/common/RedirectUriValidationHandler.java
Due: none

fix(cimd): support CIBA flows and template scopes for agent applications
  docker/local-stack/dev/wiremock/request-cimd.json
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/CimdResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/CimdClientMetadata.java
  gravitee-am-test/specs/gateway/ciba/agent-blueprint-ciba.jest.spec.ts
  gravitee-am-test/specs/gateway/ciba/fixtures/agent-ciba-fixture.ts
Due: none

chore: update OAS spec
  docs/mapi/openapi.yaml
Due: none

test: add TrustDomainRepository contract test for Mongo/JDBC parity
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/TrustDomainRepositoryTest.java
Due: run-container-test

chore: run SPIRE local-stack containers as non-root and add agent healthcheck
  docker/local-stack/dev/docker-compose.spire.yml
  docker/local-stack/dev/spire/agent/Dockerfile
  docker/local-stack/dev/spire/bootstrap/Dockerfile
  docker/local-stack/dev/spire/bootstrap/bootstrap.sh
Due: none

test: backfill unit tests for SPIFFE/agent-jwt-bearer validators and trust domain services
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/AgentJwtBearerClientAssertionValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/SpiffeClientAssertionValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImplTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/TrustDomainServiceImplTest.java
Due: none

fix: log loopback URI parse failures and clarify CIMD audience fallback
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/common/RedirectUriValidationHandler.java
Due: none

fix: respect application type filter when combined with status or owner
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/search/ApplicationCriteria.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/AbstractDialectHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/ApplicationFilter.java
Due: run-container-test

fix(ui): surface SPIFFE settings save errors instead of swallowing them
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.ts
Due: run_ui_tests

fix: audit trust domain validation, duplicate, not-found and wrong-domain failures
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/TrustDomainServiceImplTest.java
Due: none

chore: refactor assertion to strategy pattern
  .circleci/config.yml
  .circleci/workflows.yml
  docker/local-stack/package.json
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/common/RedirectUriValidationHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/spring/CIBAConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/AgentJwtBearerClientAssertionValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/JwtAssertionSupport.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/JwtBearerClientAssertionValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/SpiffeClientAssertionValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/spring/OAuth2Configuration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
Due: none

fix(ui): type SPIFFE settings error handler as unknown for lint
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.ts
Due: run_ui_tests

fix: fallback on computation scheduler once Application repository has been executed
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
Due: run-container-test

test: align ApplicationsResource agent-type stubs with filter-aware overloads
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
Due: none

fix(oidc): wire JWT client assertion validators with protected-resource-aware lookup
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
Due: none

fix: add repository fallback to ClientSyncServiceImpl for immediate DCR client visibility
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/impl/ClientSyncServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/ClientSyncServiceRepositoryFallbackTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/ClientSyncServiceTest.java
Due: none
