Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

test(entrypoint): cloud jest for domain entrypoint URL endpoint
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
Due: none

feat(entrypoint): resolve domain entrypoint URL from environment in cloud mode
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

test(entrypoint): assert cloud fallback entrypoint url is never null
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
Due: none

refactor(entrypoint): select default-flagged env entrypoint, else first in list
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

fix(entrypoint): fall back to org entrypoint when environment has no access points
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

test(entrypoint): assert cloud entrypoint list is never empty
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
Due: none

fix: validate command payloads
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/InstallationCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/MembershipCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/OrganizationCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/RequiredPayloadFields.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/UserCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/InstallationCommandHandlerTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/MembershipCommandHandlerTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/OrganizationCommandHandlerTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/RequiredPayloadFieldsTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/UserCommandHandlerTest.java
  gravitee-am-test/api/commands/cloud/cockpit-commands.ts
  gravitee-am-test/specs/cloud/command-validation.jest.spec.ts
Due: none

docs: describe cloud mode
  docker/local-stack/README.md
  docs/agent-standards/skills/local-stack/SKILL.md
Due: none

test: poll for normal login page after disabling webauthn device recognition
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-device-recognition.spec.ts
Due: none

ci: parallelise the testcontainer maven builds with -T 1C
  .circleci/workflows.yml
Due: none

test: extend async wait budgets in flaky playwright specs
  gravitee-am-test/playwright/tests/oauth/token-exchange/revocation.spec.ts
  gravitee-am-test/playwright/tests/security/certificates/fallback.spec.ts
  gravitee-am-test/playwright/utils/token-exchange-helpers.ts
Due: none

fix: always render current domain section in navbar picker
  gravitee-am-ui/src/app/components/navbar/navbar.component.ts
Due: run_ui_tests

fix: stop sync manager collapsing concurrent revoke token events
  gravitee-am-gateway/gravitee-am-gateway-services/gravitee-am-gateway-services-sync/src/main/java/io/gravitee/am/gateway/services/sync/SyncManager.java
  gravitee-am-gateway/gravitee-am-gateway-services/gravitee-am-gateway-services-sync/src/test/java/io/gravitee/am/gateway/services/sync/SyncManagerTest.java
Due: none

test(identityprovider): use dynamic wiremock ports to avoid parallel build collisions
  gravitee-am-identityprovider/gravitee-am-identityprovider-github/src/test/java/io/gravitee/am/identityprovider/github/authentication/GithubAuthenticationProviderTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-http/src/test/java/io/gravitee/am/identityprovider/http/authentication/HttpAuthenticationProviderTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-http/src/test/java/io/gravitee/am/identityprovider/http/user/HttpUserProviderTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest.java
Due: none

ci: parallelise the junit_tests verify job with -T 1C
  .circleci/workflows.yml
Due: none

refactor(cloud-mode): expose installation type instead of a managed flag
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/env/CloudProperties.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/env/CloudPropertiesTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/configuration/ConfigurationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/EntrypointResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/EntrypointsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/PluginLicenseGateImplTest.java
  gravitee-am-ui/src/app/domain/settings/entrypoints/entrypoints.component.html
  gravitee-am-ui/src/app/domain/settings/entrypoints/entrypoints.component.ts
  gravitee-am-ui/src/app/services/cloud-mode.service.ts
  gravitee-am-ui/src/app/settings/management/entrypoints/entrypoint/entrypoint.component.html
  gravitee-am-ui/src/app/settings/management/entrypoints/entrypoint/entrypoint.component.ts
  gravitee-am-ui/src/app/settings/management/entrypoints/entrypoints.component.ts
Due: run_ui_tests

ci: parallelise the PR maven build with -T 1C
  .circleci/workflows.yml
Due: none

feat(cloud-mode): lock down entrypoint config and VHost mode in Cloud Mode
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/AbstractResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/entrypoints/EntrypointResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/entrypoints/EntrypointsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/configuration/ConfigurationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/EntrypointResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/EntrypointsResourceTest.java
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/settings/entrypoints/entrypoints.component.html
  gravitee-am-ui/src/app/domain/settings/entrypoints/entrypoints.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/entrypoints/entrypoints.component.ts
  gravitee-am-ui/src/app/services/cloud-mode.service.ts
  gravitee-am-ui/src/app/settings/management/entrypoints/entrypoint/entrypoint.component.html
  gravitee-am-ui/src/app/settings/management/entrypoints/entrypoint/entrypoint.component.ts
  gravitee-am-ui/src/app/settings/management/entrypoints/entrypoints.component.html
  gravitee-am-ui/src/app/settings/management/entrypoints/entrypoints.component.ts
Due: run_ui_tests

fix(distribution): bundle gravitee-node-logging so @CustomLog loggers resolve at runtime
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/pom.xml
Due: run-container-test

build: enforce archunit logging rules on java 25 via archunit 1.4.1 override
  pom.xml
Due: run-container-test

fix(distribution): bundle gravitee-node-logging in ciba and fapi sample service images
  gravitee-am-ciba-delegated-service/pom.xml
  gravitee-am-fapi-resource-api/pom.xml
Due: run-container-test

ci: run jdbc testcontainer tests sequentially instead of under -T 1C
  .circleci/workflows.yml
Due: none

test(oauth2-generic): settle before asserting retries stopped so it survives -T 1C load
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest.java
Due: none

test(reporter-jdbc): poll for the async bulk flush instead of a fixed sleep in the aggregation count test
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/audit/JdbcAuditReporterTest.java
Due: run-container-test

ci: trim over-verbose -T 1C parallelism comments in workflow config
  .circleci/workflows.yml
Due: none

test(reporter-jdbc): poll the aggregation count with awaitility instead of Thread.sleep
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/audit/JdbcAuditReporterTest.java
Due: run-container-test

fix: map unique-constraint violations in racy user creation requests
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/pom.xml
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/main/java/io/gravitee/am/identityprovider/jdbc/user/JdbcUserProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/authentication/JdbcAuthenticationProviderTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/authentication/JdbcAuthenticationProvider_MSSQLTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/authentication/JdbcAuthenticationProvider_MariaDBTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/authentication/JdbcAuthenticationProvider_MySQLTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/authentication/JdbcAuthenticationProvider_PostgreSQLTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/configuration/JdbcAuthenticationProviderConfigurationTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/configuration/JdbcAuthenticationProviderConfigurationTest_MSSQL.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/configuration/JdbcAuthenticationProviderConfigurationTest_MariaDB.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/configuration/JdbcAuthenticationProviderConfigurationTest_MySQL.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/configuration/JdbcAuthenticationProviderConfigurationTest_PostgreSQL.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/user/JdbcUserProvider_MSSQLTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/user/JdbcUserProvider_MariaDBTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/user/JdbcUserProvider_MySQLTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/user/JdbcUserProvider_PostgreSQLTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/java/io/gravitee/am/identityprovider/jdbc/user/JdbcUserProvider_Test.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/src/test/resources/container-license-acceptance.txt
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/main/java/io/gravitee/am/identityprovider/mongo/user/MongoUserProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/user/MongoUserProviderTest.java
Due: run-container-test

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
