Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: make application search on mongo constantly ordered
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
Due: run-container-test

fix: display SAML settings
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
Due: run_ui_tests

test: add migration test for AM-6174 backward-compatible enum filtering
  gravitee-am-test/package.json
  gravitee-am-test/specs/migration/backward-compat-enums.jest.spec.ts
  scripts/migration-tool/lib/Orchestrator.mjs
Due: none

chore: update upgrade magic link and SAML idp plugin for 4.11.0
  pom.xml
Due: run-container-test

docs: add migration test candidate analysis for AM-5325
  scripts/migration-tool/docs/migration-test-candidates.md
Due: none

fix: use existing helper functions for API access in migration test
  gravitee-am-test/specs/migration/backward-compat-enums.jest.spec.ts
Due: none

fix redundant check
  gravitee-am-test/specs/migration/backward-compat-enums.jest.spec.ts
Due: none

fix: invalidate the user cache when user is updated
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/UserEvent.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/service/mfa/impl/UserEventListenerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/main/java/io/gravitee/am/gateway/handler/scim/service/impl/ProvisioningUserServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ManagementUserServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/ManagementUserServiceTest.java
Due: none

test: add Jest integration tests for automation API
  gravitee-am-test/specs/management/automation/TESTING.md
  gravitee-am-test/specs/management/automation/domains.jest.spec.ts
  gravitee-am-test/specs/management/automation/environments.jest.spec.ts
  gravitee-am-test/specs/management/automation/identity-providers.jest.spec.ts
  gravitee-am-test/specs/management/automation/walkthrough.jest.spec.ts
Due: none

feat: add automation API module with resource endpoints and security
  docker/local-stack/dev/docker-compose.yml
  gravitee-am-management-api/gravitee-am-management-api-automation/WALKTHROUGH.md
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/AutomationApplication.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationDomainDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationEnvironmentDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationIdentityProviderDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/AbstractAutomationResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/IdentityProviderResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/IdentityProvidersResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/OrganizationResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/swagger/AutomationApiDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-security/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-security/src/main/java/io/gravitee/am/management/handlers/automation/security/SecurityAutomationConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-automation/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/SecurityConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/filter/ManagementSecurityConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/server/ManagementApiServer.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
Due: run-container-test

feat: add OpenAPI spec for automation API
  docs/automation/openapi.yaml
Due: none

feat: add managedBy field to Domain and IdentityProvider models
  gravitee-am-model/src/main/java/io/gravitee/am/model/Domain.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/IdentityProvider.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/ManagedBy.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcDomain.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcIdentityProvider.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-add-managed-by-column.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoIdentityProviderRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/DomainMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/IdentityProviderMongo.java
Due: run-container-test

feat: add AutomationNew* subclasses with deterministic IDs
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/AutomationNewDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/AutomationNewEnvironment.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/AutomationNewIdentityProvider.java
Due: none

feat: add permission checks to automation API resources and use Lombok for definitions
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationEnvironmentDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/AbstractAutomationResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/IdentityProviderResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/IdentityProvidersResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/filter/ManagementSecurityConfiguration.java
Due: none

fix: namespace automation operationIds, add validation limits, and fix env delete status code
  docs/automation/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationDomainDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationEnvironmentDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationIdentityProviderDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/IdentityProviderResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/IdentityProvidersResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/swagger/AutomationApiDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/filter/ManagementSecurityConfiguration.java
  gravitee-am-test/specs/management/environments.jest.spec.ts
Due: none

fix: skip fine-grained ACL checks on automation environment endpoints
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentsResource.java
Due: none

fix: use dedicated BearerAuthenticationFilter instance for automation security chain
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-security/src/main/java/io/gravitee/am/management/handlers/automation/security/SecurityAutomationConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/filter/ManagementSecurityConfiguration.java
Due: none

fix: define automation bearer filter as a Spring-managed bean
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-security/src/main/java/io/gravitee/am/management/handlers/automation/security/SecurityAutomationConfiguration.java
Due: none

refactor: isolate automation security chain from management security
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-security/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-automation/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/SecurityConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/filter/AutomationSecurityConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/pom.xml
Due: run-container-test

fix: guard error handling, add validation, fail-fast auth, and UTF-8 deterministic IDs
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationEnvironmentDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/AbstractAutomationResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/IdentityProviderResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/IdentityProvidersResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/filter/AutomationSecurityConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/server/SafeClassLoaderServletContextHandler.java
Due: none

fix: replace AbstractAuthenticationProcessingFilter with OncePerRequestFilter for automation auth
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/filter/AutomationBearerTokenFilter.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/filter/AutomationSecurityConfiguration.java
Due: none

refactor: isolate automation API into separate servlet context with own security chain
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/spring/AutomationConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/spring/security/AutomationBearerTokenFilter.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/spring/security/AutomationSecurityConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/SecurityConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/server/ManagementApiServer.java
Due: run-container-test

test: add unit tests for AutomationBearerTokenFilter and fix missing servlet-api dependency
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/spring/security/AutomationBearerTokenFilterTest.java
Due: run-container-test

fix: use ContextHandler[] for ContextHandlerCollection constructor
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/server/ManagementApiServer.java
Due: none

fix: add entry point bean and use AntPathRequestMatcher in automation security config
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/spring/security/AutomationSecurityConfiguration.java
Due: none

docs: add Stage 3 validation and update migration-test-candidates (AM-5325)
  scripts/migration-tool/docs/deep-scan-results/stage3-validation.md
  scripts/migration-tool/docs/migration-test-candidates.md
Due: none

fix: remove duplicate IdP CRUD tests from gateway spec
  gravitee-am-test/specs/gateway/idp-login/idp-login.jest.spec.ts
Due: none

fix: add Jira traceability to existing management IdP CRUD tests
  gravitee-am-test/specs/management/identity-provider/identity-provider.jest.spec.ts
Due: none

refactor: move regression-misc tests to feature-aligned folders
  gravitee-am-test/GUIDELINES.md
  gravitee-am-test/specs/gateway/flows/fixture/flow-policy-fixture.ts
  gravitee-am-test/specs/gateway/flows/flow-policy.jest.spec.ts
  gravitee-am-test/specs/gateway/regression-misc/regression-misc.jest.spec.ts
  gravitee-am-test/specs/management/api-verification.jest.spec.ts
  gravitee-am-test/specs/management/dictionary-entries.jest.spec.ts
  gravitee-am-test/specs/management/domain-create.jest.spec.ts
Due: none

test: add Jest E2E core regression tests (28 tests) (#7600)
  gravitee-am-test/GUIDELINES.md
  gravitee-am-test/specs/gateway/flows/fixture/flow-policy-fixture.ts
  gravitee-am-test/specs/gateway/flows/flow-policy.jest.spec.ts
  gravitee-am-test/specs/gateway/forgot-password/forgot-password-inherited.jest.spec.ts
  gravitee-am-test/specs/gateway/idp-login/fixtures/idp-login-fixture.ts
  gravitee-am-test/specs/gateway/idp-login/idp-login.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/fixture/mfa-extract-fixture.ts
  gravitee-am-test/specs/gateway/oauth-flows/oauth-flows.jest.spec.ts
  gravitee-am-test/specs/gateway/registration/fixture/user-registration.ts
  gravitee-am-test/specs/gateway/registration/user-registration.jest.spec.ts
  gravitee-am-test/specs/gateway/token-auth-methods/fixtures/token-auth-fixture.ts
  gravitee-am-test/specs/gateway/token-auth-methods/token-auth-methods.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/fixtures/token-claims-fixture.ts
  gravitee-am-test/specs/gateway/token-claims/token-claims.jest.spec.ts
  gravitee-am-test/specs/management/api-verification.jest.spec.ts
  gravitee-am-test/specs/management/dictionary-entries.jest.spec.ts
  gravitee-am-test/specs/management/domain-create.jest.spec.ts
  gravitee-am-test/specs/management/identity-provider/identity-provider.jest.spec.ts
Due: none

fix(gateway): defer MFA optional skip until skip persistence completes
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpointTest.java
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
