Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

chore(test): regenerate the audit and reporter parts of the management SDK
  gravitee-am-test/api/commands/management/audit-management-commands.ts
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/AuditApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/apis/UserApi.ts
  gravitee-am-test/api/management/models/AuditPage.ts
  gravitee-am-test/api/management/models/Reporter.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

test(reporter-elasticsearch): assert elasticsearch serves reads without disabling the database reporter
  gravitee-am-test/specs/gateway/reporters/domain-reporter-elasticsearch.jest.spec.ts
  gravitee-am-test/specs/gateway/reporters/fixture/domain-reporter-elasticsearch-fixture.ts
Due: none

feat(reporter-elasticsearch): make the index rollover period configurable
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/README.md
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchReporterConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexNames.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/BulkBatch.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/IndexRolloverPeriod.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/resources/schemas/schema-form.json
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexNamesTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/BulkBatchTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/IndexRolloverPeriodTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/RolloverBoundaryReadPathTest.java
Due: run-container-test

fix(reporter-elasticsearch): drop audits loudly on an unusable rollover period instead of failing the domain's reporters
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/ReportersResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ReportersResource.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/IndexRolloverPeriodTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/RolloverBoundaryReadPathTest.java
Due: run-container-test

feat(reporter-elasticsearch): enforce the index name rule in the plugin schema
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/resources/schemas/schema-form.json
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexNameSchemaTest.java
Due: run-container-test

fix(mapi): resolve audit reads to a reporter that can actually answer them
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/ReporterRuntimeState.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/ReporterResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/ReportersResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ReporterResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ReportersResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/JerseySpringTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/ReporterResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ReporterResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ReportersResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/AuditReporterManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ManagementAuditReporterManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ManagementAuditReporterManagerTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Reporter.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/ReporterStatus.java
  gravitee-am-reporter/gravitee-am-reporter-api/src/main/java/io/gravitee/am/reporter/api/provider/Reporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/IndexTemplateFailureTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/PreparationLifecycleTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/AuditReporterSelection.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/vertx/EventBusReporterWrapper.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/AuditReporterSelectionTest.java
Due: run-container-test

feat(console): name reporter types and surface failed and inherited reporters
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter-type-label.spec.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter-type-label.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/reporter.component.html
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/reporter.component.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/settings.component.html
  gravitee-am-ui/src/app/domain/settings/audits/settings/settings.component.ts
Due: run_ui_tests

test(reporter-elasticsearch): cover index name rejection and fall-through from a broken reporter
  gravitee-am-test/api/commands/utils/elasticsearch-client.ts
  gravitee-am-test/api/management/models/Reporter.ts
  gravitee-am-test/specs/gateway/reporters/domain-reporter-elasticsearch.jest.spec.ts
Due: none

chore(dep): bump gravitee-bom to 9.0.5
  pom.xml
Due: run-container-test

refactor(common): let the write stream registry share any connection-scoped resource
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/WriteStreamRegistry.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/utils/WriteStreamRegistryTest.java
Due: none

fix(reporter-elasticsearch): refuse a date histogram that would exceed the Elasticsearch bucket limit
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchQueryBuilder.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchQueryBuilderTest.java
Due: run-container-test

feat(reporter-elasticsearch): send audits to the cluster through an egress proxy
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/README.md
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchReporterConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/spring/ElasticsearchClientConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/resources/schemas/schema-form.json
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/ProxyConfigurationTest.java
Due: run-container-test

fix(reporter-elasticsearch): keep audit reporting off the event loop and attribute every drop to its domain
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/README.md
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/AuditDropCounter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/BulkBatch.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/AuditDropCounterTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/BulkResilienceTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/ConcurrentReportingTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/RetryBackoffTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/SerializationThreadTest.java
Due: run-container-test

feat(reporter-elasticsearch): share one client between reporters pointing at the same cluster
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/README.md
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchReporterConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/spring/ElasticsearchClientConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/spring/SharedElasticsearchClient.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/ReporterHarness.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/SharedClientKeyTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/SharedClientLifecycleTest.java
Due: run-container-test

test(performance): provision an Elasticsearch reporter in the gatling simulations
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/commands/ManagementAPICalls.scala
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/management/provisioning/AddElasticsearchReporter.scala
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/utils/SimulationSettings.scala
Due: none

fix: create the WWW_TARGET before copying the ui files
  docker/management-ui/Dockerfile
  docker/management-ui/Dockerfile-dev
Due: none

test: (AM-7330) enhance automated tests for domain picker feature (#8298)
  gravitee-am-test/playwright/pages/home.page.ts
  gravitee-am-test/playwright/pages/navbar.page.ts
  gravitee-am-test/playwright/tests/navbar/domain-picker.spec.ts
  gravitee-am-test/specs/management/user-preferences.jest.spec.ts
  gravitee-am-ui/src/app/components/navbar/navbar.component.html
  gravitee-am-ui/src/app/services/user-preferences.service.spec.ts
  gravitee-am-ui/src/app/settings/domains/domains.component.html
Due: run_ui_tests

feat: send managed cloud access point templates to Cockpit on hello
  docker/local-stack/dev/docker-compose.cloud.yml
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/CockpitAccessService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/CockpitAccessServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/adapter/HelloCommandAdapter.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/model/AccessPointTemplate.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/CockpitAccessServiceImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/adapter/HelloCommandAdapterTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
Due: none

feat: prefer the overriding access point when resolving an environment entrypoint
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/EntryPointManager.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/EntrypointService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/AbstractEntryPointManagerTest.java
Due: none

test: cover the overriding access point in the cloud entrypoint specs
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-entrypoint-fixture.ts
Due: none

fix: fall back when every resolved entrypoint is flagged default
  gravitee-am-ui/src/app/services/domain.service.ts
Due: run_ui_tests

test: cover the empty organization default entrypoint branch
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

chore: record why domain readiness reports the raw entrypoint cache
  gravitee-am-gateway/gravitee-am-gateway-services/gravitee-am-gateway-services-sync/src/main/java/io/gravitee/am/gateway/services/sync/api/DomainReadinessEndpoint.java
Due: none

test: assert several overriding access points all resolve
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
Due: none

refactor: distinguish raw and resolved environment entrypoint lookups
  gravitee-am-gateway/gravitee-am-gateway-services/gravitee-am-gateway-services-sync/src/main/java/io/gravitee/am/gateway/services/sync/api/DomainReadinessEndpoint.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ManagementEntryPointManagerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/EntryPointManager.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/EntrypointService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/AbstractEntryPointManager.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/AbstractEntryPointManagerTest.java
Due: none
