Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

chore(cimd): regenerate OpenAPI for nested CIMD validate response
  docs/mapi/openapi.yaml
Due: none

feat(cimd): bootstrap application creation from a CIMD URL
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/CimdResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ApplicationService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/CimdMetadataDocumentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/CimdMetadataDocumentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/CimdPreview.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewCimdApplication.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/cimd/CimdMetadataFetcherTest.java
Due: none

test(cimd): assert nested metadata shape on validate response
  gravitee-am-test/specs/management/applications/cimd-application-creation.jest.spec.ts
Due: none

chore(cimd): regenerate OpenAPI spec for new validate/applications endpoints
  docs/mapi/openapi.yaml
Due: none

feat(cimd): redesign import-mode chooser and CIMD confirm step with metadata dialog
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.scss
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/cimd-metadata-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/cimd-metadata-dialog.component.scss
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/cimd-metadata-dialog.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.scss
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.ts
Due: run_ui_tests

refactor(cimd): consume nested metadata from validate response in creation UI
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.ts
Due: run_ui_tests

feat(cimd): add CIMD toggle and preview step to application creation UI
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.html
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.scss
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.ts
  gravitee-am-ui/src/app/services/application.service.ts
Due: run_ui_tests

refactor(cimd): rename CimdPreview, isolate fetcher, share validation rules, default SAML
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/CimdResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/CimdMetadataDocumentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdValidationRules.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/CimdMetadataDocumentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/CimdClientMetadata.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/cimd/CimdMetadataFetcherTest.java
Due: none

feat(cimd): simplify CIMD step to URL-only with auto-populated name
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
Due: run_ui_tests

refactor(cimd): nest validate response metadata under IANA-aligned schema
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/CimdResource.java
Due: none

feat(cimd): map full RFC 7591 metadata onto application and synthesized client
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/CimdResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/CimdPreview.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/cimd/CimdMetadataFetcherTest.java
Due: none

feat(cimd): drop identity provider option from CIMD application creation
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewCimdApplication.java
Due: none

test(cimd): integration tests for CIMD-bootstrapped application creation
  gravitee-am-test/specs/management/applications/cimd-application-creation.jest.spec.ts
Due: none

fix: addition of access log
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/RootProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/handler/GraviteeLoggerHandler.java
Due: none

chore(dep): upgrade thymeleaf to latest patch version
  pom.xml
Due: run-container-test

feat(aauth): add AAUTH protocol plugin scaffold with PS metadata endpoint
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/pom.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/assembly/plugin-assembly.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/AAuthProtocol.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/AAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPSMetadataEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/metadata/AAuthPSMetadata.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/resources/plugin.properties
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/AAuthProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPSMetadataEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/test/fixtures/TestAAuthDomainFactory.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/VertxSecurityDomainHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/pom.xml
Due: run-container-test

feat(aauth): add agent identity via JWKS URI scheme and PS JWKS endpoint
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/pom.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/AAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthJWKSEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/AgentMetadata.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/AgentMetadataFetcher.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/JWKSDocument.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/JWKSUriScheme.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/AgentMetadataFetcherTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/JWKSDocumentTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/JWKSUriSchemeTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/test/fixtures/MockAgentMetadataServer.java
Due: run-container-test

feat(aauth): add HTTP Message Signature verification (HWK scheme)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthSignatureHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/metadata/AAuthPSMetadata.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/AAuthSignatureVerifier.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/ContentDigestValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/ReplayDetector.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/SignatureBaseBuilder.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/SignatureInputInfo.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/SignatureInputParser.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/SignatureKeyInfo.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/SignatureKeyParser.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/SignatureVerificationException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/VerificationResult.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/HeaderWebKeyScheme.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/ResolvedKey.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/SignatureScheme.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/SignatureSchemeFactory.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/util/AAuthIdentifierValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthSignatureHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/signing/AAuthSignatureVerifierTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/signing/ContentDigestValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/signing/ReplayDetectorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/signing/SignatureKeyParserTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/HeaderWebKeySchemeTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/test/fixtures/TestAgentKeyPairFactory.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/test/fixtures/TestSignatureBuilder.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/util/AAuthIdentifierValidatorTest.java
Due: none

feat(aauth): add agent application lifecycle with auto-registration
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthAgentResolveHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/registry/AAuthAgentRegistry.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/registry/AAuthAgentRegistryImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/AAuthSignatureVerifier.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/VerificationResult.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/registry/AAuthAgentRegistryImplTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationType.java
Due: none

feat(aauth): add management console UI for AAUTH agents
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/application/ApplicationAAuthAgentTemplate.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/application/DefaultApplicationTemplateManager.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/GrantTypeUtils.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/application/ApplicationAAuthAgentTemplateTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/utils/GrantTypeUtilsTest.java
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/general/general.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/general/general.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/secrets-certificates/secrets-certificates.component.html
  gravitee-am-ui/src/app/domain/applications/application/endpoints/endpoints.component.html
  gravitee-am-ui/src/app/domain/applications/application/endpoints/endpoints.component.ts
  gravitee-am-ui/src/app/domain/applications/application/overview/overview.component.html
  gravitee-am-ui/src/app/domain/applications/application/overview/overview.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
Due: run_ui_tests
