Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

refactor: consolidate CIMD lookup; fix: gate jwt-bearer on configured auth method
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCache.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataDocument.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataFetcher.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCacheTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationType.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/elasticsearch/index/audit.ftl
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/DomainRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilderTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
Due: run-container-test, run_ui_tests

feat: add blueprint agent identity model, persistence, and JWKS endpoints
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationAdvancedSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationAdvancedSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationAdvancedSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
Due: run-container-test

fix: CIMD size cap, app pagination; chore: oas, lint
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-ui/src/app/domain/applications/applications.component.scss
Due: run_ui_tests

feat: add agent identity audit events and enrichment
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
Due: none

test: fix blueprint-agents jwks payload and set private_key_jwt for workload-jwt flows
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

chore: PR refactor, clean up comments and regen SDK
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Application.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/elasticsearch/index/audit.ftl
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/models/AgentSettings.ts
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/ApplicationAdvancedSettings.ts
  gravitee-am-test/api/management/models/ApplicationSettings.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationAdvancedSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/user-embedded-pkce.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/fixtures/mfa-type-mismatch-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: run-container-test

refactor: return full Application from /applications/agents instead of projection DTO
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/AgentApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/AgentApplicationsResourceTest.java
Due: none

test: add jest coverage for /applications/agents list endpoint
  gravitee-am-test/api/commands/management/agent-applications-commands.ts
  gravitee-am-test/specs/management/agent-applications/agent-applications.jest.spec.ts
  gravitee-am-test/specs/management/agent-applications/fixtures/agent-applications-fixture.ts
Due: none

chore: regen management API SDK for listAgentApplications
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/ApplicationApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/models/Advanced.ts
  gravitee-am-test/api/management/models/AgentApplication.ts
  gravitee-am-test/api/management/models/AgentApplicationPage.ts
  gravitee-am-test/api/management/models/OAuth.ts
  gravitee-am-test/api/management/models/Settings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

feat: add read-only /applications/agents endpoint with agent_applications side table
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/AgentApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/AgentApplicationsResourceTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/ApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/application/SpringApplicationAgentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-agent-applications-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ApplicationService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

feat(ui): expose spiffe_jwt client auth method on application form
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
  gravitee-am-ui/src/app/services/oauth2-settings.service.ts
Due: run_ui_tests

fix(spiffe): reject jwksUrl resolving to private addresses unless allowed
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
Due: none

feat(spiffe): use jwt-spiffe client assertion type instead of jwt-bearer
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none

chore: docs clean up
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
Due: none

feat(ui): add Trust Domain management screens
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.ts
  gravitee-am-ui/src/app/resolvers/trust-domain.resolver.ts
  gravitee-am-ui/src/app/resolvers/trust-domains.resolver.ts
  gravitee-am-ui/src/app/services/trust-domain.service.ts
Due: run_ui_tests

chore(local-stack): add SPIRE compose overlay
  docker/local-stack/dev/docker-compose.spire.yml
  docker/local-stack/dev/spire/agent.conf
  docker/local-stack/dev/spire/agent/Dockerfile
  docker/local-stack/dev/spire/agent/entrypoint.sh
  docker/local-stack/dev/spire/bootstrap/Dockerfile
  docker/local-stack/dev/spire/bootstrap/bootstrap.sh
  docker/local-stack/dev/spire/oidc-provider.conf
  docker/local-stack/dev/spire/scripts/issue-svid.sh
  docker/local-stack/dev/spire/server.conf
  docker/local-stack/package.json
Due: none

refactor(ui): group SPIFFE settings and Trust Domains under Workload Identity menu
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.html
Due: run_ui_tests

refactor: drop redundant blueprintClientId on agent Client
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
Due: none

feat(spiffe): add data model and persistence for trust domains
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EntityType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Type.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/OIDCSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeBundleSource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeDomainSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/TrustDomain.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/permissions/Permission.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/TrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcTrustDomain.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/SpringTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-trust-domains-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/SpiffeApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TrustDomainMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/OIDCSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/SpiffeDomainSettingsMongo.java
Due: run-container-test

feat(ui): add SPIFFE domain settings panel
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.html
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.scss
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.ts
Due: run_ui_tests

fix(spiffe): respect per-trust-domain refresh interval and serve stale bundle on fetch error
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
Due: none

fix: address PR review feedback for agent identity
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/DynamicClientRegistrationServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
Due: none

feat(spiffe): add Trust Domain management REST API
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainsResource.java
Due: none

test: drop blueprintClientId references in blueprint-agent jest specs
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
Due: none

refactor(spiffe): extract private-address check into PrivateAddressGuard helper
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/PrivateAddressGuard.java
Due: none

feat(spiffe): add TrustDomainService with validation and audit
  gravitee-am-service/src/main/java/io/gravitee/am/service/TrustDomainService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/InvalidTrustDomainException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/TrustDomainAlreadyExistsException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/TrustDomainNotFoundException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/UpdateTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchOIDCSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchSpiffeDomainSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/management/TrustDomainAuditBuilder.java
Due: none

chore(openapi): add listAgentApplications operation and schemas
  docs/mapi/openapi.yaml
Due: none

feat(spiffe): add gateway client authentication via JWT-SVID
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/TrustBundleService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
Due: none

chore: regen openapi spec
  docs/mapi/openapi.yaml
Due: none

test(ui): provide TrustDomainService mock for grant-flows spec
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.spec.ts
Due: run_ui_tests

fix(spiffe): clearer error for jwt-bearer with SPIFFE sub and guard against null discovery
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none

test(spiffe): update assertClient stubs for clientIdHint argument
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/ClientAuthHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProviderTest.java
Due: none

chore(openapi): drop subjectPattern from SpiffeApplicationSettings schema and SDK
  docs/mapi/openapi.yaml
  gravitee-am-test/api/management/models/SpiffeApplicationSettings.ts
Due: none

ci(gamma): add release-gamma-version to gio_action enum in setup config
  .circleci/config.yml
Due: none

chore(test): regen management SDK for trust domains and SPIFFE settings
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/apis/TrustDomainApi.ts
  gravitee-am-test/api/management/models/ApplicationSettings.ts
  gravitee-am-test/api/management/models/NewTrustDomain.ts
  gravitee-am-test/api/management/models/OIDCSettings.ts
  gravitee-am-test/api/management/models/PatchApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/PatchDomain.ts
  gravitee-am-test/api/management/models/PatchOIDCSettings.ts
  gravitee-am-test/api/management/models/PatchSAMLSettings.ts
  gravitee-am-test/api/management/models/PatchSpiffeDomainSettings.ts
  gravitee-am-test/api/management/models/SpiffeApplicationSettings.ts
  gravitee-am-test/api/management/models/SpiffeDomainSettings.ts
  gravitee-am-test/api/management/models/TrustDomain.ts
  gravitee-am-test/api/management/models/UpdateTrustDomain.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

fix: restore wiremock JWKS fixture, certificate-utils exports, and CI scripts
  .circleci/scripts/oas-staleness-check.sh
  .circleci/workflows.yml
  docker/local-stack/dev/docker-compose.yml
  gravitee-am-test/api/config/dev.setup.js
  gravitee-am-test/api/utils/certificate-utils.ts
  scripts/regen-oas.sh
Due: none

feat(GMA-169): use Application.subType in UI for agent persona
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
Due: run_ui_tests

test: align ActorTokenInfo test ctors with sub_profile param
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/TokenExchangeStrategyTest.java
Due: none

build(sdk): pin Java SDK release target to 21 for consumer compatibility
  gravitee-am-management-api-sdk-java/pom.xml
Due: run-container-test

fix(sdk): make Java SDK consumer-friendly (case-insensitive enums, Future, bean-validation, drop requiredPermissions)
  gravitee-am-management-api-sdk-java/pom.xml
  gravitee-am-management-api-sdk-java/src/test/java/io/gravitee/am/sdk/management/EnumCaseInsensitiveDeserializationTest.java
Due: run-container-test
