Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: increase log level for exception during instrospection
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenService.java
Due: none

chore: upgrade kafka registry client and avro
  gravitee-am-reporter/gravitee-am-reporter-kafka/pom.xml
Due: run-container-test

chore: add coverage for domain IDP mappers
  gravitee-am-test/specs/gateway/idp-mappers/fixture/idp-mapper-fixture.ts
  gravitee-am-test/specs/gateway/idp-mappers/idp-role-group-mapper.jest.spec.ts
  gravitee-am-test/specs/gateway/idp-mappers/idp-user-mapper.jest.spec.ts
  gravitee-am-test/specs/management/domain/path-mode.jest.spec.ts
  gravitee-am-test/specs/management/domain/vhost-mode.jest.spec.ts
  gravitee-am-test/specs/management/identity-provider/fixtures/idp-fixture.ts
  gravitee-am-test/specs/management/identity-provider/identity-provider-mappers.jest.spec.ts
  gravitee-am-test/specs/management/identity-provider/identity-provider.jest.spec.ts
Due: none

feat(authz): separate schema from bundle, support multiple policy sets and entity stores
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/main/java/io/gravitee/am/authorizationengine/api/ws/ResolvedBundleSnapshot.java
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/main/java/io/gravitee/am/authorizationengine/api/ws/WsMessage.java
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/main/java/io/gravitee/am/authorizationengine/api/ws/WsMessageCodec.java
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/test/java/io/gravitee/am/authorizationengine/api/ws/WsMessageCodecTest.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/AuthorizationSchemaEvent.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Event.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Type.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/authorizationengine/impl/AuthorizationEngineManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/authorizationengine/impl/AuthorizationEngineManagerImplTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/AuthorizationBundle.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/BundleComponentRef.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/AuthorizationBundleRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcAuthorizationBundleRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcAuthorizationBundle.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoAuthorizationBundleRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AuthorizationBundleMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/BundleComponentRefMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/AuthorizationBundleServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/AuthorizationSchemaServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntityStoreServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/PolicySetServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/AuthorizationBundleServiceImplTest.java
  gravitee-am-ui/src/app/domain/authorization-engines/sidecar/sidecar.component.html
  gravitee-am-ui/src/app/domain/authorization-engines/sidecar/sidecar.component.ts
  gravitee-am-ui/src/app/domain/authorization/bundles/bundle/authorization-bundle.component.html
  gravitee-am-ui/src/app/domain/authorization/bundles/bundle/authorization-bundle.component.ts
  gravitee-am-ui/src/app/domain/authorization/bundles/creation/authorization-bundle-creation.component.html
  gravitee-am-ui/src/app/domain/authorization/bundles/creation/authorization-bundle-creation.component.ts
Due: run-container-test, run_ui_tests

feat: use snapshot package for gravitee-parent and disable arch rules for now
  pom.xml
Due: run-container-test

fix: add netty-transport-native-unix-common to gateway and management API distributions for JDK 25 SSL support
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/pom.xml
Due: run-container-test

install jdk 25 for playwright tests
  .circleci/workflows.yml
Due: none

feat: use java 25 in circleci build in pr processing
  .circleci/workflows.yml
Due: none

feat: use upgraded version of gravitee-policy-groovy for J25 support
  pom.xml
Due: run-container-test

feat: fix java version to 25.0.1
  .circleci/workflows.yml
Due: none

fix: bump netty in ciba to clear CVE warning
  gravitee-am-ciba-delegated-service/pom.xml
Due: run-container-test

feat: minor update to resolve gatling issues
  docker/gateway/Dockerfile-dev-noble
  docker/gateway/Dockerfile-noble
  docker/management-api/Dockerfile-dev-noble
  docker/management-api/Dockerfile-noble
  gravitee-am-ciba-delegated-service/pom.xml
  gravitee-am-fapi-resource-api/pom.xml
  gravitee-am-performance/Dockerfile
  gravitee-am-performance/pom.xml
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/commands/GatewayCalls.scala
Due: run-container-test

feat: add sdkman config and bump parent version
  .sdkmanrc
  pom.xml
Due: run-container-test

fix: update steps to use jdk 25 for ciba build
  .circleci/workflows.yml
  gravitee-am-ciba-delegated-service/pom.xml
Due: run-container-test

fix: pin eclipse-temurin images to 25.0.1_8 for deterministic builds
  docker/gateway/Dockerfile-dev-noble
  docker/gateway/Dockerfile-noble
  docker/management-api/Dockerfile-dev-noble
  docker/management-api/Dockerfile-noble
  gravitee-am-ciba-delegated-service/pom.xml
  gravitee-am-fapi-resource-api/pom.xml
Due: run-container-test

fix: fapi build java 25
  gravitee-am-fapi-resource-api/pom.xml
Due: run-container-test

feat: use java 25 in circleci build
  .circleci/workflows.yml
Due: none

feat: bump gravitee-parent to 25.0.0-alpha.1
  pom.xml
Due: run-container-test

fix(circleci): pass through mvn settings so it can use the snapshot
  .circleci/workflows.yml
Due: none

fix: use temurin noble images to be in line with existing docker image definitions
  docker/gateway/Dockerfile-dev-noble
  docker/gateway/Dockerfile-noble
  docker/management-api/Dockerfile-dev-noble
  docker/management-api/Dockerfile-noble
Due: none

chore: disable hmac signature fallback by default
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/spring/CommonConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  helm/tests/gateway/configmap_applications.yaml
Due: none

chore: skip artifactory publish
  .circleci/workflows.yml
Due: none

chore: test coverage for saml configs based on metadata file and url
  gravitee-am-test/specs/gateway/saml2/saml.spec.ts
  gravitee-am-test/specs/gateway/saml2/setup.ts
Due: none

feat: openshell policy
  OPENSHELL_POLICY_PLAN.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/VertxSecurityDomainHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-openshell/pom.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-openshell/src/main/assembly/plugin-assembly.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-openshell/src/main/java/io/gravitee/am/gateway/handler/openshell/OpenShellProtocol.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-openshell/src/main/java/io/gravitee/am/gateway/handler/openshell/OpenShellProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-openshell/src/main/java/io/gravitee/am/gateway/handler/openshell/constants/OpenShellConstants.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-openshell/src/main/java/io/gravitee/am/gateway/handler/openshell/resources/endpoint/OpenShellPolicyEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-openshell/src/main/java/io/gravitee/am/gateway/handler/openshell/spring/OpenShellConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-openshell/src/main/resources/plugin.properties
  gravitee-am-gateway/gravitee-am-gateway-handler/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationAdvancedSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationAdvancedSettings.java
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.ts
  gravitee-am-ui/src/app/services/application.service.ts
Due: run-container-test, run_ui_tests

hack: save policy to db and include handler in gw
  OPENSHELL_POLICY_PLAN.md
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationAdvancedSettingsMongo.java
  gravitee-am-ui/package.json
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.html
Due: run-container-test, run_ui_tests

hack: use nice editor for yaml
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.ts
Due: run_ui_tests

hack: add templates for openshell spec
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.ts
Due: run_ui_tests

hack: download policy
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.ts
Due: run_ui_tests
