Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

chore(dep): bump gravitee-bom tp 8.3.64 to fix jackson cve
  pom.xml
Due: run-container-test

chore(dep): bump gravitee-bom tp 9.0.2 to fix jackson cve
  pom.xml
Due: run-container-test

feat: introduce policy studio for MCP Servers
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/flow/FlowManagerTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationFlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/FlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/utils/FlowUtils.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/utils/FlowUtilsTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/DefaultRoleUpgrader.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/permissions/Permission.java
  gravitee-am-test/api/commands/management/protected-resources-management-commands.ts
  gravitee-am-test/specs/gateway/protected-resources/protected-resource-token-flow.jest.spec.ts
  gravitee-am-test/specs/management/fixtures/protected-resource-flows-fixture.ts
  gravitee-am-test/specs/management/protected-resource-flows.jest.spec.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/design/flows/flows.component.spec.ts
  gravitee-am-ui/src/app/domain/applications/application/design/flows/flows.component.ts
  gravitee-am-ui/src/app/resolvers/mcp-server-flows.resolver.spec.ts
  gravitee-am-ui/src/app/resolvers/mcp-server-flows.resolver.ts
  gravitee-am-ui/src/app/services/protected-resource.service.ts
Due: run_ui_tests

feat: added IPV4_ONLY env var for management-ui
  docker/management-ui/Dockerfile
  docker/management-ui/Dockerfile-dev
  docker/management-ui/config/check_ip_config.sh
  docker/management-ui/config/default.no-ipv6.conf
Due: none

fix: suppress android root certificate stacktrace
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/GraviteeWebAuthnOptions.java
Due: none

fix: preload protected-resource permissions in AuthGuard to prevent blank page on refresh
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
  gravitee-am-ui/src/app/services/auth.service.ts
Due: run_ui_tests

fix: nest MCP server flows under Design section for consistency with service apps
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/mcp-servers/mcp-server/design/design.component.html
  gravitee-am-ui/src/app/domain/mcp-servers/mcp-server/design/design.component.ts
Due: run_ui_tests

fix: also preload domain and environment permissions for protected_resource routes in AuthGuard
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
Due: run_ui_tests

fix: default and noop certificate should have single instance across all domains
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/CertificateProvider.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/CertificateProviderManager.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/impl/CertificateProviderManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/spring/CertificateConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/certificate/impl/CertificateManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/jwt/impl/JWTServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenService.java
Due: none

fix: refactor AuthGuard permission loading to use flat boolean flags
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
Due: run_ui_tests

fix: decouple permission preloading into independent combineSources entries
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
Due: run_ui_tests

fix: remove explicit Xmx/Xms initialization
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/bin/gravitee
Due: none

fix(AM-7194): preload protected-resource permissions in AuthGuard to prevent blank page on refresh (#8137)
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
  gravitee-am-ui/src/app/services/auth.service.ts
Due: run_ui_tests

fix: bump version to update default role permissions
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/OrganizationRolesUpgrader.java
Due: none

fix: honour resource-level permissions
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/AbstractResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResourceTest.java
Due: none

fix: honour application-level permissions
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationFlowsResource.java
Due: none

fix: honour application-level permissions
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/AbstractResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationFlowsResource.java
Due: none

fix: default and noop certificate should have single instance across all domains
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/CertificateProvider.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/CertificateProviderManager.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/impl/CertificateProviderManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/spring/CertificateConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/certificate/impl/CertificateManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/jwt/impl/JWTServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/spring/CommonConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/jwt/JWTServiceTest.java
Due: none

feat: allow selective scope consent
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/css/main.css
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/oauth2_user_consent.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/authorization/consent/UserConsentEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/AuthorizationRequestEndUserConsentHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/consent/UserConsentProcessHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/AuthorizationRequestEndUserConsentHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/consent/UserConsentProcessHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/css/main.css
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/oauth2_user_consent.html
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationOAuthSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/application/ApplicationOAuthSettingsTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationOAuthSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationOAuthSettings.java
  gravitee-am-test/playwright/utils/oauth-callback-helpers.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.ts
Due: run-container-test, run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
