Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix(ui): flip SPIFFE PREFIX subject hint to require trailing slash
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
Due: run_ui_tests

feat(oidc): support PREFIX subject match mode for SPIFFE application settings
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/SpiffeClientAssertionValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/SpiffeClientAssertionValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidatorTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/SpiffeApplicationSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/ApplicationServiceImplSpiffeValidationTest.java
  gravitee-am-test/api/management/models/SpiffeApplicationSettings.ts
Due: run-container-test

refactor(spiffe): simplify subject-match-mode handling per review
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidator.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

test: add jest coverage for SPIFFE prefix subject match
  gravitee-am-test/certs/README.md
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/spiffe-prefix-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/spiffe-prefix-assertion.jest.spec.ts
Due: none

docs(oas): describe SPIFFE subjectMatchMode via @Schema and regen
  docs/mapi/openapi.yaml
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
Due: none

fix(spiffe): null-safe subject-match-mode check in app validation
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

chore(ci): try enabling SPIRE jest tests in Mongo gateway run
  .circleci/workflows.yml
Due: none

test(spiffe): use trailing slash in PREFIX subject to satisfy validator
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/spiffe-prefix-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/spiffe-prefix-assertion.jest.spec.ts
Due: none

fix(ui): reset SPIFFE form state when saving with non-spiffe auth method
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
Due: run_ui_tests

feat(ui): expose SPIFFE subject match mode in OAuth2 grant-flows settings
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
Due: run_ui_tests

fix(spiffe): drop @Schema defaultValue to make openapi.yaml generation deterministic
  docs/mapi/openapi.yaml
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
Due: none

fix: master domain should introspect token generated in all other domains
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/certificate/CertificateManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/certificate/impl/CertificateManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/jwt/impl/JWTServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/spring/CommonConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/certificate/impl/CertificateManagerImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/jwt/JWTServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/oauth2/impl/IntrospectionAccessTokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/oauth2/impl/IntrospectionRefreshTokenServiceTest.java
Due: none

fix: prevent usage of invalid value for application type filter
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceFilterTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/ApplicationFilter.java
Due: none

fix: add option to provide clientId as value in the access logs
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/handler/GraviteeLoggerHandler.java
Due: none

feat(token-exchange): support parameterized scopes in downscoping and delegation
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/spring/OAuth2Configuration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
Due: none

refactor(token-exchange): extract coversScope helper for parameterized scope checks
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
Due: none

fix(ui): use lowercase SPIFFE subjectMatchMode option values to match API enum serialization
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.spec.ts
Due: run_ui_tests

fix: introspection of token from different domain should succeed only on master domain
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/impl/ClientSyncServiceImpl.java
Due: none

fix(agents): set act.sub to blueprint client_id for client-credentials agent flows
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
Due: none

test: align workload-jwt act.sub expectation with blueprint client_id for client-credentials
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
Due: none

chore: application endpoint jest test
  gravitee-am-test/specs/management/applications/application-endpoints.jest.spec.ts
Due: none

ci: fix license header detection on postman runner (separate header from doc comment)
  postman/scripts/run-collections.sh
Due: none

ci: run junit_tests verify with parallel maven threads (-T 1C)
  .circleci/workflows.yml
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
