Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: invert legacy flag
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/SystemReporterConfigResolver.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/SystemReporterConfigResolverTest.java
Due: none

fix: isolate scheduled purge targets so one failure does not abort the rest
  gravitee-am-service/src/main/java/io/gravitee/am/service/purge/ScheduledPurgeService.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/purge/ScheduledPurgeServiceTargetsTest.java
Due: none

fix: keep valid purge exclusions when an entry is unknown or has spaces
  gravitee-am-service/src/main/java/io/gravitee/am/service/purge/ScheduledPurgeServiceFactory.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/purge/ScheduledPurgeServiceTargetsTest.java
Due: none

chore: upgrade junit circle runner
  .circleci/workflows.yml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/resources/logback-test.xml
Due: none

ci: resolve the backport conflict against the 4.8.x job set
  .circleci/workflows-migration.yml
  .circleci/workflows.yml
Due: none

ci: run the feed check once, and name an outage as one
  .circleci/workflows.yml
Due: none

ci: resolve and publish Maven artifacts through the Azure Artifacts feeds
  .circleci/workflows-migration.yml
  .circleci/workflows.yml
Due: none

ci: give the Keeper context to the jobs now fetching an Azure token
  .circleci/workflows.yml
Due: none

feat(webauthn): Client-Side Error Monitoring and Server-Side Logging
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/exception/webauthn/WebAuthnBrowserClientErrorException.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/utils/UriBuilderRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/utils/UriBuilderRequestTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/RootProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebAuthnClientErrorCategory.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebauthnErrorEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnTelemetrySameOriginHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebauthnClientErrorReportingContextHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-fido2-login-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-login-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-register-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-telemetry-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/mfa_challenge.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/webauthn_login.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/webauthn_register.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebAuthnClientErrorCategoryTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebauthnErrorEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnTelemetrySameOriginHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-fido2-login-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-login-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-register-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-telemetry-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/mfa_challenge.html
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/webauthn_login.html
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/webauthn_register.html
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/gateway/WebAuthnBrowserClientErrorAuditBuilder.java
  gravitee-am-ui/src/app/domain/components/forms/form/dialog/form-info.component.html
  helm/values.yaml
Due: run_ui_tests

fix(test): add method on SpyContext to avoid NPE
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/dummies/SpyRoutingContext.java
Due: none

fix(xaa): add ID-JAG lax mode to token exchange settings
  docs/automation/openapi.yaml
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/IdJagSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/TokenExchangeSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/IdJagSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TokenExchangeSettingsMongo.java
  gravitee-am-test/api/management/models/IdJagSettings.ts
  gravitee-am-test/api/management/models/TokenExchangeSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/gateway/token-exchange/fixtures/id-jag-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/id-jag-issuance.jest.spec.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.html
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.scss
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange.types.ts
Due: run-container-test, run_ui_tests

fix: make resource-server edition discoverable and fit the row
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.ts
Due: run_ui_tests

fix: identify RFC 8707 tokens by the requesting client, not aud
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-test/specs/gateway/protected-resources/fixtures/protected-resources-fixture.ts
  gravitee-am-test/specs/gateway/protected-resources/revocation-resource-indicators.jest.spec.ts
Due: none

feat: pep groovy policy tests
  gravitee-am-test/api/commands/management/idp-management-commands.ts
  gravitee-am-test/specs/gateway/pep-groovy/fixtures/enterprise-idp-fixture.ts
  gravitee-am-test/specs/gateway/pep-groovy/fixtures/pep-policy.groovy
  gravitee-am-test/specs/gateway/pep-groovy/pep-groovy.jest.spec.ts
Due: none

fix: fail startup when the Liquibase migration fails
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/spring/AbstractRepositoryConfiguration.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/AbstractRepositoryConfiguration.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/AbstractRepositoryConfigurationTest.java
Due: run-container-test

test: remove flow-policy spec that cannot exercise login flow policies
  gravitee-am-test/specs/gateway/flows/fixture/flow-policy-fixture.ts
  gravitee-am-test/specs/gateway/flows/flow-policy.jest.spec.ts
Due: none

fix: keep the cert_credentials subject index under the MySQL key limit
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/resources/liquibase/changelogs/v4_10_0/4.10.0-dataplane-cert-credentials-table.yml
Due: run-container-test
