Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: display additionalInformation fields with falsy values in user profile
  gravitee-am-ui/src/app/domain/settings/users/user/profile/profile.component.html
Due: run_ui_tests

fix: support '+' character in client_id for basic auth
  gravitee-am-common/src/main/java/io/gravitee/am/common/web/UriBuilder.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
Due: none

test: add tests for client_id with '+' in basic auth
  gravitee-am-common/src/test/java/io/gravitee/am/common/web/UriBuilderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProviderTest.java
  gravitee-am-test/package-lock.json
  gravitee-am-test/specs/management/client-secrets.jest.spec.ts
Due: none

revert accidental package-lock.json change
  gravitee-am-test/package-lock.json
Due: none

fix: inherit flows for DCR applications by default
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
Due: none

fix: use RFC 3986 percent-encoding for spaces in encodeURIComponent to fix round-trip with decodeURIComponent
  gravitee-am-common/src/main/java/io/gravitee/am/common/web/UriBuilder.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/web/UriBuilderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
Due: none

fix: apply validation on CIMD settings
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/JerseySpringTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainCIMDSettingsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-test/specs/management/cimd/cimd-settings.jest.spec.ts
  gravitee-am-test/specs/management/cimd/fixture/cimd-fixture.ts
Due: none

feat: expose CIMD settings
  docs/mapi/openapi.yaml
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/CIMDSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/OIDCSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/CIMDSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/OIDCSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchCIMDSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchOIDCSettings.java
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/DefaultApi.ts
  gravitee-am-test/api/management/models/CIMDSettings.ts
  gravitee-am-test/api/management/models/OIDCSettings.ts
  gravitee-am-test/api/management/models/PatchCIMDSettings.ts
  gravitee-am-test/api/management/models/PatchOIDCSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/management/cimd/cimd-settings.jest.spec.ts
  gravitee-am-test/specs/management/cimd/fixture/cimd-fixture.ts
Due: run-container-test

fix: replace security settings by a single softwareId
  docs/mapi/openapi.yaml
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/CIMDSettings.java
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/gateway/SCIMBulkUsersCreation.scala
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/CIMDSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchCIMDSettings.java
  gravitee-am-test/api/management/models/CIMDSettings.ts
  gravitee-am-test/api/management/models/PatchCIMDSettings.ts
  gravitee-am-test/specs/management/cimd/cimd-settings.jest.spec.ts
Due: run-container-test

feat: openfga tuples provisioning in parallel
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/authorization/OpenFGAProvision.scala
Due: none

feat: create UI for CIMD settings at domain level
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/settings/cimd/cimd.component.html
  gravitee-am-ui/src/app/domain/settings/cimd/cimd.component.scss
  gravitee-am-ui/src/app/domain/settings/cimd/cimd.component.ts
  gravitee-am-ui/src/app/services/domain.service.ts
Due: run_ui_tests

chore(webauthen4j): migrate vertx-auth-webauthn to vertx-auth-webauthn4j
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/pom.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/RootProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebAuthnLoginCredentialsEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebAuthnRegisterCredentialsEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/error/ErrorHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnLoginHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnRegisterHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnResponseHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/GraviteeWebAuthnOptions.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/WebAuthnFactory.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/attestation/GraviteeAndroidKeyAttestation.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/attestation/GraviteeNoneAttestation.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/attestation/GraviteeTPMAttestation.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/attestation/PubArea.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/store/RepositoryCredentialStore.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/META-INF/services/io.vertx.ext.auth.webauthn.impl.attestation.Attestation
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnLoginHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/WebAuthnFactoryTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/attestation/AttestationTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/store/RepositoryCredentialStoreTest.java
  pom.xml
Due: run-container-test

feat(mfa): add removePendingEnrolledFactor to UserService (AM-6745)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/service/user/UserService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/service/user/impl/UserServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/service/user/UserServiceTest.java
Due: none

fix(mfa): remove stale PENDING_ACTIVATION factor on re-enrollment (AM-6745)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollEndpointTest.java
Due: none

fix(mfa): replace removeIf with stream filter for unmodifiable factors list (AM-6745)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollEndpoint.java
Due: none

test(mfa): add E2E test for re-enrollment after abandoned MFA attempt (AM-6745)
  gravitee-am-test/specs/gateway/mfa/mfa-pending-activation-reset.spec.ts
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
