Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: removed DefaultReporterUpgrader
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/audit/impl/GatewayAuditReporterManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ManagementAuditReporterManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ReporterServiceProxyImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/DefaultReporterUpgrader.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/SystemUpgraderOrder.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/DefaultReporterUpgraderTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ReporterService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ReporterServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/SystemReporterConfigResolver.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ReporterServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/SystemReporterConfigResolverTest.java
Due: none

test: bind attempts through the fixture rather than the spec
  gravitee-am-test/specs/management/internal-api/dataplane-invalid-binding.jest.spec.ts
  gravitee-am-test/specs/management/internal-api/fixtures/dataplane-provisioning-fixture.ts
Due: none

fix: validate the jdbc data plane connection through the driver
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/provider/JdbcDataPlaneProvider.java
Due: run-container-test

fix: verify a provisioned data plane answers before binding a domain to it
  gravitee-am-dataplane/gravitee-am-dataplane-api/src/main/java/io/gravitee/am/dataplane/api/DataPlaneProvider.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/provider/JdbcDataPlaneProvider.java
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/provider/MongoDataPlaneProvider.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/java/io/gravitee/am/gateway/spring/StandaloneConfiguration.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/authentication/MongoAuthenticationProviderTestConfiguration.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/user/MongoUserProviderTestConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/spring/StandaloneConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistry.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistryImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifier.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistryImplTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImplTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
Due: run-container-test

test: cover domain binding to an unverified data plane
  gravitee-am-test/specs/management/internal-api/dataplane-invalid-binding.jest.spec.ts
  gravitee-am-test/specs/management/internal-api/dataplane-unreachable.jest.spec.ts
  gravitee-am-test/specs/management/internal-api/fixtures/dataplane-provisioning-fixture.ts
Due: none

chore: drop the data plane comments review found unhelpful
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/provider/MongoDataPlaneProvider.java
Due: run-container-test

refactor: move the data plane verification handshake into the registry
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManagerTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistry.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistryImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistryImplTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

refactor: give the unchecked data plane path its own verifier
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/java/io/gravitee/am/gateway/spring/StandaloneConfiguration.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/authentication/MongoAuthenticationProviderTestConfiguration.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/user/MongoUserProviderTestConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/spring/StandaloneConfiguration.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/NoOpDataPlaneVerifier.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImplTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/NoOpDataPlaneVerifierTest.java
Due: none

fix: close the data plane verification gaps found in review
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/provider/MongoDataPlaneProvider.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/java/io/gravitee/am/gateway/spring/StandaloneConfiguration.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/authentication/MongoAuthenticationProviderTestConfiguration.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/user/MongoUserProviderTestConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManagerTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistry.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistryImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifier.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImplTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: run-container-test

test: drop the ticket reference from the data plane binding spec
  gravitee-am-test/specs/management/internal-api/dataplane-invalid-binding.jest.spec.ts
Due: none

test: address review feedback on introspection coverage
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/introspection/IntrospectionServiceTest.java
  gravitee-am-test/specs/gateway/introspection/fixtures/introspection-token-validity-fixture.ts
  gravitee-am-test/specs/gateway/introspection/introspection-cert-change.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-client-auth-methods.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-dpop-binding.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-refresh-token.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-token-validity.jest.spec.ts
  gravitee-am-test/specs/gateway/token-auth-methods/fixtures/private-key-jwt-fixture.ts
  gravitee-am-test/specs/gateway/token-auth-methods/fixtures/token-auth-fixture.ts
  gravitee-am-ui/build.json
  gravitee-am-ui/package.json
Due: run_ui_tests

test: cover introspection client auth, token validity and DPoP
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/introspection/IntrospectionServiceTest.java
  gravitee-am-test/specs/gateway/introspection/fixtures/introspection-client-auth-fixture.ts
  gravitee-am-test/specs/gateway/introspection/fixtures/introspection-token-validity-fixture.ts
  gravitee-am-test/specs/gateway/introspection/introspection-client-auth-methods.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-client-auth.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-dpop-binding.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-refresh-token.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-token-validity.jest.spec.ts
Due: none

chore: revert unrelated UI version bump
  gravitee-am-ui/build.json
  gravitee-am-ui/package.json
Due: run_ui_tests

fix: JettyHttpServerProbe mem leak
  pom.xml
Due: run-container-test

fix: verify a provisioned data plane answers before binding a domain to it (#8397)
  gravitee-am-dataplane/gravitee-am-dataplane-api/src/main/java/io/gravitee/am/dataplane/api/DataPlaneProvider.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/provider/JdbcDataPlaneProvider.java
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/provider/MongoDataPlaneProvider.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/java/io/gravitee/am/gateway/spring/StandaloneConfiguration.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/authentication/MongoAuthenticationProviderTestConfiguration.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/user/MongoUserProviderTestConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ProvisionedDataPlaneManagerTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/spring/StandaloneConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistry.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistryImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifier.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/NoOpDataPlaneVerifier.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistryImplTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImplTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/NoOpDataPlaneVerifierTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
  gravitee-am-test/specs/management/internal-api/dataplane-invalid-binding.jest.spec.ts
  gravitee-am-test/specs/management/internal-api/dataplane-unreachable.jest.spec.ts
  gravitee-am-test/specs/management/internal-api/fixtures/dataplane-provisioning-fixture.ts
Due: run-container-test

test: cover introspection client auth, token validity and DPoP (AM-7451) (#8404)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/introspection/IntrospectionServiceTest.java
  gravitee-am-test/specs/gateway/introspection/fixtures/introspection-client-auth-fixture.ts
  gravitee-am-test/specs/gateway/introspection/fixtures/introspection-token-validity-fixture.ts
  gravitee-am-test/specs/gateway/introspection/introspection-cert-change.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-client-auth-methods.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-client-auth.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-dpop-binding.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-refresh-token.jest.spec.ts
  gravitee-am-test/specs/gateway/introspection/introspection-token-validity.jest.spec.ts
  gravitee-am-test/specs/gateway/token-auth-methods/fixtures/private-key-jwt-fixture.ts
  gravitee-am-test/specs/gateway/token-auth-methods/fixtures/token-auth-fixture.ts
Due: none

test: align cloud specs with the gateway access point rules
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
  gravitee-am-test/specs/cloud/entrypoint-cache.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-license-enforcement-fixture.ts
Due: none

refactor: take the gateway url default from the spring annotation only
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
Due: none

docs: cut the verbose comments from the cloud entrypoint changes
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-organization-fixture.ts
  gravitee-am-test/specs/cloud/organization-default-entrypoint.jest.spec.ts
Due: none

refactor: set the gateway url test field directly instead of by reflection
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

chore: clarify the access point rejection message and tidy an import
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
Due: none

docs: trim comments added for the cloud access point rules
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
  gravitee-am-test/specs/cloud/command-validation.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-organization-fixture.ts
  gravitee-am-test/specs/cloud/organization-default-entrypoint.jest.spec.ts
Due: none

test: cover cloud access point rejection and organization entrypoints
  gravitee-am-test/specs/cloud/command-validation.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-organization-fixture.ts
  gravitee-am-test/specs/cloud/organization-default-entrypoint.jest.spec.ts
Due: none

docs: explain why the cloud organization id must stay unused
  gravitee-am-test/specs/cloud/organization-default-entrypoint.jest.spec.ts
Due: none

fix: keep a cloud domain resolving to a gateway url with no entrypoint synced
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

feat: reject a cloud environment that has no default gateway access point
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
Due: none

feat: stop creating the organization default entrypoint in cloud mode
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
Due: none

test: wait for the data plane check rather than assert it on the calling thread
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImplTest.java
Due: none

fix: use dedicated object mapper for ClaimRequest
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/AuthorizationRequestParseParametersHandler.java
Due: none

fix: use dedicated object mapper for ClaimRequest
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/AuthorizationRequestParseParametersHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/AuthorizationRequestParseParametersHandlerTest.java
Due: none

test: skip claims request parameter tests pending AM-7525
  gravitee-am-test/specs/gateway/token-claims/claims-request-parameter.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/internal-claim-exposure.jest.spec.ts
Due: none

feat: reject cloud environments without a gateway access point and drop the org default entrypoint (#8403)
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/test/java/io/gravitee/am/plugins/dataplane/core/DataPlaneVerifierImplTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
  gravitee-am-test/specs/cloud/command-validation.jest.spec.ts
  gravitee-am-test/specs/cloud/domain-entrypoint-url.jest.spec.ts
  gravitee-am-test/specs/cloud/entrypoint-cache.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-license-enforcement-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-organization-fixture.ts
  gravitee-am-test/specs/cloud/organization-default-entrypoint.jest.spec.ts
Due: none

test: address review feedback on database index coverage
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/test/java/io/gravitee/am/dataplane/mongodb/repository/DataPlaneEnsureIndexOnStartResolutionTest.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/audit/JdbcAuditReporterIndexTest.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/audit/PostgresAuditReporterIndexTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/EnsureIndexOnStartResolutionTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/MongoIndexAssertions.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/MongoIndexLifecycleTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/oauth2/OAuth2TokenStoreIndexTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/purge/ScheduledPurgeServiceTest.java
Due: run-container-test

test: cover database index lifecycle and purge scheduling
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/audit/PostgresAuditReporterIndexTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/EnsureIndexOnStartResolutionTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/MongoIndexAssertions.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/MongoIndexLifecycleTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/management/ManagementStoreIndexTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/oauth2/OAuth2TokenStoreIndexTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/purge/ScheduledPurgeServiceTest.java
Due: run-container-test

test: drop updated_at claim test, it asserts Mongo-only behaviour
  gravitee-am-test/specs/gateway/token-claims/internal-claim-exposure.jest.spec.ts
Due: none

test: token claim regression coverage (AM-7488) (#8395)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/AuthorizationRequestParseParametersHandler.java
  gravitee-am-test/specs/gateway/token-claims/claim-consistency.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/claims-request-parameter.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/custom-claim-precedence.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/custom-claim-resilience.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/fixtures/token-identity-fixture.ts
  gravitee-am-test/specs/gateway/token-claims/internal-claim-exposure.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/refresh-claim-propagation.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/relying-party-validation.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/scope-claim-projection.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/subject-identity.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/userinfo-custom-claims.jest.spec.ts
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
