Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: ignore custom claims with unknown token type on application read
  gravitee-am-repository/gravitee-am-repository-jdbc-api/src/main/java/io/gravitee/am/repository/jdbc/provider/common/JSONMapper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/ApplicationSettingsConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/ApplicationSettingsConverterTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepositoryTokenClaimsTest.java
Due: run-container-test

feat: allow used certificate deletion
  docs/automation/GUIDE.md
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/CertificateResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/CertificateResourceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/CertificateService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/CertificateServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/CertificateServiceImplTest.java
  gravitee-am-test/specs/management/automation/domain-certificates-saml.jest.spec.ts
Due: none

feat: provide explicit property defaults in OpenAPI specs
  docs/automation/openapi.yaml
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationCIBASettings.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationDomain.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationIdentityProvider.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeDomainSettings.java
Due: none

fix(ci): remove the 'publsh maven job' dependency for the slack notification
  .circleci/workflows.yml
Due: none

fix: refuse id-jag whose aud names more than this domain
  gravitee-am-test/specs/gateway/cross-app-access/fixtures/id-jag-redemption-fixture.ts
  gravitee-am-test/specs/gateway/cross-app-access/id-jag-redemption-trust.jest.spec.ts
  pom.xml
Due: run-container-test

test: cover the too many login failures alert with Alert Engine
  .circleci/workflows.yml
  docker/local-stack/README.md
  docker/local-stack/dev/.env.example
  docker/local-stack/dev/docker-compose.alert-engine.yml
  docker/local-stack/local-stack.sh
  docker/local-stack/package.json
  docs/agent-standards/skills/local-stack/SKILL.md
  gravitee-am-test/package.json
  gravitee-am-test/specs/alert-engine/fixtures/alert-engine-fixture.ts
  gravitee-am-test/specs/alert-engine/too-many-login-failures-alert.jest.spec.ts
Due: none

fix: return the granted resource in the ID-JAG redemption token response
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/GrantData.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/TokenCreationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2Request.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-test/specs/gateway/cross-app-access/id-jag-redemption.jest.spec.ts
Due: none

fix: refuse id-jag carrying authorization_details
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/exception/InvalidAuthorizationDetailsException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/validation/AuthorizationDetailsValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/TokenEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyIdJagRedemptionTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/validation/AuthorizationDetailsValidatorTest.java
  gravitee-am-test/specs/gateway/cross-app-access/id-jag-redemption-trust.jest.spec.ts
Due: none

fix: require id-jag requested token type to enable cross app access
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-test/specs/management/domain/cross-app-access-application.jest.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
Due: run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
