Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

test: valueless SCIM multi-valued attributes on write and patch
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
  gravitee-am-test/specs/gateway/scim/scim-users.jest.spec.ts
Due: none

fix(jdbc): recycle stale r2dbc connections after a silent DB failover
  gravitee-am-repository/gravitee-am-repository-jdbc-api/src/main/java/io/gravitee/am/repository/jdbc/provider/impl/ConnectionFactoryProvider.java
  gravitee-am-repository/gravitee-am-repository-jdbc-api/src/test/java/io/gravitee/am/repository/jdbc/provider/impl/ConnectionFactoryProviderTest.java
  helm/tests/api/configmap_dataplanes.yaml
  helm/tests/api/configmap_repositories.yaml
  helm/tests/gateway/configmap_repositories.yaml
  helm/values.yaml
Due: run-container-test

test: dealt with feedback - drop the historical comment
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
Due: none

fix: avoid ClassCastException when redirecting with a non-string token in context
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/RedirectHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/RedirectHandlerImplTest.java
Due: none

fix: enhance domain user resolved via trusted-issuer user binding
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerUserResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerUserResolverTest.java
Due: none

test: valueless SCIM multi-valued attributes on write and patch (AM-7621) (#8541)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
  gravitee-am-test/specs/gateway/scim/scim-users.jest.spec.ts
Due: none

feat: add attribute mapping UI
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationReporter.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewReporter.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/UpdateReporter.java
  gravitee-am-test/playwright/pages/domain-reporter.page.ts
  gravitee-am-test/playwright/tests/settings/reporters/reporter-attribute-mappings.spec.ts
  gravitee-am-test/specs/management/reporters/domain-reporter.jest.spec.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/components/json-schema-form/material-multiselect.component.spec.ts
  gravitee-am-ui/src/app/components/json-schema-form/material-multiselect.component.ts
  gravitee-am-ui/src/app/components/multiselect/multiselect-list.component.html
  gravitee-am-ui/src/app/components/multiselect/multiselect-list.component.scss
  gravitee-am-ui/src/app/components/multiselect/multiselect-list.component.spec.ts
  gravitee-am-ui/src/app/components/multiselect/multiselect-list.component.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/attribute-mappings/reporter-attribute-mappings.component.html
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/attribute-mappings/reporter-attribute-mappings.component.scss
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/attribute-mappings/reporter-attribute-mappings.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/attribute-mappings/reporter-attribute-mappings.component.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/attribute-mappings/reporter-attribute-mappings.types.spec.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/attribute-mappings/reporter-attribute-mappings.types.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/reporter.component.html
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/reporter.component.scss
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/reporter.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/reporter.component.ts
  gravitee-am-ui/src/app/services/organization.service.ts
  gravitee-am-ui/src/app/services/reporter.service.ts
Due: run_ui_tests

test: drop the offline-verification sleep and claim from introspection spec
  gravitee-am-test/specs/gateway/protected-resources/introspection-resource-indicators.jest.spec.ts
Due: none

test: drop the offline-verification sleep and claim from introspection spec (AM-7549) (#8551)
  gravitee-am-test/specs/gateway/protected-resources/introspection-resource-indicators.jest.spec.ts
Due: none

test: risk-based MFA challenge, with the risk assessment plugin
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-test/specs/gateway/mfa/fixture/mfa-flow-fixture.ts
  gravitee-am-test/specs/gateway/mfa/mfa-risk-based-challenge.spec.ts
  pom.xml
Due: run-container-test

fix: create trusted domain with spiffe disabled
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/TrustDomainServiceImplTest.java
Due: none

test: risk-based MFA challenge, with the risk assessment plugin (AM-2828) (#8552)
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-test/specs/gateway/mfa/fixture/mfa-flow-fixture.ts
  gravitee-am-test/specs/gateway/mfa/mfa-risk-based-challenge.spec.ts
  pom.xml
Due: run-container-test
