Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

feat: cap thread executors for smtp resource and auditing
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/CappedExecutorFactory.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/utils/CappedExecutorFactoryTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/NewsletterServiceImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-resource/src/main/java/io/gravitee/am/plugins/resource/core/ResourcePluginManager.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-resource/src/main/java/io/gravitee/am/plugins/resource/spring/ResourceSpringConfiguration.java
  gravitee-am-resource/gravitee-am-resource-smtp/src/main/java/io/gravitee/am/resource/smtp/provider/SmtpResourceProvider.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/AuditServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/AuditServiceTest.java
Due: none

feat: cap thread executors for smtp resource and auditing
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/CappedExecutorFactory.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/utils/CappedExecutorFactoryTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-resource/src/main/java/io/gravitee/am/plugins/resource/core/ResourcePluginManager.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-resource/src/main/java/io/gravitee/am/plugins/resource/spring/ResourceSpringConfiguration.java
  gravitee-am-resource/gravitee-am-resource-smtp/src/main/java/io/gravitee/am/resource/smtp/provider/SmtpResourceProvider.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/AuditServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/AuditServiceTest.java
Due: none

fix: indefinitely fetching OIDC cfg metadata
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/main/java/io/gravitee/am/gateway/handler/scim/service/impl/ProvisioningUserServiceImpl.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/main/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/SystemTaskUpgrader.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/AuthenticationFlowContextServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/RetryAtMostWithDelay.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/RetryWithDelay.java
Due: none

feat(console): device-notifier IdP picker + sensitive field masking
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/create/device-notifiers-creation.component.html
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/create/device-notifiers-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/create/steps/step2/step2.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/create/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/device-notifier/device-notifier.component.html
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/device-notifier/device-notifier.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/device-notifier/form/form.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/device-notifier/form/form.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/dynamic-sources.ts
Due: run_ui_tests

refactor(identityprovider): add profile(Token, AuthenticationContext) overload
  gravitee-am-identityprovider/gravitee-am-identityprovider-common/src/main/java/io/gravitee/am/identityprovider/common/oauth2/authentication/AbstractOpenIDConnectAuthenticationProvider.java
Due: none

feat(authdevice-notifier): CIBA-federation notifier plugin
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/ciba-federation.svg
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/pom.xml
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/assembly/plugin-assembly.xml
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/CibaFederationAuthenticationDeviceNotifier.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/CibaFederationAuthenticationDeviceNotifierConfiguration.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/AuthorizationPoller.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClient.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClientFactory.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationAuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ClientAuthentication.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ConsentRelayContext.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ConsentRelayStrategy.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ConsentRelayStrategyRegistry.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CrossWitness.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/DefaultCibaClientFactory.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/GatewayCallbackClient.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/OidcDiscoveryResolver.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PendingAuthStore.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/spring/CibaFederationProviderSpringConfiguration.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/resources/plugin.properties
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/resources/schemas/schema-form.json
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/AuthorizationPollerTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClientTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationIntegrationTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationProviderNotifyTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ClientAuthenticationTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ConsentRelayStrategyRegistryTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ConsentRelayStrategySelectionTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CrossWitnessTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/GatewayCallbackClientTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/OidcDiscoveryResolverTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PendingAuthStoreTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/spring/SchemaFormJsonTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/resources/META-INF/spring.factories
  gravitee-am-authdevice-notifier/pom.xml
Due: run-container-test

feat(authdevice-notifier): notifier capabilities + gateway-provided callbackUrl
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/AuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/IdentityProviderDependent.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/ADNotificationRequest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/ADUserResponse.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/FederatedConnection.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/NotifierCapability.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/AuthenticationDeviceNotifierProviderTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/IdentityProviderDependentTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/ADNotificationRequestTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/ADUserResponseTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/FederatedConnectionTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/NotifierCapabilityTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-http/src/main/java/io/gravitee/am/authdevice/notifier/http/provider/HttpAuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-http/src/test/java/io/gravitee/am/authdevice/notifier/http/provider/HttpAuthenticationDeviceNotifierProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImplTest.java
Due: none

feat(ciba-fed): hint-decoration SPI (interface, CibaHints, context, registry)
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaHints.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/HintDecorationContext.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/HintDecorationStrategy.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/HintDecorationStrategyRegistry.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/HintDecorationStrategyRegistryTest.java
Due: none

feat(ciba-fed): read+validate discovery issuer into ProviderMetadata
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/OidcDiscoveryResolver.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ProviderMetadata.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/OidcDiscoveryResolverTest.java
Due: none

refactor(ciba-fed): Y-flow (resolve→prepare→transport); apply hint-decoration seam in notify; CibaClient pure transport
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClient.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClientFactory.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationAuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/DefaultCibaClientFactory.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/spring/CibaFederationProviderSpringConfiguration.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClientTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationIntegrationTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationProviderNotifyTest.java
Due: none

feat(ciba): federated CIBA support — non-local hints, RFC 9396 RAR, federated completion
  gravitee-am-common/src/main/java/io/gravitee/am/common/ciba/Parameters.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/CIBAProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestAcknowledgeHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestCallbackHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestParametersHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/request/CibaAuthenticationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/request/CibaAuthenticationRequestResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/GrantData.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/TokenCreationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CibaStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2Request.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestAcknowledgeHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestParametersHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/service/request/CibaAuthenticationRequestResolverTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CibaStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oidc/model/CibaAuthRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/ListOfMapsToStringConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/oidc/model/JdbcCibaAuthRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth-master.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth/changelogs/v4_13_0/4.13.0-ciba-add-authorization-details.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth/changelogs/v4_13_0/4.13.0-ciba-subject-nullable.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/MongoCibaAuthRequestRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/internal/model/CibaAuthRequestMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/oauth2/api/CibaAuthRequestRepositoryTest.java
Due: run-container-test

feat(identityprovider): retrieveUserFromTokenResponse for back-channel flows
  gravitee-am-identityprovider/gravitee-am-identityprovider-api/src/main/java/io/gravitee/am/identityprovider/api/AuthenticationProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-common/src/main/java/io/gravitee/am/identityprovider/common/oauth2/authentication/AbstractOpenIDConnectAuthenticationProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest_idToken.java
Due: none

feat(ciba-fed): hintDecorationStrategy config field + schema-form entry
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/CibaFederationAuthenticationDeviceNotifierConfiguration.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/resources/schemas/schema-form.json
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/spring/SchemaFormJsonTest.java
Due: none

fix(authdevice-notifier): guard null notifier id; close test Vertx
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImplTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest_idToken.java
Due: none

feat: sync entrypoints from cockpit environment commands in cloud mode
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Entrypoint.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/EntrypointRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcEntrypointRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcEntrypoint.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/entrypoint/SpringEntrypointRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-entrypoints-add-environment-id-column.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoEntrypointRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/EntrypointMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/EntrypointRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/EntrypointService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewEntrypoint.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
Due: run-container-test

chore(ci): replace AquaSec orb with Aikido local scanner for docker image scans
  .circleci/workflows.yml
Due: none

chore(ci): replace AquaSec orb with Aikido local scanner for docker image scans
  .circleci/workflows.yml
  CLAUDE.md
Due: none

fix: aikido secret reference
  .circleci/workflows.yml
Due: none

feat: addition of JEST test for CIBA federation
  gravitee-am-test/specs/gateway/ciba-federation/ciba-federation.jest.spec.ts
  gravitee-am-test/specs/gateway/ciba-federation/fixtures/ciba-federation-fixture.ts
  gravitee-am-test/specs/gateway/ciba-federation/fixtures/hint-domain-fixture.ts
  gravitee-am-test/specs/gateway/ciba-federation/fixtures/target-domain-fixture.ts
Due: none

chore: add ciba-federation notifier in the default bundle
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/pom.xml
Due: run-container-test

fix: update CIBA Federation version
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/pom.xml
Due: run-container-test

fix: flaky scope-listing-discovery
  gravitee-am-test/specs/management/scope-management/scope-listing-discovery.jest.spec.ts
Due: none

fix: avoid NullPointer when the interval value is interpreted in CIBA federation mode
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClient.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestAcknowledgeHandler.java
Due: none

feat: per-user console preferences with default and pinned domains
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/CurrentUserPreferencesResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/CurrentUserResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/CurrentUserPreferencesResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/OrganizationUserService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/OrganizationUserServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/OrganizationUserServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/ConsoleUserPreferences.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/User.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcOrganizationUser.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/ConsoleUserPreferencesConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-organization-users-add-console-preferences.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/OrganizationUserMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/OrganizationUserRepositoryTest.java
Due: run-container-test

style: satisfy stylelint ordering and prettier in navbar picker and domains table
  gravitee-am-ui/src/app/components/navbar/navbar.component.scss
  gravitee-am-ui/src/app/settings/domains/domains.component.html
Due: run_ui_tests
