Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

feat: audit console preferences updates
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/CurrentUserPreferencesResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/CurrentUserPreferencesResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/OrganizationUserService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/OrganizationUserServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/OrganizationUserServiceTest.java
Due: none

style: format domain picker navbar template and styles
  gravitee-am-ui/src/app/components/navbar/navbar.component.html
  gravitee-am-ui/src/app/components/navbar/navbar.component.scss
Due: run_ui_tests

fix: compact domain picker rows and stop hover greying the whole menu
  gravitee-am-ui/src/app/components/navbar/navbar.component.scss
Due: run_ui_tests

test: cover unauthenticated access to console preferences endpoint
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/CurrentUserPreferencesResourceTest.java
Due: none

fix: cap domains ids query param to 50
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainsResourceTest.java
Due: none

feat: domain picker pinning, default domain and search in console
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/components/navbar/navbar.component.html
  gravitee-am-ui/src/app/components/navbar/navbar.component.scss
  gravitee-am-ui/src/app/components/navbar/navbar.component.ts
  gravitee-am-ui/src/app/home/home.component.ts
  gravitee-am-ui/src/app/services/domain.service.ts
  gravitee-am-ui/src/app/services/user-preferences.service.ts
  gravitee-am-ui/src/app/settings/domains/domains.component.html
  gravitee-am-ui/src/app/settings/domains/domains.component.scss
  gravitee-am-ui/src/app/settings/domains/domains.component.ts
Due: run_ui_tests

test: cover console user preferences and domains ids filter
  gravitee-am-test/specs/management/user-preferences.jest.spec.ts
Due: none

feat: redesign console domain picker with current section and compact menu
  gravitee-am-ui/src/app/components/navbar/navbar.component.html
  gravitee-am-ui/src/app/components/navbar/navbar.component.scss
  gravitee-am-ui/src/app/components/navbar/navbar.component.ts
Due: run_ui_tests

fix(mfa): register end handler before handle() to de-flake MFAChallengeSendEndpointTest
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeSendEndpointTest.java
Due: none

test(mfa): de-flake MFAChallengeGetEndpointTest with race-free end-handler await
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeGetEndpointTest.java
Due: none

feat: sync entrypoints from cockpit environment commands in cloud mode
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Entrypoint.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/EntrypointRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcEntrypointRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcEntrypoint.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/entrypoint/SpringEntrypointRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-entrypoints-add-environment-id-column.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoEntrypointRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/EntrypointMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/EntrypointRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/EntrypointService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewEntrypoint.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
Due: run-container-test

fix: paginate pinned domains list client-side
  gravitee-am-ui/src/app/settings/domains/domains.component.ts
Due: run_ui_tests

fix: include target user in console preferences update error audit
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/OrganizationUserServiceImpl.java
Due: none

chore: create github action to enforce documentation label on PR
  .github/workflows/doc-label-requirement.yml
Due: none

chore: to remove
  pom.xml
Due: run-container-test

chore: exclude renovate and mergify bot from the doc label validation
  .github/workflows/doc-label-requirement.yml
Due: none

fix(users): allow adding additional information to an existing user
  gravitee-am-ui/src/app/domain/settings/users/user/profile/profile.component.html
Due: run_ui_tests

fix: flaky scope-listing-discovery
  gravitee-am-test/specs/management/scope-management/scope-listing-discovery.jest.spec.ts
Due: none

fix: certificate providing own jwtBuilder/parser doesnt need keys
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/impl/CertificateProviderManagerImpl.java
Due: none

fix: stop InMemoryRoleManager on security domain undeploy
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/VertxSecurityDomainHandler.java
Due: none

test: cover console user preferences and the domains ids filter
  gravitee-am-test/specs/management/user-preferences.jest.spec.ts
Due: none

feat: add console domain picker with pinning, default domain and search
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/components/navbar/navbar.component.html
  gravitee-am-ui/src/app/components/navbar/navbar.component.scss
  gravitee-am-ui/src/app/components/navbar/navbar.component.ts
  gravitee-am-ui/src/app/home/home.component.ts
  gravitee-am-ui/src/app/services/domain.service.ts
  gravitee-am-ui/src/app/services/user-preferences.service.ts
  gravitee-am-ui/src/app/settings/domains/domains.component.html
  gravitee-am-ui/src/app/settings/domains/domains.component.scss
  gravitee-am-ui/src/app/settings/domains/domains.component.ts
Due: run_ui_tests

test: cover the console domain picker in playwright
  gravitee-am-test/playwright/fixtures/domain-picker.fixture.ts
  gravitee-am-test/playwright/pages/navbar.page.ts
  gravitee-am-test/playwright/tests/navbar/domain-picker.spec.ts
Due: none

feat: add per-user console preferences with default and pinned domains
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/CurrentUserPreferencesResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/CurrentUserResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/CurrentUserPreferencesResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/OrganizationUserService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/OrganizationUserServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/OrganizationUserServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/ConsoleUserPreferences.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/User.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcOrganizationUser.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/ConsoleUserPreferencesConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-organization-users-add-console-preferences.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/OrganizationUserMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/OrganizationUserRepositoryTest.java
Due: run-container-test

refactor: share the pinned domains cap with the domains ids filter
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainsResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/ConsoleUserPreferences.java
Due: none

fix: keep the domain picker request within the domains ids cap
  gravitee-am-ui/src/app/components/navbar/navbar.component.ts
  gravitee-am-ui/src/app/services/user-preferences.service.ts
Due: run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
