Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

feat(helm): configure the encryption of plugin configurations
  helm/CHANGELOG.md
  helm/README.adoc
  helm/README.md
  helm/templates/api/api-configmap.yaml
  helm/templates/gateway/gateway-configmap.yaml
  helm/tests/api/configmap_encryption_test.yaml
  helm/tests/gateway/configmap_encryption_test.yaml
  helm/values.yaml
Due: none

feat: audit the re-encryption of plugin configurations
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EntityType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/encryption/ConfigurationEncryptionAuditBuilder.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/encryption/ConfigurationEncryptionService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/encryption/ConfigurationEncryptionServiceTest.java
Due: none

feat: enable the encryption of plugin configurations explicitly
  docker/local-stack/dev/docker-compose-ci.yml
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-management-api/gravitee-am-management-api-internal/src/main/java/io/gravitee/am/management/handlers/internalapi/endpoints/EncryptConfigurationsEndpoint.java
  gravitee-am-management-api/gravitee-am-management-api-internal/src/test/java/io/gravitee/am/management/handlers/internalapi/endpoints/EncryptConfigurationsEndpointTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/encryption/ConfigurationEncryptionServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/EncryptingRepositoryBeanPostProcessor.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/EncryptionKeys.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/FieldEncryptor.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptedFieldRegistryTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptingRepositoryProxyTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptionKeysTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/FieldEncryptorTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/AbstractManagementTest.java
Due: run-container-test

fix: add MAGIC_LINK template in the supported list
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/EmailAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/EmailAuditBuilderTest.java
Due: none

fix: remove duplicate OpenAPI tags
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/AuthorizationEnginePluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/AuthorizationEnginesPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/BotDetectionPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/BotDetectionsPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/CertificatePluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/CertificatesPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/ExtensionGrantPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/ExtensionGrantsPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/FactorPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/FactorsPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/IdentityProviderPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/IdentityProvidersPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/ReporterPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/ReportersPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/ResourcePluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/plugins/ResourcesPluginResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/swagger/GraviteeApiDefinitionTest.java
Due: none

fix: bind the issued ID-JAG to the DPoP key of the token exchange
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idjag/impl/IdJagServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idjag/IdJagServiceImplTest.java
  gravitee-am-test/specs/gateway/token-exchange/id-jag-dpop.jest.spec.ts
Due: none

test: cover the magic link gateway scenarios AM-7819
  gravitee-am-test/api/commands/management/audit-management-commands.ts
  gravitee-am-test/playwright/fixtures/magic-link-gateway.fixture.ts
  gravitee-am-test/playwright/tests/auth/magic-link/magic-link-login-page.spec.ts
  gravitee-am-test/specs/gateway/magic-link.spec.ts
  gravitee-am-test/specs/gateway/magic-link/fixture/magic-link-gateway-fixture.ts
  gravitee-am-test/specs/gateway/magic-link/magic-link-audits.jest.spec.ts
  gravitee-am-test/specs/gateway/magic-link/magic-link-expiry-and-templates.jest.spec.ts
  gravitee-am-test/specs/gateway/magic-link/magic-link-link-usage.jest.spec.ts
  gravitee-am-test/specs/gateway/magic-link/magic-link-toggle.jest.spec.ts
Due: none

fix: follow design guideline for the create domain buttons
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.html
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.ts
Due: run_ui_tests

test: drop the comment on the magic link email sent test AM-7819
  gravitee-am-test/specs/gateway/magic-link/magic-link-audits.jest.spec.ts
Due: none

chore(ci): rework create domain button integration to pass the UI tests
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.html
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.spec.ts
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.ts
Due: run_ui_tests

fix: require a matching DPoP proof for a key-bound assertion
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyTest.java
  gravitee-am-test/specs/gateway/cross-app-access/fixtures/id-jag-issuer.ts
  gravitee-am-test/specs/gateway/cross-app-access/fixtures/id-jag-redemption-fixture.ts
  gravitee-am-test/specs/gateway/cross-app-access/id-jag-redemption-trust.jest.spec.ts
Due: none
