Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix(deps): spring-security upgrade to 6.5.11
  pom.xml
Due: run-container-test

fix: hmac token introspection by app with different cert
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/jwt/impl/JWTServiceImpl.java
Due: none

fix: preserve login settings on domain patch
  docs/mapi/openapi.yaml
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchLoginSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchDomainTest.java
  gravitee-am-test/api/management/models/PatchDomain.ts
  gravitee-am-test/api/management/models/PatchLoginSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/management/domains.jest.spec.ts
Due: none

fix: hmac token introspection by app with different cert
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/jwt/impl/JWTServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/spring/CommonConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/jwt/JWTServiceTest.java
Due: none

feat(AM-7193): expose enrolled factor target for SMS, email and call factors (#8156)
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/model/EnrolledFactorEntity.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/model/EnrolledFactorEntityTest.java
  gravitee-am-ui/src/app/domain/settings/users/user/factors/factors.component.html
Due: run_ui_tests

fix: truncate enrolled factor target with ellipsis and show full value on hover
  gravitee-am-ui/src/app/domain/settings/users/user/factors/factors.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/factors/factors.component.scss
Due: run_ui_tests

fix: disable tooltip when target is empty to avoid unnecessary event listeners
  gravitee-am-ui/src/app/domain/settings/users/user/factors/factors.component.html
Due: run_ui_tests

fix: evaluate the certificate expiry for TLS connection
  pom.xml
Due: run-container-test

feat: required scopes for consent
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/css/main.css
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/oauth2_user_consent.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/authorization/consent/UserConsentEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/consent/UserConsentProcessHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/utils/RequiredScopeUtils.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/authorization/consent/UserConsentEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/consent/UserConsentProcessHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/preview/PreviewBuilder.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/css/main.css
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/oauth2_user_consent.html
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/preview/PreviewServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationScopeSettings.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/application/ApplicationScopeSettingsTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-application-scope-settings-add-required.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationScopeSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-test/api/management/apis/ApplicationApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/apis/ProtectedResourceApi.ts
  gravitee-am-test/api/management/models/ApplicationOAuthSettings.ts
  gravitee-am-test/api/management/models/ApplicationScopeSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationOAuthSettings.ts
  gravitee-am-test/playwright/utils/oauth-callback-helpers.ts
  gravitee-am-test/specs/gateway/oauth2/fixture/oauth2-fixture.ts
  gravitee-am-test/specs/gateway/oauth2/oauth2-grant-authorization-code.jest.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.ts
Due: run-container-test, run_ui_tests

fix(AM-7243): truncate enrolled factor target with ellipsis and show full value (#8180)
  gravitee-am-ui/src/app/domain/settings/users/user/factors/factors.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/factors/factors.component.scss
Due: run_ui_tests

fix: preserve login settings on domain patch
  docs/mapi/openapi.yaml
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchLoginSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchDomainTest.java
  gravitee-am-test/api/management/models/PatchDomain.ts
  gravitee-am-test/api/management/models/PatchLoginSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/management/certificate-based-auth-settings.jest.spec.ts
  gravitee-am-test/specs/management/domains.jest.spec.ts
Due: none

fix: preserve login settings on domain patch
  docs/mapi/openapi.yaml
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchLoginSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchDomainTest.java
  gravitee-am-test/api/management/models/PatchDomain.ts
  gravitee-am-test/api/management/models/PatchLoginSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/management/cba/cba-settings.jest.spec.ts
  gravitee-am-test/specs/management/domains.jest.spec.ts
Due: none

chore: update the base image to the 25-alpine and remove perl
  docker/gateway/Dockerfile
  docker/gateway/Dockerfile-dev
  docker/management-api/Dockerfile
  docker/management-api/Dockerfile-dev
Due: none

chore: bump gravitee bom to 9.0.3
  pom.xml
Due: run-container-test
