Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: use RFC 3986 percent-encoding for spaces in encodeURIComponent to fix round-trip with decodeURIComponent
  gravitee-am-common/src/main/java/io/gravitee/am/common/web/UriBuilder.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/web/UriBuilderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
Due: none

test: add tests for client_id with '+' in basic auth
  gravitee-am-common/src/test/java/io/gravitee/am/common/web/UriBuilderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProviderTest.java
  gravitee-am-test/specs/management/client-secrets.jest.spec.ts
Due: none

test: fix AM-4872 client_id + character tests
  gravitee-am-test/specs/management/client-secrets.jest.spec.ts
Due: none

revert accidental package-lock.json change
  gravitee-am-test/package-lock.json
Due: none

fix: keep decodeURIComponent as standard form-urlencoded, preserve '+' at call site in ClientAuthHandlerImpl
  gravitee-am-common/src/main/java/io/gravitee/am/common/web/UriBuilder.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/web/UriBuilderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
Due: none

test: move AM-4872 client_id + tests to dedicated gateway spec with fixture
  gravitee-am-test/specs/gateway/client-authentication.jest.spec.ts
  gravitee-am-test/specs/gateway/fixtures/client-authentication-fixture.ts
  gravitee-am-test/specs/management/client-secrets.jest.spec.ts
Due: none

fix: SERVICE app flow designer should allow only TOKEN flow type
  gravitee-am-ui/src/app/domain/applications/application/design/flows/flows.component.ts
Due: run_ui_tests

test: add coverage for TCP reporter
  gravitee-am-test/api/commands/utils/tcp-consumer.ts
  gravitee-am-test/specs/gateway/reporters/domain-reporter-tcp.jest.spec.ts
  gravitee-am-test/specs/gateway/reporters/fixture/domain-reporter-tcp-fixture.ts
Due: none

fix: remove erroneous property
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/elasticsearch/index/audit.ftl
Due: run-container-test

test: amend CI setup for TCP reporter
  docker/local-stack/dev/docker-compose.yml
  gravitee-am-test/api/commands/utils/tcp-consumer.ts
  gravitee-am-test/api/config/ci.setup.js
  gravitee-am-test/api/config/dev.setup.js
  gravitee-am-test/package-lock.json
  gravitee-am-test/specs/gateway/reporters/domain-reporter-tcp.jest.spec.ts
  gravitee-am-test/specs/gateway/reporters/fixture/domain-reporter-tcp-fixture.ts
Due: none

fix: paths /, //, generate an ArrayIndexOutOfBoundException
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/core/http/VertxHttpServerRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/core/http/VertxHttpServerRequestTest.java
Due: none

feat: add CIMD metadata cache
  docker/local-stack/README.md
  docker/local-stack/dev/wiremock/request-cimd.json
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/CimdMetadataEvent.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Event.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Type.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/spring/CommonConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManagerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/purge/ManagementExpiredDataSweeperProvider.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/spring/ManagementPurgeServiceConfiguration.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/CimdMetadataDocument.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/CimdMetadataDocumentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcCimdMetadataDocumentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcCimdMetadataDocument.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/SpringCimdMetadataDocumentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-add-cimd-metadata-documents.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoCimdMetadataDocumentRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/CimdMetadataDocumentMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/CimdMetadataDocumentRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/CimdMetadataDocumentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/CimdMetadataDocumentServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/CimdMetadataDocumentServiceImplTest.java
  gravitee-am-test/specs/gateway/cimd/cimd-authorize-enabled-base.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/fixtures/cimd-authorize-fixture.ts
Due: run-container-test

feat: populate cache immediately
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManagerTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/CimdMetadataDocument.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/CimdMetadataDocumentServiceImpl.java
Due: none

chore: ensure node process terminates after timeout
  gravitee-am-test/api/commands/utils/retry.ts
Due: none

chore: remove environment resource and regen openapi spec
  docs/automation/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/AutomationApplication.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationEnvironmentDefinition.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/EnvironmentsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/OrganizationResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/swagger/AutomationApiDefinition.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/AutomationNewEnvironment.java
  gravitee-am-test/specs/management/automation/environments.jest.spec.ts
  gravitee-am-test/specs/management/automation/walkthrough.jest.spec.ts
Due: none

feat: prefetch logos and expose logo endpoint
  docker/local-stack/dev/wiremock/request-cimd.json
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/pom.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/src/main/assembly/plugin-assembly.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/src/main/java/io/gravitee/am/gateway/handler/cimd/CimdProtocol.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/src/main/java/io/gravitee/am/gateway/handler/cimd/CimdProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/src/main/java/io/gravitee/am/gateway/handler/cimd/resources/endpoint/CimdLogoEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/src/main/java/io/gravitee/am/gateway/handler/cimd/spring/CimdConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/src/main/resources/plugin.properties
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/CachedLogo.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/ClientIds.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/impl/ClientSyncServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/protectedresource/impl/ProtectedResourceSyncServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/ClientSyncServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdClientIdsTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManagerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/ClientIdsTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/protectedresource/ProtectedResourceSyncServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/VertxSecurityDomainHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/pom.xml
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-test/specs/gateway/cimd/cimd-authorize-enabled-base.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/cimd-logo.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/fixtures/cimd-authorize-fixture.ts
  gravitee-am-test/specs/gateway/cimd/fixtures/cimd-wiremock-helpers.ts
Due: run-container-test

feat: amend JDBC repository query
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/SpringCimdMetadataDocumentRepository.java
Due: run-container-test

feat: combine caches
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/CachedLogo.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManagerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImplTest.java
Due: none

feat: add Java SDK module for the Management API
  gravitee-am-management-api-sdk-java/.gitignore
  gravitee-am-management-api-sdk-java/README.md
  gravitee-am-management-api-sdk-java/pom.xml
  pom.xml
Due: run-container-test

feat: recompute max-age
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/src/main/java/io/gravitee/am/gateway/handler/cimd/resources/endpoint/CimdLogoEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdMetadataDocumentManagerTest.java
Due: none

feat: AM-6945 enable "authentication" on SMTP resource when username/password is provided
  gravitee-am-resource/gravitee-am-resource-smtp/src/main/java/io/gravitee/am/resource/smtp/configuration/SmtpResourceConfiguration.java
  gravitee-am-resource/gravitee-am-resource-smtp/src/test/java/io/gravitee/am/resource/smtp/configuration/SmtpResourceConfigurationTest.java
Due: none

chore: build gamma branch and push images to Azure registry
  .circleci/workflows.yml
  pom.xml
Due: run-container-test

feat: add agent support to DCR, app creation, and act claim
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-test/specs/gateway/mfa/fixtures/mfa-type-mismatch-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.html
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
Due: run_ui_tests

feat: add blueprint agent identity model, persistence, and JWKS endpoints
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationAdvancedSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationAdvancedSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationAdvancedSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
Due: run-container-test
