Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: validate tokens as described types
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DefaultTokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenValidationUtils.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DefaultTokenValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenValidationUtilsTest.java
  gravitee-am-test/specs/gateway/token-exchange/fixtures/id-jag-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/id-jag-identity.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/id-jag-issuance.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-invalid.jest.spec.ts
Due: none

fix: hide connection settings on default reporter
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/SystemReporterConfigResolver.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/SystemReporterConfigResolverTest.java
Due: none

fix(xaa): publish discovered trusted issuer across threads
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/main/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProvider.java
Due: none

feat(xaa): resource and scope checks on id-jag redemption
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/IdJagAssertionContext.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/granter/extensiongrant/impl/ExtensionGrantManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategyTest.java
Due: none

feat(xaa): route jwt-bearer requests by assertion type
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/GrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/granter/CompositeTokenGranter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/granter/TokenGranter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/AssertionFixtures.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/granter/CompositeTokenGranterTest.java
Due: none

feat(xaa): trusted issuer on the oidc identity provider
  gravitee-am-identityprovider/gravitee-am-identityprovider-api/src/main/java/io/gravitee/am/identityprovider/api/trustedissuer/AssertionVerifier.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-api/src/main/java/io/gravitee/am/identityprovider/api/trustedissuer/IdJagAssertionVerifier.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-api/src/main/java/io/gravitee/am/identityprovider/api/trustedissuer/OAuthTrustedIssuer.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-api/src/main/java/io/gravitee/am/identityprovider/api/trustedissuer/TrustedIssuerIdp.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-common/src/test/java/io/gravitee/am/identityprovider/api/trustedissuer/IdJagAssertionVerifierTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-google/src/test/java/io/gravitee/am/identityprovider/google/authentication/GoogleAuthenticationProviderTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/main/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest.java
Due: none

refactor(xaa): move id-jag assertion routing into extension grant providers
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-api/src/main/java/io/gravitee/am/extensiongrant/api/ExtensionGrantProvider.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-api/src/main/java/io/gravitee/am/extensiongrant/api/IdJagAssertions.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-api/src/test/java/io/gravitee/am/extensiongrant/api/IdJagAssertionsTest.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProvider.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/test/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProviderTest.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-jwtbearer/src/main/java/io/gravitee/am/extensiongrant/jwtbearer/provider/JWTBearerExtensionGrantProvider.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-jwtbearer/src/test/java/io/gravitee/am/extensiongrant/jwtbearer/provider/JWTBearerExtensionGrantProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/granter/CompositeTokenGranterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/granter/extensiongrant/impl/ExtensionGrantManagerImplTest.java
Due: none

feat(xaa): cross app access extension grant plugin and routing
  gravitee-am-common/src/main/java/io/gravitee/am/common/oauth2/ExtensionGrantPluginType.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-api/src/main/java/io/gravitee/am/extensiongrant/api/ExtensionGrantProvider.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-api/src/test/java/io/gravitee/am/extensiongrant/api/ExtensionGrantProviderTest.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/pom.xml
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/assembly/plugin-assembly.xml
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/java/io/gravitee/am/extensiongrant/crossappaccess/CrossAppAccessExtensionGrant.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/java/io/gravitee/am/extensiongrant/crossappaccess/CrossAppAccessExtensionGrantConfiguration.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProvider.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/resources/plugin.properties
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/resources/schemas/schema-form.json
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/test/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProviderTest.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/test/resources/logback.xml
  gravitee-am-extensiongrant/pom.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/auth/idp/IdentityProviderManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/auth/idp/impl/IdentityProviderManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/auth/idp/impl/IdentityProviderManagerImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/granter/extensiongrant/impl/ExtensionGrantManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/granter/CompositeTokenGranterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/granter/extensiongrant/impl/ExtensionGrantManagerImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-identityprovider/gravitee-am-identityprovider-api/src/main/java/io/gravitee/am/identityprovider/api/trustedissuer/ResolvedTrustedIssuer.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-api/src/main/java/io/gravitee/am/identityprovider/api/trustedissuer/TrustedIssuerResolver.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/pom.xml
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-extensiongrant/src/main/java/io/gravitee/am/plugins/extensiongrant/core/ExtensionGrantPluginManager.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-extensiongrant/src/main/java/io/gravitee/am/plugins/extensiongrant/core/ExtensionGrantProviderConfiguration.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-extensiongrant/src/test/java/io/gravitee/am/plugins/extensiongrant/core/ExtensionGrantPluginManagerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ExtensionGrantServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ExtensionGrantServiceTest.java
  gravitee-am-ui/src/app/domain/settings/extension-grants/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/settings/extension-grants/extension-grants.component.ts
Due: run-container-test, run_ui_tests

feat(xaa): identity provider lookup by issuer
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/auth/idp/AmbiguousTrustedIssuerException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/auth/idp/TrustedIssuerProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/auth/idp/impl/IdentityProviderManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/auth/idp/impl/IdentityProviderManagerImplTest.java
Due: none

feat(xaa): pluggable end-user resolution in extension grant strategy
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-api/src/main/java/io/gravitee/am/extensiongrant/api/ResolvedEndUser.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyTest.java
Due: none

feat(xaa): redeem id-jag with default user binding
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-api/src/test/java/io/gravitee/am/extensiongrant/api/ExtensionGrantProviderTest.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProvider.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/test/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/GrantData.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/IdJagAssertionContext.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/TokenCreationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/granter/extensiongrant/impl/ExtensionGrantManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/TokenRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/granter/extensiongrant/impl/ExtensionGrantManagerImplTest.java
Due: none

fix(xaa): id-jag sub matches the id token sub
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idjag/impl/IdJagServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idjag/IdJagServiceImplTest.java
  gravitee-am-test/specs/gateway/token-exchange/id-jag-identity.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/id-jag-issuance.jest.spec.ts
Due: none

feat(xaa): binding rules on id-jag redemption
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-api/src/main/java/io/gravitee/am/extensiongrant/api/ResolvedEndUser.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-api/src/test/java/io/gravitee/am/extensiongrant/api/ExtensionGrantProviderTest.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProvider.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/main/resources/schemas/schema-form.json
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-cross-app-access/src/test/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/binding/UserBindingException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/binding/UserBindingResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerUserResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/AssertionFixtures.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyTest.java
Due: none

refactor(xaa): rename cross app access extension grant module to xaa
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-xaa/pom.xml
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-xaa/src/main/assembly/plugin-assembly.xml
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-xaa/src/main/java/io/gravitee/am/extensiongrant/crossappaccess/CrossAppAccessExtensionGrant.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-xaa/src/main/java/io/gravitee/am/extensiongrant/crossappaccess/CrossAppAccessExtensionGrantConfiguration.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-xaa/src/main/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProvider.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-xaa/src/main/resources/plugin.properties
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-xaa/src/main/resources/schemas/schema-form.json
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-xaa/src/test/java/io/gravitee/am/extensiongrant/crossappaccess/provider/CrossAppAccessExtensionGrantProviderTest.java
  gravitee-am-extensiongrant/gravitee-am-extensiongrant-xaa/src/test/resources/logback.xml
  gravitee-am-extensiongrant/pom.xml
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/pom.xml
Due: run-container-test

feat(xaa): audit id-jag redemption
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/IdJagAssertionContext.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2Request.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2RequestParams.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/TokenRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CrossAppAccessGrantStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2RequestParamsTest.java
Due: none

feat(xaa): console form for cross app access grant
  gravitee-am-ui/src/app/domain/settings/extension-grants/creation/steps/step2/step2.component.scss
  gravitee-am-ui/src/app/domain/settings/extension-grants/extension-grant/extension-grant.component.html
  gravitee-am-ui/src/app/domain/settings/extension-grants/extension-grant/extension-grant.component.scss
  gravitee-am-ui/src/app/domain/settings/extension-grants/extension-grant/extension-grant.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/extension-grants/extension-grant/extension-grant.component.ts
  gravitee-am-ui/src/app/domain/settings/extension-grants/extension-grant/form/form.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/extension-grants/extension-grant/form/form.component.ts
Due: run_ui_tests

feat(xaa): feature mapping for xaa plugin
  pom.xml
Due: run-container-test

fix(xaa): wrong uri for xaa configuration
  gravitee-am-ui/src/app/domain/settings/extension-grants/extension-grant/form/form.component.spec.ts
Due: run_ui_tests

ci: resolve and publish Maven artifacts through the Azure Artifacts feeds
  .circleci/workflows-migration.yml
  .circleci/workflows.yml
Due: none

fix: keep cross app access settings when the usage is disabled
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.ts
Due: run_ui_tests

ci: give the Keeper context to the jobs now fetching an Azure token
  .circleci/workflows.yml
Due: none

fix: edit XAA resource servers in place in the Console
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.ts
Due: run_ui_tests

fix: remove leftover usage chip from trusted domain edit page
  gravitee-am-test/playwright/pages/trusted-domain-detail.page.ts
  gravitee-am-test/playwright/tests/security/trusted-domains/crud.spec.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain.types.spec.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain.types.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.spec.ts
Due: run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
