Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: decouple entrypoint sync events from data planes
  gravitee-am-gateway/gravitee-am-gateway-services/gravitee-am-gateway-services-sync/src/main/java/io/gravitee/am/gateway/services/sync/SyncManager.java
  gravitee-am-gateway/gravitee-am-gateway-services/gravitee-am-gateway-services-sync/src/test/java/io/gravitee/am/gateway/services/sync/SyncManagerTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/EnvironmentCommandHandlerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/EntryPointManager.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/EntrypointService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/AbstractEntryPointManager.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/EntrypointServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/DesiredEntrypoint.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/EntrypointServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/AbstractEntryPointManagerTest.java
  gravitee-am-test/specs/cloud/entrypoint-cache.jest.spec.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-entrypoint-fixture.ts
  gravitee-am-test/specs/cloud/fixtures/cloud-shared-fixture.ts
Due: none

fix: add french message for the mfa_challenge.enroll.back key
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
Due: none

fix: pin a system cluster identity provider to the database it actually reads
  docs/mapi/openapi.yaml
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/main/java/io/gravitee/am/identityprovider/mongo/MongoAbstractProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/MongoAbstractProviderTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/platform/configuration/ConfigurationResource.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DefaultIdentityProviderServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/IdentityProviderServiceProxyImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/SystemClusterIdpDatabaseUpgrader.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/SystemUpgraderOrder.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/SystemClusterIdpDatabaseUpgraderTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneRegistryImpl.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/core/DataPlaneUtility.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/BackendConfigurationUtils.java
  gravitee-am-repository/gravitee-am-repository-mongodb-api/src/main/java/io/gravitee/am/repository/mongodb/provider/impl/MongoConnectionProvider.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/IdentityProviderService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterDatabaseResolver.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterIdpPolicy.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterIdpSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/IdentityProviderServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/InstallationConfiguration.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/SystemReporterConfigResolver.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/IdentityProviderServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/idp/SystemClusterDatabaseResolverTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/idp/SystemClusterIdpPolicyTest.java
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/models/IdentityProviderStorage.ts
  gravitee-am-test/api/management/models/InstallationConfiguration.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/playwright/tests/domain/identity-provider-storage.spec.ts
  gravitee-am-test/specs/cloud/fixtures/system-cluster-idp-fixture.ts
  gravitee-am-test/specs/cloud/identity-provider-system-cluster.jest.spec.ts
  gravitee-am-ui/src/app/domain/settings/providers/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.spec.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.ts
  gravitee-am-ui/src/app/services/cloud-mode.service.ts
Due: run-container-test, run_ui_tests

fix: fix flacky test for domain navbar
  gravitee-am-test/playwright/tests/navbar/domain-picker.spec.ts
Due: none

fix: remove gateway scope restriction for system-cluster default IDP
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/main/java/io/gravitee/am/identityprovider/mongo/MongoAbstractProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-mongo/src/test/java/io/gravitee/am/identityprovider/mongo/MongoAbstractProviderTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DefaultIdentityProviderServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DefaultIdentityProviderServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
Due: none

fix: always restrict to system cluster in cloud mode
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterIdpSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/idp/SystemClusterIdpPolicyTest.java
Due: none

fix: do not publish distribution ZIP bundles to Nexus and Artifactory
  .circleci/workflows.yml
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/gravitee-am-gateway-standalone-distribution-zip/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/gravitee-am-management-api-standalone-distribution-zip/pom.xml
  gravitee-am-ui/pom.xml
  pom.xml
Due: run-container-test, run_ui_tests

fix: do not publish distribution ZIP bundles to Nexus and Artifactory
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/gravitee-am-gateway-standalone-distribution-zip/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/gravitee-am-management-api-standalone-distribution-zip/pom.xml
  gravitee-am-ui/pom.xml
Due: run-container-test, run_ui_tests

test: attestation root certificates keep a valid issue AM-7617
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/GraviteeWebAuthnOptionsTest.java
Due: none

fix: group trusted domain usages into nested blocks
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/mapper/ObjectMapperResolver.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/ManagementObjectMapperConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/DomainTrustedIssuerUpgrader.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/trustdomain/TrustedIssuerProjection.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeTrustSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/TokenExchangeTrustSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/TrustDomain.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/TrustDomainDeprecated.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/TrustDomainKeyMaterial.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoTrustDomainRepository.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/TrustDomainService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewTrustDomainRequest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewTrustDomainV2.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/TrustDomainRequestVersion.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/UpdateTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/UpdateTrustDomainRequest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/UpdateTrustDomainV2.java
Due: run-container-test

wip3
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenValidationUtilsTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerResolverImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerTokenValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerUserResolverTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/trustdomain/TrustDomainManagerImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/trustdomain/impl/TrustDomainKeyServiceImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/ManagementObjectMapperConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/upgrades/DomainTrustedIssuerUpgraderTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/trustdomain/TrustedIssuerProjectionTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/TrustDomainRepositoryTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/ApplicationServiceImplSpiffeValidationTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/TrustDomainServiceImplTest.java
Due: run-container-test

fix: skip mongo uri setting for default idp relying on system cluster
  gravitee-am-common/src/main/java/io/gravitee/am/common/env/CloudProperties.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/env/RepositoriesEnvironment.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DefaultIdentityProviderServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DefaultIdentityProviderServiceTest.java
Due: none

test: an unloadable attestation root degrades the trust set
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/WebAuthnFactoryResilienceTest.java
Due: none

fix: make system mode immutable in restricted mode
  gravitee-am-service/src/main/java/io/gravitee/am/service/idp/SystemClusterIdpPolicy.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/idp/SystemClusterIdpPolicyTest.java
  gravitee-am-test/playwright/pages/identity-provider-settings.page.ts
  gravitee-am-test/playwright/tests/domain/identity-provider-storage.spec.ts
  gravitee-am-test/specs/cloud/identity-provider-system-cluster.jest.spec.ts
  gravitee-am-test/specs/management/identity-provider/fixtures/system-cluster-fixture.ts
  gravitee-am-test/specs/management/identity-provider/identity-provider-system-cluster.jest.spec.ts
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.html
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/mappers/mappers.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.spec.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/provider.form.enricher.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.html
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.ts
Due: run_ui_tests

test: map a provider duplicate to a SCIM conflict
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
Due: none

test: group the webauthn resilience tests by level AM-7618
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/WebAuthnFactoryResilienceTest.java
Due: none

test: drop the noisy javadoc
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
Due: none
