Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

chore(ci): run the integration tests with plugin configuration encryption
  docker/local-stack/dev/docker-compose-ci.yml
Due: none

feat: audit the re-encryption of plugin configurations
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EntityType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/encryption/ConfigurationEncryptionAuditBuilder.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/encryption/ConfigurationEncryptionService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/encryption/ConfigurationEncryptionServiceTest.java
Due: none

feat: enable the encryption of plugin configurations explicitly
  docker/local-stack/dev/docker-compose-ci.yml
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-management-api/gravitee-am-management-api-internal/src/main/java/io/gravitee/am/management/handlers/internalapi/endpoints/EncryptConfigurationsEndpoint.java
  gravitee-am-management-api/gravitee-am-management-api-internal/src/test/java/io/gravitee/am/management/handlers/internalapi/endpoints/EncryptConfigurationsEndpointTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/encryption/ConfigurationEncryptionServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/EncryptingRepositoryBeanPostProcessor.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/EncryptionKeys.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/FieldEncryptor.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptedFieldRegistryTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptingRepositoryProxyTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptionKeysTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/FieldEncryptorTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/AbstractManagementTest.java
Due: run-container-test

feat(helm): configure the encryption of plugin configurations
  helm/CHANGELOG.md
  helm/README.adoc
  helm/README.md
  helm/templates/api/api-configmap.yaml
  helm/templates/gateway/gateway-configmap.yaml
  helm/tests/api/configmap_encryption_test.yaml
  helm/tests/gateway/configmap_encryption_test.yaml
  helm/values.yaml
Due: none

feat: rotate the keys encrypting plugin configurations
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/EncryptingRepositoryBeanPostProcessor.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/FieldEncryptor.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptedFieldRegistryTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptingRepositoryProxyTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/FieldEncryptorTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/AbstractConfigurationEncryptionTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/AbstractManagementTest.java
Due: run-container-test

feat: encrypt plugin configurations in the management repository
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-model/src/main/java/io/gravitee/am/model/DataPlaneDefinition.java
  gravitee-am-repository/gravitee-am-repository-api/pom.xml
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/EncryptedField.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/EncryptedFieldRegistry.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/EncryptingRepositoryBeanPostProcessor.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/EncryptingRepositoryProxy.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/encryption/FieldEncryptor.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptedFieldRegistryTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/EncryptingRepositoryProxyTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/encryption/FieldEncryptorTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/ManagementRepositoryConfiguration.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/management/api/JdbcConfigurationEncryptionTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/management/test/config/ManagementTestConfigurationLoader.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/ManagementRepositoryConfiguration.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/management/MongoConfigurationEncryptionTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/AbstractConfigurationEncryptionTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/AbstractManagementTest.java
Due: run-container-test

chore(ci): rework create domain button integration to pass the UI tests
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.html
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.spec.ts
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.ts
Due: run_ui_tests

fix: require a matching DPoP proof for a key-bound assertion
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyTest.java
  gravitee-am-test/specs/gateway/cross-app-access/fixtures/id-jag-issuer.ts
  gravitee-am-test/specs/gateway/cross-app-access/fixtures/id-jag-redemption-fixture.ts
  gravitee-am-test/specs/gateway/cross-app-access/id-jag-redemption-trust.jest.spec.ts
Due: none

feat: configure lightweight JWT claim allowlists
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/JWT.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/jwt/JWTTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationLightweightJwtSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/ClientTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationLightweightJwtSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/lightweightjwt/ApplicationLightweightJwtValidator.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceCimdGuardTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchApplicationTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/lightweightjwt/ApplicationLightweightJwtValidatorTest.java
  gravitee-am-test/api/management/models/ApplicationLightweightJwtSettings.ts
  gravitee-am-test/specs/gateway/token-claims/fixtures/token-identity-fixture.ts
  gravitee-am-test/specs/gateway/token-claims/lightweight-jwt-allowlist.jest.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/dialog/lightweight-jwt-info.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.ts
Due: run-container-test, run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
