Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: SCIM update operation changes the internal property to false
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/main/java/io/gravitee/am/gateway/handler/scim/service/impl/ProvisioningUserServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
Due: none

fix: integrate PAR and CIBA with CIMD
  docker/local-stack/dev/wiremock/request-cimd.json
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceTest.java
  gravitee-am-test/specs/gateway/cimd/cimd-ciba.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/cimd-par.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/fixtures/cimd-ciba-fixture.ts
Due: none

fix: correct CIMD specification name
  gravitee-am-ui/src/app/domain/settings/cimd/cimd.component.html
Due: run_ui_tests

fix: map domain master value
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AbstractDomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainsResourceTest.java
Due: none

feat(applications): add status and owner.email filter on application list endpoint
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceFilterTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/ApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/OrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/search/ApplicationCriteria.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/AbstractDialectHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/DatabaseDialectHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/PostgresqlHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcMembershipRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoMembershipRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryCriteriaTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/MembershipRepositoryCriteriaTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ApplicationService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/ApplicationFilter.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

feat: enabled gitops deploy for gamma
  .circleci/scripts/gitops-deploy.sh
  .circleci/workflows.yml
Due: none

chore: build gamma branch and push images to Azure registry
  .circleci/workflows.yml
  pom.xml
Due: run-container-test

chore: remove agent keys in favor of existing JWKS
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/ApplicationAgentKeysResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapperTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/services/application-agent-keys.service.ts
Due: run-container-test, run_ui_tests

test: add agent and CIMD unit tests and auth flow matrix
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/ApplicationAgentKeysResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapperTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilderTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/user-embedded-pkce.jest.spec.ts
Due: none

feat: add workload-jwt client assertion for agent instances
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
Due: none

feat: integrate CIMD client metadata document for agent identity
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCache.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataDocument.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataFetcher.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCacheTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

test: align blueprint tokenEndpointAuthMethod default to client_secret_basic
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
Due: none

fix: TCP reporter race; refactor: SSRF pluggability; test alignment
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporter.java
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
Due: run-container-test

refactor: route agent assertions via jwt-bearer URN and propagate grant types
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/user-embedded-pkce.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

feat: add agent support to DCR, app creation, and act claim
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-test/specs/gateway/mfa/fixtures/mfa-type-mismatch-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.html
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
Due: run_ui_tests

refactor(ui): collapse AgentSettings into OAuth and polish agent form
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
Due: run-container-test, run_ui_tests

feat: emit client_profile claim, validate JWKS uploads, address workload-jwt review
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

fix: restrict workload-jwt sig verify, pin CIMD DNS, attribute agent key audits
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/ApplicationAgentKeysResourceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
Due: none

feat(ui): add agent identity screens with reactive and audit refactors
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/applications.component.html
  gravitee-am-ui/src/app/domain/applications/applications.component.scss
  gravitee-am-ui/src/app/domain/applications/applications.component.ts
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
  gravitee-am-ui/src/app/services/application-agent-keys.service.ts
  gravitee-am-ui/src/app/services/application.service.ts
Due: run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
