Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: patch Login settings at application level
  docs/mapi/openapi.yaml
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchApplicationTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/utils/PermissionSettingsUtilsTest.java
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
Due: none

fix: auto-resize data tables
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/directives/datatable-auto-resize.directive.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.scss
Due: run_ui_tests

chore: update java verison in AGENT.md
  AGENTS.md
Due: none

feat(ciba): federated CIBA support — non-local hints, RFC 9396 RAR, federated completion
  gravitee-am-common/src/main/java/io/gravitee/am/common/ciba/Parameters.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/CIBAProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestAcknowledgeHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestCallbackHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestParametersHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/request/CibaAuthenticationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/request/CibaAuthenticationRequestResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/GrantData.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/TokenCreationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CibaStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2Request.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestAcknowledgeHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestParametersHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/service/request/CibaAuthenticationRequestResolverTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CibaStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oidc/model/CibaAuthRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/ListOfMapsToStringConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/oidc/model/JdbcCibaAuthRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth-master.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth/changelogs/v4_12_0/4.12.0-ciba-add-authorization-details.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/MongoCibaAuthRequestRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/internal/model/CibaAuthRequestMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/oauth2/api/CibaAuthRequestRepositoryTest.java
Due: run-container-test

feat(authdevice-notifier): CIBA-federation notifier plugin
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/ciba-federation.svg
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/pom.xml
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/assembly/plugin-assembly.xml
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/CibaFederationAuthenticationDeviceNotifier.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/CibaFederationAuthenticationDeviceNotifierConfiguration.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/Auth0UserProfileConsentRenderer.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/Auth0UserProfileRelayStrategy.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/AuthorizationPoller.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClient.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClientFactory.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationAuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ConsentRelayStrategy.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CrossWitness.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/DefaultCibaClientFactory.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/GatewayCallbackClient.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/OidcDiscoveryResolver.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PassthroughRelayStrategy.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PendingAuthStore.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/spring/CibaFederationProviderSpringConfiguration.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/resources/plugin.properties
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/resources/schemas/schema-form.json
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/Auth0UserProfileConsentRendererTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/Auth0UserProfileRelayStrategyTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/AuthorizationPollerTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClientTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationIntegrationTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationProviderNotifyTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CrossWitnessTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/GatewayCallbackClientTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/OidcDiscoveryResolverTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PassthroughRelayStrategyTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PendingAuthStoreTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/spring/SchemaFormJsonTest.java
  gravitee-am-authdevice-notifier/pom.xml
Due: run-container-test

feat: add License repository to persist a license linked to an organization
  gravitee-am-model/src/main/java/io/gravitee/am/model/License.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/LicenseRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcLicenseRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcLicense.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-licenses-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/JdbcRepositoriesTestInitializer.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoLicenseRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/LicenseMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/LicensePkMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/LicenseRepositoryTest.java
Due: run-container-test

docs: add agent standard for Lombok/records on new models
  AGENTS.md
  docs/agent-standards/cursor-rules/30-architecture-backend.mdc
Due: none

feat: add cockpit WebSocket mock tool for AM integration testing
  gravitee-am-cockpit-mock/.dockerignore
  gravitee-am-cockpit-mock/.gitignore
  gravitee-am-cockpit-mock/Dockerfile
  gravitee-am-cockpit-mock/README.md
  gravitee-am-cockpit-mock/package-lock.json
  gravitee-am-cockpit-mock/package.json
  gravitee-am-cockpit-mock/src/protocol.ts
  gravitee-am-cockpit-mock/src/queue.ts
  gravitee-am-cockpit-mock/src/server.ts
  gravitee-am-cockpit-mock/src/state.ts
  gravitee-am-cockpit-mock/tsconfig.json
Due: none

feat: handle licenses in organization commands
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/commands/OrganizationCommandHandler.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/commands/OrganizationCommandHandlerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/LicenseService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/InvalidLicenseException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/LicenseServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/OrganizationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewOrganization.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/LicenseServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/OrganizationServiceTest.java
Due: none

test: add jest tests for application general settings
  gravitee-am-test/specs/management/application-general-settings/application-general-settings.jest.spec.ts
  gravitee-am-test/specs/management/application-general-settings/fixtures/application-general-settings-fixture.ts
Due: none

fix: preserve value containing '&' in URLParametersUtils.parse
  gravitee-am-common/src/main/java/io/gravitee/am/common/web/URLParametersUtils.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/web/URLParametersUtilsTest.java
Due: none

feat: expose org license endpoint
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Event.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/LicenseEvent.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Type.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/LicenseResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/OrganizationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/JerseySpringTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/LicenseResourceExpireNotificationDisabledTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/LicenseResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/OrganizationLicenseManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/OrganizationLicenseManagerTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/node/ManagementNode.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/LicenseService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/LicenseServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/GraviteeLicense.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/LicenseServiceTest.java
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/LicenseApi.ts
  gravitee-am-test/api/management/apis/PlatformApi.ts
  gravitee-am-test/api/management/models/EnrolledFactorEntity.ts
  gravitee-am-test/api/management/models/GraviteeLicense.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/PatchDomain.ts
  gravitee-am-test/api/management/models/PatchLoginSettings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

test: (AM-5417) add jest tests for application general settings (#8217)
  gravitee-am-test/specs/management/application-general-settings/application-general-settings.jest.spec.ts
  gravitee-am-test/specs/management/application-general-settings/fixtures/application-general-settings-fixture.ts
Due: none

fix: indefinitely fetching OIDC cfg metadata
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/main/java/io/gravitee/am/gateway/handler/scim/service/impl/ProvisioningUserServiceImpl.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/main/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/SystemTaskUpgrader.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/AuthenticationFlowContextServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/RetryAtMostWithDelay.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/RetryWithDelay.java
Due: none
