Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: honour resource-level permissions
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/AbstractResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResourceTest.java
Due: none

fix: bump version to update default role permissions
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/OrganizationRolesUpgrader.java
Due: none

fix: honour application-level permissions
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationFlowsResource.java
Due: none

fix: honour application-level permissions
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/AbstractResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationFlowsResource.java
Due: none

fix: remove explicit Xmx/Xms initialization
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/bin/gravitee
Due: none

fix: default and noop certificate should have single instance across all domains
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/CertificateProvider.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/CertificateProviderManager.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/impl/CertificateProviderManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/main/java/io/gravitee/am/gateway/certificate/spring/CertificateConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/certificate/impl/CertificateManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/jwt/impl/JWTServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/spring/CommonConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/jwt/JWTServiceTest.java
Due: none

feat: allow selective scope consent
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/css/main.css
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/oauth2_user_consent.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/authorization/consent/UserConsentEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/AuthorizationRequestEndUserConsentHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/consent/UserConsentProcessHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/AuthorizationRequestEndUserConsentHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/consent/UserConsentProcessHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/css/main.css
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/oauth2_user_consent.html
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationOAuthSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/application/ApplicationOAuthSettingsTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationOAuthSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationOAuthSettings.java
  gravitee-am-test/playwright/utils/oauth-callback-helpers.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.ts
Due: run-container-test, run_ui_tests

feat(identityprovider): retrieveUserFromTokenResponse for back-channel flows
  gravitee-am-identityprovider/gravitee-am-identityprovider-api/src/main/java/io/gravitee/am/identityprovider/api/AuthenticationProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-common/src/main/java/io/gravitee/am/identityprovider/common/oauth2/authentication/AbstractOpenIDConnectAuthenticationProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest_idToken.java
Due: none

feat(ciba): federated CIBA support — non-local hints, RFC 9396 RAR, federated completion
  gravitee-am-common/src/main/java/io/gravitee/am/common/ciba/Parameters.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/CIBAProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestAcknowledgeHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestCallbackHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestParametersHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/request/CibaAuthenticationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/request/CibaAuthenticationRequestResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/GrantData.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/TokenCreationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CibaStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2Request.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestAcknowledgeHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/resources/handler/AuthenticationRequestParametersHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/service/request/CibaAuthenticationRequestResolverTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/CibaStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oidc/model/CibaAuthRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/ListOfMapsToStringConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/oidc/model/JdbcCibaAuthRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth-master.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth/changelogs/v4_12_0/4.12.0-ciba-add-authorization-details.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/MongoCibaAuthRequestRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/internal/model/CibaAuthRequestMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/oauth2/api/CibaAuthRequestRepositoryTest.java
Due: run-container-test

feat(authdevice-notifier): CIBA-federation notifier plugin
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/ciba-federation.svg
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/pom.xml
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/assembly/plugin-assembly.xml
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/CibaFederationAuthenticationDeviceNotifier.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/CibaFederationAuthenticationDeviceNotifierConfiguration.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/Auth0UserProfileConsentRenderer.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/Auth0UserProfileRelayStrategy.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/AuthorizationPoller.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClient.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationAuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/ConsentRelayStrategy.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CrossWitness.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/GatewayCallbackClient.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/OidcDiscoveryResolver.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PassthroughRelayStrategy.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PendingAuthStore.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/spring/CibaFederationProviderSpringConfiguration.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/resources/plugin.properties
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/main/resources/schemas/schema-form.json
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/Auth0UserProfileConsentRendererTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/Auth0UserProfileRelayStrategyTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/AuthorizationPollerTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaClientTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationIntegrationTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CibaFederationProviderNotifyTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/CrossWitnessTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/GatewayCallbackClientTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/OidcDiscoveryResolverTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PassthroughRelayStrategyTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/PendingAuthStoreTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-ciba-federation/src/test/java/io/gravitee/am/authdevice/notifier/cibafederation/provider/spring/SchemaFormJsonTest.java
  gravitee-am-authdevice-notifier/pom.xml
Due: run-container-test

feat(console): device-notifier IdP picker + sensitive field masking
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/create/device-notifiers-creation.component.html
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/create/device-notifiers-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/create/steps/step2/step2.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/create/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/device-notifier/device-notifier.component.html
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/device-notifier/device-notifier.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/device-notifier/form/form.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/device-notifier/form/form.component.ts
  gravitee-am-ui/src/app/domain/settings/openid/ciba/device-notifiers/dynamic-sources.ts
Due: run_ui_tests

fix: make vhost domain comparison case-insensitive
  gravitee-am-gateway/gravitee-am-gateway-reactor/src/main/java/io/gravitee/am/gateway/reactor/impl/router/VHostRouter.java
  gravitee-am-gateway/gravitee-am-gateway-reactor/src/test/java/io/gravitee/am/gateway/reactor/impl/router/VHostRouterTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/virtualhost/VirtualHostValidatorImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/VirtualHostValidatorTest.java
Due: none

feat: expose enrolled factor target for SMS, email and call factors
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/model/EnrolledFactorEntity.java
  gravitee-am-ui/src/app/domain/settings/users/user/factors/factors.component.html
Due: run_ui_tests

feat: update flex grow and regenerate OAS
  docs/mapi/openapi.yaml
  gravitee-am-ui/src/app/domain/settings/users/user/factors/factors.component.html
Due: run_ui_tests

feat: removed deprecated passwordSettings field from ApplicationSettings
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchApplicationTest.java
Due: none

test: verify EnrolledFactorEntity exposes target without leaking security secrets
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/model/EnrolledFactorEntityTest.java
Due: none

feat: removed deprecated passwordSettings field from ApplicationSettings
  docs/mapi/openapi.yaml
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchApplicationTest.java
Due: none
