Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix(gateway): defer MFA optional skip until skip persistence completes
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpointTest.java
Due: none

fix: display SAML settings
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
Due: run_ui_tests

fix: missing CBA translation
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
Due: none

chore(tests): eliminate flaky test patterns and re-enable disabled tests
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengePostEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/loginattempt/LoginAttemptHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/service/user/UserServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-users/src/test/java/io/gravitee/am/gateway/handler/users/resources/consents/UserConsentEndpointHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-users/src/test/java/io/gravitee/am/gateway/handler/users/resources/consents/UserConsentsEndpointHandlerTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/CertificateNotifierServiceImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/ManagementUserServiceTest.java
  gravitee-am-policy/gravitee-am-policy-send-email/src/test/java/io/gravitee/am/policy/send/email/SendEmailPolicyTest.java
  gravitee-am-reporter/gravitee-am-reporter-file/src/test/java/io/gravitee/am/reporter/file/audit/FileAuditReporterTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/UserServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/utils/UserFactorUpdaterTest.java
  gravitee-am-test/GUIDELINES.md
  gravitee-am-test/specs/gateway/flows/flow-execution.jest.spec.ts
  gravitee-am-test/specs/gateway/login-flow/login-flow-inline.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/mfa-rate-limit-registration.spec.ts
  gravitee-am-test/specs/gateway/oauth2/oauth2-grant-authorization-code.jest.spec.ts
  gravitee-am-test/specs/gateway/password-policy/password-policy.jest.spec.ts
  gravitee-am-test/specs/gateway/pre-registration/confirm-pre-registration.spec.ts
  gravitee-am-test/specs/gateway/rate-limiting.jest.spec.ts
  gravitee-am-test/specs/gateway/saml2/saml.spec.ts
  gravitee-am-test/specs/gateway/saml2/setup.ts
  gravitee-am-test/specs/gateway/scim/scim-bulk.spec.ts
  gravitee-am-test/specs/management/mcp-client-secrets.jest.spec.ts
  gravitee-am-test/specs/management/password-history.jest.spec.ts
  gravitee-am-test/specs/management/scope-management/scope-listing-discovery.jest.spec.ts
Due: run-container-test

fix: expand event type dropdown in user history to show full names
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.scss
Due: run_ui_tests

refactor: extract composite MFA flow helpers to reduce enrollment matrix duplication
  gravitee-am-test/playwright/tests/mfa/mfa-enrollment-matrix.spec.ts
  gravitee-am-test/playwright/utils/mfa-helpers.ts
Due: none

fix: prevent audit log column values from being truncated
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.html
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.scss
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.scss
Due: run_ui_tests

fix: replace inline style with audit-event-text CSS class in history component
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.scss
Due: run_ui_tests

chore: fix linting
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.html
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.scss
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.scss
Due: run_ui_tests

fix: enforce minimum column widths on audit log tables
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.html
Due: run_ui_tests

fix: make application search on mongo constantly ordered
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
Due: run-container-test

fix: batch permission check in list domains to reduce query overhead
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainsResourceTest.java
Due: none

fix: preserve env/org-level DOMAIN:READ fallback in list domains
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/DomainsResourceTest.java
Due: none

chore: fix linting
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.html
Due: run_ui_tests

fix: invalidate the user cache when user is updated
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/UserEvent.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/service/mfa/impl/UserEventListenerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/main/java/io/gravitee/am/gateway/handler/scim/service/impl/ProvisioningUserServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ManagementUserServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/ManagementUserServiceTest.java
Due: none
