Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: use dedicated object mapper for ClaimRequest
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/AuthorizationRequestParseParametersHandler.java
Due: none

fix: bump version to update contact-us link
  gravitee-am-ui/build.json
  gravitee-am-ui/package.json
  gravitee-am-ui/yarn.lock
Due: run_ui_tests

test: unskip claims request parameter tests now AM-7525 is fixed
  gravitee-am-test/specs/gateway/token-claims/claims-request-parameter.jest.spec.ts
Due: none

fix: JettyHttpServerProbe mem leak
  pom.xml
Due: run-container-test

fix: avoid NPE when scoped role carries no matching permission
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/PermissionService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/PermissionServiceTest.java
Due: none

chore: regenerate management API SDK
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/apis/ProtectedResourceApi.ts
  gravitee-am-test/api/management/models/ApplicationOAuthSettings.ts
  gravitee-am-test/api/management/models/DPoPSettings.ts
  gravitee-am-test/api/management/models/Domain.ts
  gravitee-am-test/api/management/models/OIDCSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationOAuthSettings.ts
  gravitee-am-test/api/management/models/PatchDPoPSettings.ts
  gravitee-am-test/api/management/models/PatchOIDCSettings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

fix: stop returning 500 for a missing or invalid protected resource type
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourcesResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourcesResourceTest.java
Due: none

fix: avoid NPE on list endpoints when a scoped role carries no matching permission (#8406)
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourcesResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourcesResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/PermissionService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/PermissionServiceTest.java
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/apis/ProtectedResourceApi.ts
  gravitee-am-test/api/management/models/ApplicationOAuthSettings.ts
  gravitee-am-test/api/management/models/DPoPSettings.ts
  gravitee-am-test/api/management/models/Domain.ts
  gravitee-am-test/api/management/models/OIDCSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationOAuthSettings.ts
  gravitee-am-test/api/management/models/PatchDPoPSettings.ts
  gravitee-am-test/api/management/models/PatchOIDCSettings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

test: unskip claims request parameter tests now AM-7525 is fixed (AM-7488) (#8416)
  gravitee-am-test/specs/gateway/token-claims/claims-request-parameter.jest.spec.ts
Due: none

test: cover LDAP authentication, role mapping and attributes
  docker/local-stack/dev/docker-compose-ldap.yml
  docker/local-stack/dev/ldap/gravitee-io.ldif
  docker/local-stack/dev/ldap/groups.ldif
  docker/local-stack/dev/ldap/memberof-overlay.ldif
  docker/local-stack/local-stack.sh
  docker/local-stack/package.json
  gravitee-am-test/specs/gateway/ldap/fixtures/ldap-account-link-fixture.ts
  gravitee-am-test/specs/gateway/ldap/fixtures/ldap-fixture.ts
  gravitee-am-test/specs/gateway/ldap/ldap-account-linking-roles.jest.spec.ts
  gravitee-am-test/specs/gateway/ldap/ldap-authentication.jest.spec.ts
  gravitee-am-test/specs/gateway/ldap/ldap-connection-config.jest.spec.ts
  gravitee-am-test/specs/gateway/ldap/ldap-role-mapping.jest.spec.ts
  gravitee-am-test/specs/gateway/ldap/ldap-user-attributes.jest.spec.ts
  gravitee-am-test/specs/management/identity-provider/identity-provider-delete-guard.jest.spec.ts
Due: none

test: address review feedback on LDAP suite
  docker/local-stack/dev/docker-compose-ldap.yml
  gravitee-am-test/specs/gateway/ldap/ldap-user-attributes.jest.spec.ts
Due: none

feat: expose subject token claims to EL during token exchange (AM-7331)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/TokenExchangeStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/ActorTokenInfo.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/SubjectTokenInfo.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/TokenExchangeResult.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/TokenExchangeStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
Due: none

test: cover subject token claims in token exchange EL context (AM-7331)
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-subject-claims.jest.spec.ts
Due: none

feat: declarative claims mapper for token exchange (AM-7331)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/GrantData.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/TokenCreationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/TokenExchangeStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2Request.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/TokenExchangeResult.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/TokenExchangeStrategyTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/TokenExchangeClaimMapping.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/TokenExchangeClaimSource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/TokenExchangeOAuthSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TokenExchangeClaimMappingMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TokenExchangeOAuthSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeClaimsMapperValidator.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeSettingsValidatorImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeClaimsMapperValidatorTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeSettingsValidatorTest.java
Due: run-container-test

chore: regenerate openapi specs for token exchange claims mapper
  docs/automation/openapi.yaml
  docs/mapi/openapi.yaml
Due: none

feat: token exchange claims mapper in the console (AM-7331)
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.html
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange.types.ts
Due: run_ui_tests

test: cover the token exchange claims mapper (AM-7331)
  gravitee-am-test/specs/gateway/token-exchange/fixtures/token-exchange-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-claims-mapper.jest.spec.ts
Due: none

chore: regenerate management API SDK for token exchange claims mapper
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/models/TokenExchangeClaimMapping.ts
  gravitee-am-test/api/management/models/TokenExchangeOAuthSettings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

fix: match the api enum casing for token exchange claim sources in the console
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.html
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange.types.ts
Due: run_ui_tests

chore: fix mfa flaky test
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeGetEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeSendEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/dummies/DummyHttpResponse.java
Due: none

feat: validate CSP directive shapes
  docs/automation/openapi.yaml
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/CSPHandlerFactory.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/csp/CspHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/CSPHandlerFactoryTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/csp/CspHandlerImplTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/webprotection/CspDirective.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/webprotection/CspSettings.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/webprotection/CspDirectiveTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/domain/DomainValidatorImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/webprotection/CspSettingsValidator.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/webprotection/CspSettingsValidatorImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/CspSettingsValidatorTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/DomainValidatorTest.java
  gravitee-am-test/specs/management/domain/csp.jest.spec.ts
Due: none

feat: provide structured CSP directive editor
  gravitee-am-ui/src/app/domain/settings/web-protection/csp-directives.spec.ts
  gravitee-am-ui/src/app/domain/settings/web-protection/csp-directives.ts
  gravitee-am-ui/src/app/domain/settings/web-protection/web-protection.component.html
  gravitee-am-ui/src/app/domain/settings/web-protection/web-protection.component.scss
  gravitee-am-ui/src/app/domain/settings/web-protection/web-protection.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/web-protection/web-protection.component.ts
Due: run_ui_tests

test: exercise the token exchange claims mapper in both placements (AM-7331)
  gravitee-am-test/specs/gateway/token-exchange/fixtures/token-exchange-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-claims-mapper.jest.spec.ts
Due: none

test: cover the token exchange claims mapper at domain and application level (AM-7331)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/DomainRepositoryTest.java
Due: run-container-test

test: cover the reported jwt bearer flow through token exchange
  gravitee-am-test/specs/gateway/token-exchange/fixtures/jwt-bearer-subject-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-jwt-bearer-subject.jest.spec.ts
Due: none

test: reject reserved claim mapper targets through the management api
  gravitee-am-test/specs/management/domain/token-exchange-claims-mapper-validation.jest.spec.ts
Due: none

test: cover database index lifecycle and purge scheduling (AM-7456) (#8407)
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/test/java/io/gravitee/am/dataplane/mongodb/repository/DataPlaneEnsureIndexOnStartResolutionTest.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/audit/JdbcAuditReporterIndexTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/EnsureIndexOnStartResolutionTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/MongoIndexAssertions.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/common/MongoIndexLifecycleTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/management/ManagementStoreIndexTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/oauth2/OAuth2TokenStoreIndexTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/purge/ScheduledPurgeServiceTest.java
Due: run-container-test

test: inject the claims mapper validator into the cimd guard test
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceCimdGuardTest.java
Due: none

test: cover mongo audit reporter index lifecycle
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/test/java/io/gravitee/am/reporter/mongodb/audit/MongoAuditReporterIndexTest.java
Due: run-container-test
