Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: test if the usersResource is null in the config bean
  gravitee-am-identityprovider/gravitee-am-identityprovider-http/src/main/java/io/gravitee/am/identityprovider/http/configuration/HttpIdentityProviderConfiguration.java
Due: none

chore: define convenience local-stack script
  .gitignore
  AGENTS.md
  docker/local-stack/README.md
  docker/local-stack/dev/.env.example
  docker/local-stack/dev/docker-compose.images.yml
  docker/local-stack/dev/docker-compose.local.yml.example
  docker/local-stack/dev/docker-compose.yml
  docker/local-stack/local-stack.sh
  docs/agent-standards/commands.md
  docs/agent-standards/cursor-rules/60-testing-and-validation.mdc
  docs/agent-standards/skills/local-stack/SKILL.md
Due: none

feat(webauthn): add registration skip time option
  docs/automation/openapi.yaml
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/repository/JdbcUserRepository.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/repository/model/JdbcUser.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-dataplane-add-webauthn-registration-skipped-at.yml
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/resources/liquibase/changelogs/v4_7_0/4.7.0-6-dataplane-users-init.yml
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/resources/liquibase/dp-master.yml
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/resources/liquibase-test/changelogs/v4_13_0/add-webauthn-registration-skipped-at.yml
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/resources/liquibase-test/master.yml
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/repository/MongoUserRepository.java
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/repository/model/UserMongo.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/internal/WebAuthnRegisterStep.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/webauthn/WebAuthnRegistrationSkipUtils.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/webauthn/WebAuthnRegistrationSkipUtilsTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/RootProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebAuthnRegisterEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/service/user/UserService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/service/user/impl/UserServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/webauthn_register.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/service/user/UserServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/webauthn_register.html
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-model/src/main/java/io/gravitee/am/model/User.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/login/LoginSettings.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcUserRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/AbstractUser.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_13_0/4.13.0-add-webauthn-registration-skipped-at.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/resources/liquibase-test/changelogs/v4_13_0/add-webauthn-registration-skipped-at.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/resources/liquibase-test/master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/AbstractUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/LoginSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/UserMongo.java
  gravitee-am-ui/src/app/domain/components/login/login-settings.component.html
  gravitee-am-ui/src/app/domain/components/login/login-settings.component.ts
Due: run-container-test, run_ui_tests

fix: hide list content until loaded to avoid flicker
  gravitee-am-ui/src/app/domain/agents/agents.component.html
  gravitee-am-ui/src/app/domain/agents/agents.component.spec.ts
  gravitee-am-ui/src/app/domain/agents/agents.component.ts
  gravitee-am-ui/src/app/domain/applications/applications.component.html
  gravitee-am-ui/src/app/domain/applications/applications.component.spec.ts
  gravitee-am-ui/src/app/domain/applications/applications.component.ts
  gravitee-am-ui/src/app/domain/mcp-servers/mcp-servers.component.html
  gravitee-am-ui/src/app/domain/mcp-servers/mcp-servers.component.ts
Due: run_ui_tests

chore: clarify and consolidate management repo classes
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/IntrospectionRefreshTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/oauth2/impl/IntrospectionRefreshTokenServiceTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/CommonUserRepository.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/OrganizationGroupRepository.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/OrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-api/src/test/java/io/gravitee/am/repository/management/api/UpdateActionsTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcOrganizationGroupRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/AbstractUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoOrganizationGroupRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/GroupMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/OrganizationUserMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/UserMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/OrganizationGroupRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/OrganizationGroupServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/OrganizationGroupServiceTest.java
Due: run-container-test

fix: changed resend CTA for Call factor
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeSendEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/mfa-challenge-resend.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/mfa_challenge.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeSendEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/mfa-challenge-resend.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/mfa_challenge.html
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_fr.properties
Due: none

chore: remove property references for unsupported repo scopes
  docker/local-stack/dev/docker-compose.mongo.yml
  docker/local-stack/dev/docker-compose.postgres.yml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/spring/PropertySourceFallbackConfigurer.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/spring/StandaloneConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
Due: none

fix: removed oauth2-repository probe from MAPI
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/java/io/gravitee/am/gateway/healthcheck/OAuth2RepositoryProbe.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/resources/META-INF/spring.factories
  gravitee-am-repository/gravitee-am-repository-api/src/main/resources/META-INF/spring.factories
Due: run-container-test

fix: removed duplicated class AbstractMongoRepository
  gravitee-am-repository/gravitee-am-repository-mongodb-api/src/main/java/io/gravitee/am/repository/mongodb/common/AbstractMongoRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/common/AbstractMongoRepository.java
  gravitee-am-test/api/commands/management/organisation-user-commands.ts
  gravitee-am-test/specs/management/organisation.users.jest.spec.ts
Due: run-container-test

chore: allow nonexistent local override file
  docker/local-stack/local-stack.sh
Due: none

chore: align mapi probes with helm
  docker/local-stack/dev/docker-compose.yml
Due: none

feat: migration tool seeding
  .circleci/config.yml
  .circleci/workflows-migration.yml
  .gitignore
  gravitee-am-test/migration-seeding/bootstrap.test.ts
  gravitee-am-test/migration-seeding/bootstrap.ts
  gravitee-am-test/migration-seeding/seed.ts
  gravitee-am-test/migration-seeding/versions/4.10/seed.ts
  gravitee-am-test/migration-seeding/versions/4.11/seed.ts
  gravitee-am-test/migration-seeding/versions/4.12/seed.ts
  gravitee-am-test/package.json
  gravitee-am-test/specs/migration/fixture/gateway-fixture.ts
  gravitee-am-test/specs/migration/gateway.jest.spec.ts
  gravitee-am-test/specs/migration/mapi-data.jest.spec.ts
  scripts/migration-tool/README.md
  scripts/migration-tool/env/k8s/am/am-mongodb-common.yaml
  scripts/migration-tool/env/k8s/db/db-mongodb.yaml
  scripts/migration-tool/index.mjs
  scripts/migration-tool/lib/CircleCI.mjs
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/lib/core/SeedWorktree.mjs
  scripts/migration-tool/lib/core/VersionResolver.mjs
  scripts/migration-tool/lib/infra/LogScanner.mjs
  scripts/migration-tool/lib/infra/kubernetes/Helm.mjs
  scripts/migration-tool/lib/infra/kubernetes/Kubectl.mjs
  scripts/migration-tool/lib/providers/K8sProvider.mjs
  scripts/migration-tool/lib/strategies/database/MongoK8sStrategy.mjs
  scripts/migration-tool/lib/strategies/database/PostgresK8sStrategy.mjs
  scripts/migration-tool/test/unit/Helm.test.mjs
  scripts/migration-tool/test/unit/K8sProvider.test.mjs
  scripts/migration-tool/test/unit/Kubectl.test.mjs
  scripts/migration-tool/test/unit/LogScanner.test.mjs
  scripts/migration-tool/test/unit/MongoK8sStrategy.test.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
  scripts/migration-tool/test/unit/PostgresK8sStrategy.test.mjs
  scripts/migration-tool/test/unit/VersionResolver.test.mjs
Due: none

fix: finish cleanup of unsupported repo scopes
  docker/local-stack/dev/docker-compose.mongo.yml
  docker/local-stack/dev/docker-compose.postgres.yml
  docker/local-stack/dev/docker-compose.yml
  docker/local-stack/local-stack.sh
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/java/io/gravitee/am/gateway/healthcheck/OAuth2RepositoryProbe.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/resources/META-INF/spring.factories
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/spring/PropertySourceFallbackConfigurer.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/src/main/java/io/gravitee/am/management/standalone/spring/StandaloneConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-repository/gravitee-am-repository-api/src/main/resources/META-INF/spring.factories
Due: run-container-test

fix: fixed mssql testcontainer
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/java/io/gravitee/am/dataplane/api/repository/test/testcontainers/MssqlR2DBCContainer.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/tool/MssqlR2DBCContainer.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/MssqlR2DBCContainer.java
Due: run-container-test

fix: prevent domains from being silently dropped during gateway startup sync
  gravitee-am-gateway/gravitee-am-gateway-services/gravitee-am-gateway-services-sync/src/main/java/io/gravitee/am/gateway/services/sync/SyncManager.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/java/io/gravitee/am/gateway/event/EventManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/test/java/io/gravitee/am/gateway/event/EventManagerTest.java
Due: none
