Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: use temurin noble images to be in line with existing docker image definitions
  docker/gateway/Dockerfile-dev-noble
  docker/gateway/Dockerfile-noble
  docker/management-api/Dockerfile-dev-noble
  docker/management-api/Dockerfile-noble
Due: none

ws poc1
  docs/authorization-architecture-ws.md
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/main/java/io/gravitee/am/authorizationengine/api/AuthorizationEngineProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/authorizationengine/impl/AuthorizationEngineManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/authorizationengine/impl/AuthorizationEngineManagerImplTest.java
Due: none

fix: move magic link in default bundle
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-ui/src/app/domain/components/login/login-settings.component.html
Due: run-container-test, run_ui_tests

fix: AM-6654 allow PEM trusted issuer to verify JWTs with kid in header
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerResolverImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerResolverImplTest.java
  gravitee-am-test/specs/gateway/token-exchange/fixtures/trusted-issuer-jwt-helper.ts
  gravitee-am-test/specs/gateway/token-exchange/trusted-issuers.jest.spec.ts
Due: none

fix: validate negative numbers in JsonNodeValidator
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/utils/JsonNodeValidator.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/utils/JsonNodeValidatorTest.java
Due: none

chore: load AuthZen access_token token in the beginning of the simulation
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/authorization/AuthZenEvaluation.scala
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/authorization/AuthorizationEvaluation.scala
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/authorization/OpenFGAEvaluation.scala
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/commands/GatewayCalls.scala
Due: none

chore: made http client connection pool shared
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/authorization/AuthorizationEvaluation.scala
Due: none

feat: minor update to resolve gatling issues
  docker/gateway/Dockerfile-dev-noble
  docker/gateway/Dockerfile-noble
  docker/management-api/Dockerfile-dev-noble
  docker/management-api/Dockerfile-noble
  gravitee-am-ciba-delegated-service/pom.xml
  gravitee-am-fapi-resource-api/pom.xml
  gravitee-am-performance/Dockerfile
  gravitee-am-performance/pom.xml
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/commands/GatewayCalls.scala
Due: run-container-test

fix: pin eclipse-temurin images to 25.0.1_8 for deterministic builds
  docker/gateway/Dockerfile-dev-noble
  docker/gateway/Dockerfile-noble
  docker/management-api/Dockerfile-dev-noble
  docker/management-api/Dockerfile-noble
  gravitee-am-ciba-delegated-service/pom.xml
  gravitee-am-fapi-resource-api/pom.xml
Due: run-container-test

chore: add dataid to help on playwright selectors
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-metadata/agent-metadata.component.html
  gravitee-am-ui/src/app/domain/settings/certificates/certificates.component.html
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/trusted-issuers-list/trusted-issuers-list.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/user.component.html
Due: run_ui_tests

feat: introduce playwright ui tests
  gravitee-am-test/eslint.config.mjs
  gravitee-am-test/license-check-config.json
  gravitee-am-test/package-lock.json
  gravitee-am-test/package.json
  gravitee-am-test/playwright.config.ts
  gravitee-am-test/playwright/.gitignore
  gravitee-am-test/playwright/README.md
  gravitee-am-test/playwright/fixtures/base.fixture.ts
  gravitee-am-test/playwright/fixtures/global.setup.ts
  gravitee-am-test/playwright/pages/base.page.ts
  gravitee-am-test/playwright/pages/home.page.ts
  gravitee-am-test/playwright/pages/login.page.ts
  gravitee-am-test/playwright/tests/application/application-crud.spec.ts
  gravitee-am-test/playwright/tests/auth/login.spec.ts
  gravitee-am-test/playwright/tests/domain/domain-crud.spec.ts
  gravitee-am-test/playwright/tsconfig.json
  gravitee-am-test/playwright/utils/jest-globals-shim.ts
  gravitee-am-test/playwright/utils/register-paths.ts
  gravitee-am-test/playwright/utils/selectors.ts
  playwright/fixtures/.auth/admin.json
  pom.xml
Due: run-container-test

chore: add playwright to CI
  .circleci/workflows.yml
  .gitignore
  docker/local-stack/dev/build-ctx/.gitignore
  docker/local-stack/dev/docker-compose-ui.yml
  docker/local-stack/package.json
Due: none

fix: activate the ignored tests since AM-6654 is merged
  gravitee-am-test/playwright/tests/oauth/token-exchange/revocation.spec.ts
  gravitee-am-test/playwright/tests/oauth/trusted-issuers/validation.spec.ts
Due: none

fix: add retry mechnism to accommdate flakiness cause by environment; revert workflow Jest config not needed
  .circleci/workflows.yml
  docker/local-stack/package.json
  gravitee-am-test/eslint.config.mjs
  gravitee-am-test/playwright/README.md
  gravitee-am-test/playwright/pages/trusted-issuer-detail.page.ts
  gravitee-am-test/playwright/tests/oauth/token-exchange/revocation.spec.ts
  gravitee-am-test/playwright/tests/oauth/token-exchange/scope-modes.spec.ts
  gravitee-am-test/playwright/tests/oauth/trusted-issuers/validation.spec.ts
  gravitee-am-test/playwright/utils/token-exchange-helpers.ts
Due: none

chore(ci): frontend version check fix to allow alpha versions
  .circleci/workflows.yml
Due: none

chore: convert postman login tests
  gravitee-am-test/specs/gateway/login-flow/fixture/login-flow-inline-fixture.ts
  gravitee-am-test/specs/gateway/login-flow/login-flow-inline.jest.spec.ts
Due: none

test: add various webauthn tests
  gravitee-am-test/api/commands/management/user-management-commands.ts
  gravitee-am-test/package.json
  gravitee-am-test/playwright/fixtures/webauthn.fixture.ts
  gravitee-am-test/playwright/pages/webauthn-login.page.ts
  gravitee-am-test/playwright/pages/webauthn-register.page.ts
  gravitee-am-test/playwright/tests/auth/webauthn-auth-filter.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-credential-cleanup.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-device-recognition.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-disabled-user.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-enforce-password-device-recognition.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-enforce-password.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-login.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-mfa-remember-device.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-register.spec.ts
Due: none

chore: convert postman self account management tests
  gravitee-am-test/api/commands/management/factor-management-commands.ts
  gravitee-am-test/specs/gateway/self-account/fixture/sef-account-fixture.ts
  gravitee-am-test/specs/gateway/self-account/fixture/self-account-fixture.ts
  gravitee-am-test/specs/gateway/self-account/self-account-change-password.jest.spec.ts
  gravitee-am-test/specs/gateway/self-account/self-account-factors.jest.spec.ts
  gravitee-am-test/specs/gateway/self-account/self-account-profile.jest.spec.ts
  gravitee-am-test/specs/gateway/self-account/self-account-recovery-code.jest.spec.ts
Due: none

test: add more coverage for webauthn
  gravitee-am-test/playwright/tests/auth/webauthn-change-username.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-credential-cleanup.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-device-recognition.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-disabled-user.spec.ts
Due: none

fix: create action lease for management scope
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/email/impl/EmailStagingServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/ActionLeaseService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ActionLeaseServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/purge/ReporterAuditSweeper.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ActionLeaseServiceImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/purge/ReporterAuditSweeperTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/ActionLeaseRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/AbstractActionLeaseRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcActionLeaseRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcActionLease.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_11_0/4.11.0-action-lease-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/JdbcRepositoriesTestInitializer.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/common/ActionLeaseCommand.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/common/model/ActionLeaseMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoActionLeaseRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ActionLeaseRepositoryTest.java
Due: run-container-test

test: clean up properly an await for flakey tests
  gravitee-am-test/playwright/fixtures/webauthn.fixture.ts
  gravitee-am-test/playwright/tests/auth/webauthn-auth-filter.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-change-username.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-login.spec.ts
  gravitee-am-test/playwright/tests/oauth/token-exchange/revocation.spec.ts
Due: none

test: clean up properly an await for flakey tests
  gravitee-am-test/playwright/tests/auth/webauthn-change-username.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn-mfa-remember-device.spec.ts
Due: none

chore: logout jest tests
  docker/local-stack/dev/docker-compose-ci.yml
  gravitee-am-test/specs/gateway/logout/fixture/logout-app-version-fixture.ts
  gravitee-am-test/specs/gateway/logout/logout-app-version.jest.spec.ts
Due: none

chore: add Jira test link to test result annotations
  gravitee-am-test/playwright/utils/jira.ts
Due: none

test: moved webauthn tests into subdir
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-auth-filter.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-change-username.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-credential-cleanup.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-device-recognition.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-disabled-user.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-enforce-password-device-recognition.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-enforce-password.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-login.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-mfa-remember-device.spec.ts
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-register.spec.ts
Due: none

test: generated initial guidelines and tweaked webauthn fixture
  gravitee-am-test/playwright/GUIDELINES.md
  gravitee-am-test/playwright/fixtures/webauthn.fixture.ts
Due: none

test: cleaned up guidelines and removed flakey test
  gravitee-am-test/playwright/GUIDELINES.md
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-change-username.spec.ts
Due: none
