Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

chore: fail on breaking OAS changes
  .circleci/scripts/_compat_common.sh
  .circleci/scripts/oas-compat-check.sh
  .circleci/workflows.yml
Due: none

fix: create index on timestamp column for reporters
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/mariadb.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/mysql.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/postgresql.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/sqlserver.schema
Due: run-container-test

chore: update provisioning instructions
  scripts/migration-tool/README.md
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/lib/infra/kubernetes/Helm.mjs
Due: none

chore: add placeholder for bootstrapper
  gravitee-am-test/package.json
Due: none

feat: wire seed and seed-upgrade stages into migration orchestrator
  gravitee-am-test/migration-seeding/migration-bootstrap.mjs
  gravitee-am-test/package.json
  scripts/migration-tool/README.md
  scripts/migration-tool/index.mjs
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
Due: none

fix: make application search on mongo constantly ordered
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
Due: run-container-test

fix: expose gateway technical API (18092) for domain readiness checks
  scripts/migration-tool/README.md
  scripts/migration-tool/env/k8s/am/am-mongodb-gateway-dp1.yaml
  scripts/migration-tool/env/k8s/am/am-mongodb-gateway-dp2.yaml
  scripts/migration-tool/env/k8s/am/am-postgres-gateway-dp1.yaml
  scripts/migration-tool/env/k8s/am/am-postgres-gateway-dp2.yaml
  scripts/migration-tool/lib/providers/K8sProvider.mjs
  scripts/migration-tool/test/unit/K8sProvider.test.mjs
Due: none

chore: add example seeding
  gravitee-am-test/migration-seeding/migration-bootstrap.ts
  gravitee-am-test/migration-seeding/tsconfig.seed.json
  gravitee-am-test/migration-seeding/utils/api.ts
  gravitee-am-test/migration-seeding/utils/seed-id.ts
  gravitee-am-test/migration-seeding/versions/4.11/seed.ts
  gravitee-am-test/migration-seeding/versions/4.12/seed.ts
  gravitee-am-test/package.json
Due: none

fix: add gateway sync cron config for domain readiness in Kind
  scripts/migration-tool/env/k8s/am/am-mongodb-gateway-dp1.yaml
  scripts/migration-tool/env/k8s/am/am-mongodb-gateway-dp2.yaml
  scripts/migration-tool/env/k8s/am/am-postgres-gateway-dp1.yaml
  scripts/migration-tool/env/k8s/am/am-postgres-gateway-dp2.yaml
Due: none

chore(ci): fix failing fs_scan
  .circleci/workflows.yml
Due: none

fix: typeless application should be readonly
  gravitee-am-ui/src/app/domain/applications/application/advanced/cookie/cookie.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/general/general.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/memberships/memberships.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/metadata/metadata.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/password-policy/password-policy.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/secrets-certificates/secrets-certificates.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/secrets-certificates/secrets-certificates.component.ts
  gravitee-am-ui/src/app/domain/applications/application/overview/overview.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
Due: run_ui_tests

feat: add --registry CLI option for ACR image support
  scripts/migration-tool/README.md
  scripts/migration-tool/index.mjs
  scripts/migration-tool/lib/providers/K8sProvider.mjs
  scripts/migration-tool/test/unit/K8sProvider.test.mjs
Due: none

chore(deps): removed unnecessary deps from jdbc and mongodb plugins
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/assembly/plugin-assembly.xml
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/assembly/plugin-assembly.xml
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/assembly/plugin-assembly.xml
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/main/assembly/plugin-assembly.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/assembly/plugin-assembly.xml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/assembly/plugin-assembly.xml
Due: run-container-test

fix: sanitize mcp settings
  gravitee-am-model/src/main/java/io/gravitee/am/model/ProtectedResourcePrimaryData.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/ProtectedResourcePrimaryDataTest.java
Due: none

feat: add input validation and version resolution for migration tool
  scripts/migration-tool/README.md
  scripts/migration-tool/index.mjs
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/lib/core/VersionResolver.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
  scripts/migration-tool/test/unit/VersionResolver.test.mjs
Due: none

fix: seed-upgrade passes --from-version to avoid duplicate seeding
  gravitee-am-test/migration-seeding/migration-bootstrap.ts
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
Due: none

feat: add stage progress summary and CI test reporting
  .circleci/workflows-migration.yml
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
Due: none

fix: disabled token exchange in application
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
Due: run_ui_tests

feat: add HTML test reports for migration tool CI
  .circleci/workflows-migration.yml
  gravitee-am-test/api/config/ci.config.js
  gravitee-am-test/package-lock.json
  gravitee-am-test/package.json
  scripts/migration-tool/lib/Orchestrator.mjs
Due: none

fix: missing CBA translation
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
Due: none

chore(tests): eliminate flaky test patterns and re-enable disabled tests
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengePostEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/loginattempt/LoginAttemptHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/service/user/UserServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-users/src/test/java/io/gravitee/am/gateway/handler/users/resources/consents/UserConsentEndpointHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-users/src/test/java/io/gravitee/am/gateway/handler/users/resources/consents/UserConsentsEndpointHandlerTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/CertificateNotifierServiceImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/ManagementUserServiceTest.java
  gravitee-am-policy/gravitee-am-policy-send-email/src/test/java/io/gravitee/am/policy/send/email/SendEmailPolicyTest.java
  gravitee-am-reporter/gravitee-am-reporter-file/src/test/java/io/gravitee/am/reporter/file/audit/FileAuditReporterTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/UserServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/utils/UserFactorUpdaterTest.java
  gravitee-am-test/GUIDELINES.md
  gravitee-am-test/specs/gateway/flows/flow-execution.jest.spec.ts
  gravitee-am-test/specs/gateway/login-flow/login-flow-inline.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/mfa-rate-limit-registration.spec.ts
  gravitee-am-test/specs/gateway/oauth2/oauth2-grant-authorization-code.jest.spec.ts
  gravitee-am-test/specs/gateway/password-policy/password-policy.jest.spec.ts
  gravitee-am-test/specs/gateway/pre-registration/confirm-pre-registration.spec.ts
  gravitee-am-test/specs/gateway/rate-limiting.jest.spec.ts
  gravitee-am-test/specs/gateway/saml2/saml.spec.ts
  gravitee-am-test/specs/gateway/saml2/setup.ts
  gravitee-am-test/specs/gateway/scim/scim-bulk.spec.ts
  gravitee-am-test/specs/management/mcp-client-secrets.jest.spec.ts
  gravitee-am-test/specs/management/password-history.jest.spec.ts
  gravitee-am-test/specs/management/scope-management/scope-listing-discovery.jest.spec.ts
Due: run-container-test

feat: add migration summary HTML report with timeline
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
Due: none

chore: update upgrade magic link and SAML idp plugin for 4.11.0
  pom.xml
Due: run-container-test
