Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

chore: drop retired postman collections from the make postman target
  Makefile
Due: none

test: widen scim token retry budget for jdbc sync lag
  gravitee-am-test/specs/gateway/scim/fixture/scim-fixture.ts
Due: none

ci: store postman logs as artifacts on failure
  .circleci/workflows.yml
Due: none

chore: drive make postman from the shared npm collections script
  Makefile
  postman/package.json
Due: none

ci: run gateway jest tests in parallel
  .circleci/workflows.yml
Due: none

ci: parallelise postman collections with bounded concurrency
  .circleci/workflows.yml
  postman/.gitignore
  postman/package.json
Due: none

test: retire postman collections converted to jest
  postman/collections/retired/graviteeio-am-api-management-collection.json
  postman/collections/retired/graviteeio-am-client-management-collection-app-version.json
  postman/collections/retired/graviteeio-am-environment-collection.json
  postman/collections/retired/graviteeio-am-login-collection-app-version.json
  postman/collections/retired/graviteeio-am-logout-collection-app-version.json
  postman/collections/retired/graviteeio-am-scope-management-collection.json
  postman/collections/retired/graviteeio-am-self-account-management-collection-app-version.json
  postman/collections/retired/graviteeio-am-user-management-collection-app-version.json
  postman/collections/retired/graviteeio-am-vhost-collection.json
Due: none

ci: keep gateway jest at maxWorkers=2, 3 starves the 4-vcpu stack
  gravitee-am-test/package.json
Due: none

test: retry mfa-general in place, its MFA flows are order-dependent
  gravitee-am-test/specs/gateway/mfa/mfa-general.spec.ts
Due: none

ci: bump gateway jest parallelism to maxWorkers=3
  gravitee-am-test/package.json
Due: none

test: split token-exchange spec into per-concern suites for parallel stability
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-delegation.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-grant.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-id-token.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-invalid.jest.spec.ts
Due: none

test: retry scim token acquisition until the app is synced to the gateway
  gravitee-am-test/specs/gateway/scim/fixture/scim-fixture.ts
Due: none

test: enhance automated tests for domain picker feature
  gravitee-am-test/playwright/pages/home.page.ts
  gravitee-am-test/playwright/pages/navbar.page.ts
  gravitee-am-test/playwright/tests/navbar/domain-picker.spec.ts
  gravitee-am-test/specs/management/user-preferences.jest.spec.ts
  gravitee-am-ui/src/app/services/user-preferences.service.spec.ts
Due: run_ui_tests

test: enhance automated tests for domain picker feature
  gravitee-am-test/playwright/pages/home.page.ts
  gravitee-am-test/playwright/pages/navbar.page.ts
  gravitee-am-test/playwright/tests/navbar/domain-picker.spec.ts
  gravitee-am-test/specs/management/user-preferences.jest.spec.ts
  gravitee-am-ui/src/app/components/navbar/navbar.component.html
  gravitee-am-ui/src/app/services/user-preferences.service.spec.ts
  gravitee-am-ui/src/app/settings/domains/domains.component.html
Due: run_ui_tests

feat(reporter-elasticsearch): add elasticsearch audit reporter plugin
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/assembly/plugin-assembly.xml
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchReporterConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/AuditConverter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchQueryBuilder.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/model/AuditAccessPointDocument.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/model/AuditDocument.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/model/AuditEntityDocument.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/model/AuditOutcomeDocument.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/spring/ElasticsearchClientConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/resources/plugin.properties
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/resources/schemas/schema-form.json
  gravitee-am-reporter/pom.xml
Due: run-container-test

build(local-stack): wire the elasticsearch reporter into the local dev stack
  docker/local-stack/dev/docker-compose.elasticsearch.yml
  docker/local-stack/local-stack.sh
Due: none

build(distribution): ship the elasticsearch audit reporter in the gateway and management api
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/pom.xml
Due: run-container-test

fix(reporter-elasticsearch): prepare the index asynchronously and validate the index name
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/README.md
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/AuditDropCounter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexNames.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchTestClient.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexNamesTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/BulkResilienceTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/DailyIndexReadPathTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/IndexTemplateFailureTest.java
Due: run-container-test

test(reporter-elasticsearch): stabilise the live-stack jest spec against sync and system-reporter behaviour
  gravitee-am-test/specs/gateway/reporters/domain-reporter-elasticsearch.jest.spec.ts
  gravitee-am-test/specs/gateway/reporters/fixture/domain-reporter-elasticsearch-fixture.ts
Due: none

test(reporter-elasticsearch): retry through unallocated shards and drop a redundant wait for the reporter reload
  gravitee-am-test/api/commands/utils/elasticsearch-client.ts
  gravitee-am-test/specs/gateway/reporters/fixture/domain-reporter-elasticsearch-fixture.ts
Due: none

fix(reporter-elasticsearch): cancel index preparation on stop, count every dropped audit and keep credentials out of logs
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/LoggableEndpoints.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/AuditDropCounter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/BulkBatch.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/spring/ElasticsearchClientConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/LoggableEndpointsTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/BulkBatchTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/BulkResilienceTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/PreparationLifecycleTest.java
Due: run-container-test

build(local-stack): move the elasticsearch overlay onto a supported minor
  docker/local-stack/dev/docker-compose.elasticsearch.yml
Due: none

test(reporter-elasticsearch): add a live-stack jest spec for the elasticsearch reporter
  gravitee-am-test/api/commands/management/audit-management-commands.ts
  gravitee-am-test/api/commands/management/service/utils.ts
  gravitee-am-test/api/commands/utils/elasticsearch-client.ts
  gravitee-am-test/api/config/ci.setup.js
  gravitee-am-test/api/config/dev.setup.js
  gravitee-am-test/specs/gateway/reporters/domain-reporter-elasticsearch.jest.spec.ts
  gravitee-am-test/specs/gateway/reporters/fixture/domain-reporter-elasticsearch-fixture.ts
Due: none

test(reporter-elasticsearch): cover the missing audit lookup and both sides of the paging boundary
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/README.md
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/DailyIndexReadPathTest.java
Due: run-container-test

feat(reporter-elasticsearch): daily indices, bounded bulk pipeline and per-item failure handling
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/README.md
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchReporterConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/AuditDropCounter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexNames.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexTemplate.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/BulkBatch.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchQueryBuilder.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchServerVersion.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/java/io/gravitee/am/reporter/elasticsearch/spring/ElasticsearchClientConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/main/resources/schemas/schema-form.json
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/AuditFixtures.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchTestClient.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchTestContainer.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/NetworkGate.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/ReporterHarness.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexITests.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexNamesTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/AuditIndexTemplateTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/BulkBatchTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/BulkResilienceITests.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporterITests.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchQueryBuilderTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchServerVersionTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/IndexTemplateITests.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/resources/logback-test.xml
Due: run-container-test

fix: answer audit reads with a no-op reporter instead of null when nothing is searchable
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/audit/impl/GatewayAuditReporterManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/audit/impl/GatewayAuditReporterManagerTest.java
Due: none

feat: make audit reporter selection deterministic and drop disabled reporters from reads
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/audit/impl/GatewayAuditReporterManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/audit/impl/GatewayAuditReporterManagerTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ManagementAuditReporterManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ManagementAuditReporterManagerTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/AuditReporterSelection.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/AuditReporterSelectionTest.java
Due: none

test(reporter-elasticsearch): resolve index wildcards before deleting so teardown actually cleans up
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchTestClient.java
  gravitee-am-test/api/commands/utils/elasticsearch-client.ts
Due: run-container-test

test(reporter-elasticsearch): name container tests so surefire collects them and wait for shard allocation
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/README.md
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/ElasticsearchTestClient.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/BulkResilienceTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/DailyIndexReadPathTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/ElasticsearchAuditReporterTest.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/src/test/java/io/gravitee/am/reporter/elasticsearch/audit/IndexTemplateFailureTest.java
Due: run-container-test

build(local-stack): persist elasticsearch data and make its heap configurable
  docker/local-stack/dev/docker-compose.elasticsearch.yml
Due: none

build(ci): bring up the elasticsearch overlay for the gateway jest jobs
  .circleci/workflows.yml
  docker/local-stack/dev/docker-compose.elasticsearch-plugin.yml
  docker/local-stack/dev/docker-compose.elasticsearch.yml
  docker/local-stack/local-stack.sh
  docker/local-stack/package.json
Due: none

test(reporter-elasticsearch): gate the live-stack spec on the elasticsearch overlay being up
  gravitee-am-test/specs/gateway/reporters/domain-reporter-elasticsearch.jest.spec.ts
Due: none

fix: log audit reporter undeploy failures and wait for reporters to flush on stop
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/audit/impl/GatewayAuditReporterManager.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/ReporterTeardown.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/ReporterTeardownTest.java
Due: none

fix: let an added audit reporter win reads over the one provisioned with the domain
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/audit/impl/GatewayAuditReporterManagerTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/ReportersResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ReportersResource.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/AuditReporterManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/ManagementAuditReporterManager.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/ManagementAuditReporterManagerTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Reporter.java
  gravitee-am-reporter/gravitee-am-reporter-elasticsearch/README.md
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/AuditReporterSelection.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/AuditReporterSelectionTest.java
Due: run-container-test

feat(ui): show which reporter serves audit reads on the reporters screen
  gravitee-am-ui/src/app/domain/settings/audits/settings/settings.component.html
Due: run_ui_tests

fix(mapi): document the audit endpoints as returning a page, not an array
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/model/AuditPage.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/audits/AuditsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AuditsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/UserAuditsResource.java
Due: none
