Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

feat: bump ee idp to manage secret resolution
  pom.xml
Due: run-container-test

test: fix flaky OTP three-step window test
  gravitee-am-factor/gravitee-am-factor-otp/src/test/java/io/gravitee/am/factor/otp/provider/OTPFactorProviderTest.java
Due: none

chore: add local-stack chaos mode
  docker/local-stack/README.md
  docker/local-stack/dev/docker-compose.chaos.cloud.yml
  docker/local-stack/dev/docker-compose.chaos.mongo.yml
  docker/local-stack/dev/docker-compose.chaos.postgres.yml
  docker/local-stack/dev/docker-compose.chaos.yml
  docker/local-stack/dev/toxiproxy.json
  docker/local-stack/local-stack.sh
  docs/agent-standards/skills/local-stack/SKILL.md
Due: none

fix: resolve CIMD clients on the social login and logout callbacks
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/RootProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/logout/LogoutCallbackEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/logout/LogoutEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/login/LoginCallbackParseHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/logout/LogoutCallbackEndpointHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/logout/LogoutEndpointHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/login/LoginCallbackParseHandlerTest.java
  gravitee-am-test/specs/gateway/cimd/cimd-logout.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/cimd-social-login.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/fixtures/cimd-social-login-fixture.ts
Due: none

test: drop the unsupported no-assessment scenario from the MFA risk-based spec
  gravitee-am-test/specs/gateway/mfa/mfa-factor-selection-rule.spec.ts
  gravitee-am-test/specs/gateway/mfa/mfa-remember-device.spec.ts
  gravitee-am-test/specs/gateway/mfa/mfa-risk-based-challenge.spec.ts
  gravitee-am-test/specs/gateway/mfa/mfa-step-up-not-applied.spec.ts
Due: none

test: move OAuth2 scope and token validity tests into the oauth2 folder
  gravitee-am-test/specs/gateway/oauth2/fixture/oauth2-scopes-and-token-validity-fixture.ts
  gravitee-am-test/specs/gateway/oauth2/oauth2-scopes-and-token-validity.jest.spec.ts
Due: none

test: gateway bot detection with the reCAPTCHA plugin (AM-6761) (#8568)
  gravitee-am-test/specs/gateway/bot-detection/fixtures/recaptcha-fixture.ts
  gravitee-am-test/specs/gateway/bot-detection/recaptcha-bot-detection.jest.spec.ts
  gravitee-am-test/specs/management/bot-detection/bot-detection-crud.jest.spec.ts
Due: none

test: drop the unsupported no-assessment scenario from the MFA risk-based spec (AM-7662) (#8569)
  gravitee-am-test/specs/gateway/mfa/mfa-risk-based-challenge.spec.ts
Due: none

test: application OAuth 2.0 / OIDC settings (AM-5418) (#8565)
  gravitee-am-test/specs/gateway/oauth2/fixture/oauth2-scopes-and-token-validity-fixture.ts
  gravitee-am-test/specs/gateway/oauth2/oauth2-scopes-and-token-validity.jest.spec.ts
Due: none

feat: add dry-run support to Automation API domain create-or-update (AM-7507)
  docs/automation/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationDomain.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/DryRunError.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/DomainsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/DomainService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
Due: none

fix: reinstate original code comments in DomainServiceImpl (AM-7507)
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
Due: none

test(migration): evaluate backward compatibility on TrustedIssuer
  gravitee-am-test/migration-seeding/token-exchange-seed.ts
  gravitee-am-test/migration-seeding/versions/4.13/seed.ts
  gravitee-am-test/specs/migration/fixture/migration-versions.ts
  gravitee-am-test/specs/migration/fixture/token-exchange-fixture.ts
  gravitee-am-test/specs/migration/token-exchange.jest.spec.ts
Due: none

test: assert dry-run update does not persist (AM-7507)
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/DomainsResourceTest.java
Due: none

feat(webauthn): Client-Side Error Monitoring and Server-Side Logging
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/exception/webauthn/WebAuthnBrowserClientErrorException.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/utils/UriBuilderRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/utils/UriBuilderRequestTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/RootProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebAuthnClientErrorCategory.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebauthnErrorEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnTelemetrySameOriginHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebauthnClientErrorReportingContextHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-fido2-login-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-login-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-register-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/assets/js/webauthn-telemetry-v4.js
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/mfa_challenge.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/webauthn_login.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/webauthn_register.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebAuthnClientErrorCategoryTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/webauthn/WebauthnErrorEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/webauthn/WebAuthnTelemetrySameOriginHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-fido2-login-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-login-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-register-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/assets/preview/js/webauthn-telemetry-v4.js
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/mfa_challenge.html
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/webauthn_login.html
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/webauthn_register.html
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/gateway/WebAuthnBrowserClientErrorAuditBuilder.java
  gravitee-am-ui/src/app/domain/components/forms/form/dialog/form-info.component.html
  helm/values.yaml
Due: run_ui_tests

fix(test): add method on SpyContext to avoid NPE
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/dummies/SpyRoutingContext.java
Due: none

fix: do not log TRACE for JUnit
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/resources/logback-test.xml
Due: none

fix: enable consent Allow button in some cases when no scopes are selected
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/oauth2_user_consent.html
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/authorization/consent/UserConsentEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/consent/UserConsentProcessHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/utils/RequiredScopeUtils.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/authorization/consent/UserConsentEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/handler/authorization/consent/UserConsentProcessHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/utils/RequiredScopeUtilsTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/preview/PreviewBuilder.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/oauth2_user_consent.html
  gravitee-am-test/specs/gateway/oauth2/fixture/oauth2-selective-consent-fixture.ts
  gravitee-am-test/specs/gateway/oauth2/oauth2-selective-consent.jest.spec.ts
Due: none

test: extend reporter attribute mapping coverage
  gravitee-am-test/playwright/tests/settings/reporters/reporter-attribute-mappings.spec.ts
  gravitee-am-test/specs/gateway/reporters/domain-reporter-attribute-mappings.jest.spec.ts
  gravitee-am-test/specs/management/reporters/domain-reporter.jest.spec.ts
Due: none

test: extend reporter attribute mapping coverage (AM-7701) (#8580)
  gravitee-am-test/playwright/tests/settings/reporters/reporter-attribute-mappings.spec.ts
  gravitee-am-test/specs/gateway/reporters/domain-reporter-attribute-mappings.jest.spec.ts
  gravitee-am-test/specs/management/reporters/domain-reporter.jest.spec.ts
Due: none

fix: hide connection settings on default reporter
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/SystemReporterConfigResolver.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/SystemReporterConfigResolverTest.java
Due: none

fix: preserve and mirror trusted domains for backwards compatibility
  docker/local-stack/dev/spire/scripts/issue-svid.sh
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/AutomationJerseySpringTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustedDomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustedDomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/JerseySpringTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/DomainKeyRetrievalSettingsUpgrader.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/DomainTrustedIssuerUpgrader.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/DomainTrustedIssuerMirrorUpgrader.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/SystemUpgraderOrder.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/trustdomain/TrustedIssuerProjection.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/upgrades/DomainKeyRetrievalSettingsUpgraderTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/upgrades/DomainTrustedIssuerUpgraderTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/upgrades/system/upgraders/DomainTrustedIssuerMirrorUpgraderTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/trustdomain/TrustedIssuerProjectionTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/TokenExchangeSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/TrustedIssuer.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/UserBindingCriterion.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeDomainSettings.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/TokenExchangeSettingsConverter.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TokenExchangeSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/management/MongoDomainKeyRetrievalMappingTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/DomainRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeSettingsValidator.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/validators/tokenexchange/TokenExchangeSettingsValidatorImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/validators/TokenExchangeSettingsValidatorTest.java
Due: run-container-test

feat: display IDP descriptions at creation
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.html
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.scss
  gravitee-am-ui/src/app/domain/settings/providers/creation/provider-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.html
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.scss
  gravitee-am-ui/src/styles.scss
Due: run_ui_tests

fix: allow list and map types to be mapped in reporters
  gravitee-am-reporter/gravitee-am-reporter-file/src/test/java/io/gravitee/am/reporter/file/formatter/CustomAttributesFormatterTest.java
  gravitee-am-reporter/gravitee-am-reporter-kafka/src/main/java/io/gravitee/am/reporter/kafka/dto/AuditMessageValueDto.java
  gravitee-am-reporter/gravitee-am-reporter-kafka/src/test/java/io/gravitee/am/reporter/kafka/dto/AuditMessageValueDtoMappingTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/attribute/ExportableValue.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/attribute/ReporterAttributeResolver.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/attribute/ExportableValueTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/attribute/ReporterAttributeResolverTest.java
  gravitee-am-test/specs/gateway/reporters/domain-reporter-attribute-mappings.jest.spec.ts
  gravitee-am-test/specs/gateway/reporters/fixture/domain-reporter-gateway-fixture.ts
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/reporter.component.html
Due: run-container-test, run_ui_tests

fix: validate tokens as described types
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DefaultTokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenValidationUtils.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DefaultTokenValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenValidationUtilsTest.java
  gravitee-am-test/specs/gateway/token-exchange/fixtures/id-jag-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/id-jag-identity.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/id-jag-issuance.jest.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-invalid.jest.spec.ts
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
