Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: added certificates to attestation for Android
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/GraviteeWebAuthnOptions.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/attestation/GraviteeAndroidKeyAttestation.java
Due: none

fix: address review findings in cursor pagination
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/repository/JdbcUserRepository.java
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/repository/MongoUserRepository.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/UsersResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/common/CursorPage.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/common/CursorRequest.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/common/CursorPageTest.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/common/CursorRequestTest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/AbstractManagementMongoRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/AbstractUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
Due: run-container-test

fix: add error handlers to Angular cursor pagination subscriptions
  gravitee-am-ui/src/app/domain/applications/applications.component.ts
  gravitee-am-ui/src/app/domain/settings/users/users.component.ts
  gravitee-am-ui/src/app/settings/domains/domains.component.ts
Due: run_ui_tests

test: strengthen cursor pagination tests with sort, error, and totalCount coverage
  gravitee-am-test/specs/management/cursor-pagination.jest.spec.ts
Due: none

fix: support dynamic sort fields in JDBC and MongoDB user cursor queries
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/repository/JdbcUserRepository.java
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/repository/MongoUserRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/AbstractUserRepository.java
Due: run-container-test

fix: missing CBA translation
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/templates/i18n/messages_en.properties
Due: none

fix: display SAML settings
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
Due: run_ui_tests

fix: preserve tid in the session
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/CookieSessionHandler.java
Due: none

fix: replace security settings by a single softwareId
  docs/mapi/openapi.yaml
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/CIMDSettings.java
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/gateway/SCIMBulkUsersCreation.scala
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/CIMDSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchCIMDSettings.java
  gravitee-am-test/api/management/models/CIMDSettings.ts
  gravitee-am-test/api/management/models/PatchCIMDSettings.ts
  gravitee-am-test/specs/management/cimd/cimd-settings.jest.spec.ts
Due: run-container-test

fix: bump gravitee-bom to 8.3.49 to remediate netty CVE
  pom.xml
Due: run-container-test

feat: tcp reporter
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-tcp/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/assembly/plugin-assembly.xml
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/TcpReporter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/TcpReporterConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/AuditEntry.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/client/TcpWriteStream.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/AbstractFormatter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/Formatter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/FormatterFactory.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/ReportEntry.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/Type.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/csv/AuditFormatter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/csv/CsvFormatter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/csv/SingleValueFormatter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/elasticsearch/ElasticsearchFormatter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/elasticsearch/freemarker/FreeMarkerComponent.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/json/JsonFormatter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/formatter/msgpack/MsgPackFormatter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/spring/TcpReporterSpringConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/elasticsearch/index/audit.ftl
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/plugin.properties
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/schemas/schema-form.json
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/test/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporterTest.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/test/java/io/gravitee/am/reporter/tcp/client/TcpWriteStreamTest.java
  gravitee-am-reporter/pom.xml
  gravitee-am-ui/src/app/domain/settings/audits/settings/reporter/reporter.component.ts
Due: run-container-test, run_ui_tests

fix: extend RouterImpl to handle change in vertx update
  gravitee-am-gateway/gravitee-am-gateway-reactor/src/main/java/io/gravitee/am/gateway/reactor/impl/DefaultReactor.java
  gravitee-am-gateway/gravitee-am-gateway-reactor/src/main/java/io/gravitee/am/gateway/reactor/impl/router/VHostRouter.java
Due: none

fix: display additionalInformation fields with falsy values in user profile
  gravitee-am-ui/src/app/domain/settings/users/user/profile/profile.component.html
Due: run_ui_tests

fix: typeless application should be readonly
  gravitee-am-ui/src/app/domain/applications/application/advanced/cookie/cookie.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/general/general.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/memberships/memberships.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/metadata/metadata.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/password-policy/password-policy.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/secrets-certificates/secrets-certificates.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/secrets-certificates/secrets-certificates.component.ts
  gravitee-am-ui/src/app/domain/applications/application/overview/overview.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
Due: run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
