Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

chore: update the base image to the 21-alpine and remove perl
  docker/gateway/Dockerfile
  docker/gateway/Dockerfile-dev
  docker/management-api/Dockerfile
  docker/management-api/Dockerfile-dev
Due: none

chore: bump gravitee bom to 8.3.65
  pom.xml
Due: run-container-test

chore: update the base image to the 25-alpine and remove perl
  docker/gateway/Dockerfile
  docker/gateway/Dockerfile-dev
  docker/management-api/Dockerfile
  docker/management-api/Dockerfile-dev
Due: none

fix: preserve login settings on domain patch
  docs/mapi/openapi.yaml
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchLoginSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchDomainTest.java
  gravitee-am-test/api/management/models/PatchDomain.ts
  gravitee-am-test/api/management/models/PatchLoginSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/management/cba/cba-settings.jest.spec.ts
  gravitee-am-test/specs/management/domains.jest.spec.ts
Due: none

fix: improve indexes for Mongo reporter
  gravitee-am-reporter/gravitee-am-reporter-mongodb/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/main/java/io/gravitee/am/reporter/mongodb/audit/MongoAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/main/java/io/gravitee/am/reporter/mongodb/audit/constants/MongoAuditReporterConstants.java
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/test/java/io/gravitee/am/reporter/mongodb/audit/MongoAuditReporterTest.java
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/test/java/io/gravitee/am/reporter/mongodb/audit/MongoReporterJUnitConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/test/java/io/gravitee/am/reporter/mongodb/tool/TestMongoConnectionProvider.java
Due: run-container-test

fix: preserve login settings on domain patch (magiclink)
  docs/mapi/openapi.yaml
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchLoginSettings.java
  gravitee-am-test/api/management/models/PatchLoginSettings.ts
  gravitee-am-test/specs/management/magic-link/magic-link-settings.jest.spec.ts
Due: none

fix: auto-resize data tables
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/directives/datatable-auto-resize.directive.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/scopes/scopes.component.scss
Due: run_ui_tests

fix: preserve value containing '&' in URLParametersUtils.parse
  gravitee-am-common/src/main/java/io/gravitee/am/common/web/URLParametersUtils.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/web/URLParametersUtilsTest.java
Due: none

fix: patch Login settings at application level
  docs/mapi/openapi.yaml
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchApplicationTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/utils/PermissionSettingsUtilsTest.java
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
Due: none

feat(authdevice-notifier): notifier capabilities + gateway-provided callbackUrl
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/AuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/IdentityProviderDependent.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/ADNotificationRequest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/ADUserResponse.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/FederatedConnection.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/NotifierCapability.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/AuthenticationDeviceNotifierProviderTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/IdentityProviderDependentTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/ADNotificationRequestTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/ADUserResponseTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/NotifierCapabilityTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-http/src/main/java/io/gravitee/am/authdevice/notifier/http/provider/HttpAuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-http/src/test/java/io/gravitee/am/authdevice/notifier/http/provider/HttpAuthenticationDeviceNotifierProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImplTest.java
Due: none

feat(identityprovider): retrieveUserFromTokenResponse for back-channel flows
  gravitee-am-identityprovider/gravitee-am-identityprovider-api/src/main/java/io/gravitee/am/identityprovider/api/AuthenticationProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-common/src/main/java/io/gravitee/am/identityprovider/common/oauth2/authentication/AbstractOpenIDConnectAuthenticationProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest_idToken.java
Due: none

fix(authdevice-notifier): guard null notifier id; close test Vertx
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImplTest.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-oauth2-generic/src/test/java/io/gravitee/am/identityprovider/oauth2/authentication/OAuth2GenericAuthenticationProviderTest_idToken.java
Due: none

refactor(identityprovider): add profile(Token, AuthenticationContext) overload
  gravitee-am-identityprovider/gravitee-am-identityprovider-common/src/main/java/io/gravitee/am/identityprovider/common/oauth2/authentication/AbstractOpenIDConnectAuthenticationProvider.java
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
