Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix(gateway): defer MFA optional skip until skip persistence completes
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollPostEndpointTest.java
Due: none

test: add MFA factor integration tests for HTTP, OTP Sender, and Call (AM-5514)
  gravitee-am-test/specs/gateway/mfa-factors/call-factor.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa-factors/fixtures/call-factor-fixture.ts
  gravitee-am-test/specs/gateway/mfa-factors/fixtures/http-factor-fixture.ts
  gravitee-am-test/specs/gateway/mfa-factors/fixtures/mfa-flow-helpers.ts
  gravitee-am-test/specs/gateway/mfa-factors/fixtures/otp-sender-fixture.ts
  gravitee-am-test/specs/gateway/mfa-factors/http-factor.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa-factors/otp-sender-factor.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/fixture/mfa-extract-fixture.ts
  pom.xml
Due: run-container-test

refactor: extract composite MFA flow helpers to reduce enrollment matrix duplication
  gravitee-am-test/playwright/tests/mfa/mfa-enrollment-matrix.spec.ts
  gravitee-am-test/playwright/utils/mfa-helpers.ts
Due: none

feat(mfa): add removePendingEnrolledFactor to UserService (AM-6745)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/service/user/UserService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/service/user/impl/UserServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/service/user/UserServiceTest.java
Due: none

chore: restore node dependency
  .circleci/workflows.yml
Due: none

chore: update plugin version
  pom.xml
Due: run-container-test

chore: build all modules
  .circleci/workflows.yml
Due: none

fix(mfa): remove stale PENDING_ACTIVATION factor on re-enrollment (AM-6745)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollEndpointTest.java
Due: none

test(mfa): add E2E test for re-enrollment after abandoned MFA attempt (AM-6745)
  gravitee-am-test/specs/gateway/mfa/mfa-pending-activation-reset.spec.ts
Due: none

fix: expand event type dropdown in user history to show full names
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/history/history.component.scss
Due: run_ui_tests

fix(mfa): replace removeIf with stream filter for unmodifiable factors list (AM-6745)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollEndpoint.java
Due: none

feat: expose CIMD settings
  docs/mapi/openapi.yaml
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/CIMDSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/OIDCSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/CIMDSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/OIDCSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchCIMDSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchOIDCSettings.java
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/DefaultApi.ts
  gravitee-am-test/api/management/models/CIMDSettings.ts
  gravitee-am-test/api/management/models/OIDCSettings.ts
  gravitee-am-test/api/management/models/PatchCIMDSettings.ts
  gravitee-am-test/api/management/models/PatchOIDCSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/management/cimd/cimd-settings.jest.spec.ts
  gravitee-am-test/specs/management/cimd/fixture/cimd-fixture.ts
Due: run-container-test

refactor(mfa): extract removeStalePendingFactors as discrete Completable step (AM-6745)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAEnrollEndpoint.java
Due: none

chore: build modules before generating OAS
  .circleci/scripts/oas-staleness-check.sh
  .circleci/workflows.yml
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
