Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: cap data plane id, name and gateway url at the JDBC column widths
  docs/automation/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationDataPlane.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewDataPlaneDefinition.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
Due: none

fix: name the id field when a data plane id fails the key format
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/AutomationRef.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DataPlaneResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/resource/DataPlanesResource.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/AutomationRefTest.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/DataPlaneResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/DataPlanesResourceTest.java
Due: none

test: cover data plane id format errors in the automation spec
  gravitee-am-test/specs/management/automation/dataplanes.jest.spec.ts
Due: none

test: store the data plane limits on every backend
  gravitee-am-test/specs/management/automation/dataplanes.jest.spec.ts
Due: none

fix(mapi): scope the environment data plane list to the environment
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/DataPlanesResource.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/DomainService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

refactor(mapi): move the selectable data plane lookup to DataPlaneDefinitionService
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/DataPlanesResource.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/DomainService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/DataPlaneDefinitionService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
Due: none

fix(ui): enable the create button again when domain creation fails
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.spec.ts
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.ts
Due: run_ui_tests

fix: validate the data plane gatewayUrl as an absolute http(s) URL
  docs/automation/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationDataPlane.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
Due: none

fix: validate the data plane gatewayUrl at the Automation API level
  docs/automation/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/main/java/io/gravitee/am/management/handlers/automation/model/AutomationDataPlane.java
  gravitee-am-management-api/gravitee-am-management-api-automation/gravitee-am-management-api-automation-rest/src/test/java/io/gravitee/am/management/handlers/automation/resource/DataPlanesResourceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
Due: none

fix(ui): add spacing between the identity provider description and the social provider block
  gravitee-am-ui/src/app/domain/settings/providers/provider/settings/settings.component.scss
Due: run_ui_tests

fix(dataplane): reject unknown keys and out of range ports in the mongodb block
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/resources/schemas/schema-form.json
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-api/src/main/java/io/gravitee/am/plugins/handlers/api/core/PluginConfigurationValidator.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-api/src/main/java/io/gravitee/am/plugins/handlers/api/core/StrictJsonSchemaValidator.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-api/src/test/java/io/gravitee/am/plugins/handlers/api/core/StrictJsonSchemaValidatorTest.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-dataplane/src/main/java/io/gravitee/am/plugins/dataplane/DataPlanePluginHandler.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneSchemaFormTest.java
Due: run-container-test

fix(dataplane): accept a null value for a key the schema declares
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-api/src/main/java/io/gravitee/am/plugins/handlers/api/core/StrictJsonSchemaValidator.java
  gravitee-am-plugins-handlers/gravitee-am-plugins-handlers-api/src/test/java/io/gravitee/am/plugins/handlers/api/core/StrictJsonSchemaValidatorTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneSchemaFormTest.java
Due: none

fix(dataplane): report a block that is not an object in its own words
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
Due: none

fix(dataplane): reject unknown keys and out of range ports in the jdbc block
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/resources/schemas/schema-form.json
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/config/DataPlaneSchemaFormTest.java
Due: run-container-test

fix(migration-tool): expose seeded and deployed versions to the verify specs
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
Due: none

test(migration): seed the trusted-issuer data set from 4.12
  gravitee-am-test/migration-seeding/versions/4.12/seed.ts
Due: none

fix(migration-tool): seed from the current checkout unless --seed-worktree
  scripts/migration-tool/README.md
  scripts/migration-tool/index.mjs
Due: none

fix(migration-tool): seed the tag's own minor without fallback
  scripts/migration-tool/README.md
  scripts/migration-tool/index.mjs
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
Due: none
