Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

feat(spiffe): use jwt-spiffe client assertion type instead of jwt-bearer
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none

chore(test): regen management SDK with Application.subType
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/models/Advanced.ts
  gravitee-am-test/api/management/models/AgentApplication.ts
  gravitee-am-test/api/management/models/AgentApplicationPage.ts
  gravitee-am-test/api/management/models/AgentSettings.ts
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/ApplicationSettings.ts
  gravitee-am-test/api/management/models/FilteredApplication.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/OAuth.ts
  gravitee-am-test/api/management/models/PatchApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/Settings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

ci(gamma): add release-gamma-version to gio_action enum in setup config
  .circleci/config.yml
Due: none

ci(gamma): hardcode rc_requested=true in release-gamma-version workflow
  .circleci/workflows.yml
Due: none

fix: reduce cimd_metadata_documents client_id length to fit MySQL/MariaDB index limit
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-add-cimd-metadata-documents.yml
Due: run-container-test

feat(cimd): support AGENT subType and relax redirect_uris for autonomous agents
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewCimdApplication.java
Due: none

chore(sdk): regenerate management SDK for CIMD subType
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/ApplicationApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/models/ApplicationSAMLSettings.ts
  gravitee-am-test/api/management/models/CimdValidationRequest.ts
  gravitee-am-test/api/management/models/CimdValidationResponse.ts
  gravitee-am-test/api/management/models/ClientMetadata.ts
  gravitee-am-test/api/management/models/Missing.ts
  gravitee-am-test/api/management/models/NewCimdApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationSAMLSettings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

test(cimd): align redirect_uris fetcher tests with relaxed validation
  gravitee-am-service/src/test/java/io/gravitee/am/service/cimd/CimdMetadataFetcherTest.java
Due: none

chore(local-stack): add cimd agent wiremock fixtures and domain setup script
  docker/local-stack/dev/docker-compose.mongo.yml
  docker/local-stack/dev/wiremock/request-cimd.json
  scripts/setup-cimd-domain.sh
Due: none

test(cimd): cover agent subType creation
  gravitee-am-test/specs/management/applications/cimd-application-creation.jest.spec.ts
Due: none

chore: update OAS
  docs/mapi/openapi.yaml
Due: none

ci: add release-gamma-version subcommand to am-release script
  release/steps/am-release-gamma-pipeline.mjs
  release/steps/am-release.mjs
Due: none

docs(release): document gamma release flow and [skip ci] convention for precursor commits
  release/README.adoc
Due: none

feat: userinfo profile custom claims
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/EvaluableJWT.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/jwt/EvaluableJWTTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/el/ExecutionContextTokenEnhancer.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/OIDCProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/resources/endpoint/UserInfoEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/el/ExecutionContextTokenEnhancerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/resources/endpoint/UserInfoEndpointHandlerTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/UserInfoClaim.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationOAuthSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/application/ApplicationOAuthSettingsTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationOAuthSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ClientMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/UserInfoClaimMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationOAuthSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchApplicationTest.java
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/oauth2.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/application-tokens.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/application-tokens.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/application-tokens.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/claims/add-userinfo-claim.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/dialog/claims-info.component.html
Due: run-container-test, run_ui_tests

feat: add expands query parameter to applications list endpoint
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/ApplicationExpand.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
Due: none

feat: userinfo profile custom claims: cleanup
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/application-tokens.component.ts
Due: run_ui_tests

feat: userinfo profile custom claims
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/EvaluableJWT.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/jwt/EvaluableJWTTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/el/ExecutionContextTokenEnhancer.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/OIDCProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/resources/endpoint/UserInfoEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/el/ExecutionContextTokenEnhancerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/resources/endpoint/UserInfoEndpointHandlerTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/UserInfoClaim.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationOAuthSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/application/ApplicationOAuthSettingsTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationOAuthSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ClientMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/UserInfoClaimMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationOAuthSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchApplicationTest.java
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/claims/add-claim.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/claims/add-userinfo-claim.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/dialog/claims-info.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.scss
  gravitee-am-ui/src/app/domain/components/oauth2-settings/tokens/tokens.component.ts
Due: run-container-test, run_ui_tests

fix: calculate audit actor links for applications
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/AuditActorAttributes.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilderTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilderTest.java
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.ts
Due: run_ui_tests

fix(introspection): fall back to protected-resource validation when CIMD client lookup errors
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenServiceTest.java
Due: none

test(introspection): cover CIMD-enabled domain introspecting RFC 8707 audience
  gravitee-am-test/specs/gateway/protected-resources/introspection-cimd-enabled.jest.spec.ts
Due: none

fix: propagate PAR option to CIMD client
  docker/local-stack/dev/wiremock/request-cimd.json
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImplTest.java
  gravitee-am-test/specs/gateway/cimd/cimd-par.jest.spec.ts
Due: none

fix: integrate CIBA capability with CIMD clients
  docker/local-stack/dev/wiremock/request-cimd.json
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/ciba/service/AuthenticationRequestServiceTest.java
  gravitee-am-test/specs/gateway/cimd/cimd-ciba.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/fixtures/cimd-ciba-fixture.ts
Due: none

fix: SCIM update operation changes the internal property to false
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/main/java/io/gravitee/am/gateway/handler/scim/service/impl/ProvisioningUserServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
Due: none

test: reduce delays
  gravitee-am-test/specs/gateway/cimd/cimd-ciba.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/fixtures/cimd-ciba-fixture.ts
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
