Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

feat(ui): add Trust Domain management screens
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.ts
  gravitee-am-ui/src/app/resolvers/trust-domain.resolver.ts
  gravitee-am-ui/src/app/resolvers/trust-domains.resolver.ts
  gravitee-am-ui/src/app/services/trust-domain.service.ts
Due: run_ui_tests

feat(ui): expose spiffe_jwt client auth method on application form
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
  gravitee-am-ui/src/app/services/oauth2-settings.service.ts
Due: run_ui_tests

fix(spiffe): respect per-trust-domain refresh interval and serve stale bundle on fetch error
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
Due: none

feat(spiffe): use jwt-spiffe client assertion type instead of jwt-bearer
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none

fix(spiffe): enforce JWKS URL safety at fetch time, validate domain settings, compose delete event
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchSpiffeDomainSettings.java
Due: none

feat(spiffe): add TrustDomainService with validation and audit
  gravitee-am-service/src/main/java/io/gravitee/am/service/TrustDomainService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/InvalidTrustDomainException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/TrustDomainAlreadyExistsException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/TrustDomainNotFoundException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/UpdateTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchOIDCSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchSpiffeDomainSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/management/TrustDomainAuditBuilder.java
Due: none

fix(spiffe): reject jwksUrl resolving to private addresses unless allowed
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
Due: none

refactor(ui): group SPIFFE settings and Trust Domains under Workload Identity menu
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.html
Due: run_ui_tests

refactor(spiffe): extract private-address check into PrivateAddressGuard helper
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/PrivateAddressGuard.java
Due: none

fix(spiffe): clearer error for jwt-bearer with SPIFFE sub and guard against null discovery
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none

feat(spiffe): add data model and persistence for trust domains
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EntityType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Type.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/OIDCSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeBundleSource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeDomainSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/TrustDomain.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/permissions/Permission.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/TrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcTrustDomain.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/SpringTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-trust-domains-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/SpiffeApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TrustDomainMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/OIDCSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/SpiffeDomainSettingsMongo.java
Due: run-container-test

chore: regen openapi spec
  docs/mapi/openapi.yaml
Due: none

refactor(spiffe): drop subject pattern matching; require exact SPIFFE subject
  docker/local-stack/dev/docker-compose.spire.yml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidator.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/SpiffeApplicationSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: run-container-test

test(spiffe): update assertClient stubs for clientIdHint argument
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/ClientAuthHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProviderTest.java
Due: none

refactor(ui): drop SPIFFE subject pattern toggle; keep exact subject field
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
Due: run_ui_tests

chore(openapi): drop subjectPattern from SpiffeApplicationSettings schema and SDK
  docs/mapi/openapi.yaml
  gravitee-am-test/api/management/models/SpiffeApplicationSettings.ts
Due: none

test(ui): provide TrustDomainService mock for grant-flows spec
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.spec.ts
Due: run_ui_tests

fix: restore wiremock JWKS fixture, certificate-utils exports, and CI scripts
  .circleci/scripts/oas-staleness-check.sh
  .circleci/workflows.yml
  docker/local-stack/dev/docker-compose.yml
  docker/local-stack/dev/wiremock/request-cimd.json
  docker/local-stack/dev/wiremock/request-jwks.json
  gravitee-am-test/api/config/dev.setup.js
  gravitee-am-test/api/utils/certificate-utils.ts
  scripts/regen-oas.sh
Due: none

fix: update acl value
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationSecretResource.java
Due: none

chore(test): fix flacky test in FlowServiceTest
  gravitee-am-service/src/test/java/io/gravitee/am/service/FlowServiceTest.java
Due: none

fix(GMA-144): scope sub_profile to agent-subject flows only
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
Due: none

fix: user profile not accessible in the context during token exchange
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/manager/subject/SubjectManagerV2.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/TokenCreationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/TokenExchangeStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/granter/CompositeTokenGranter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/introspection/impl/IntrospectionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/ActorTokenInfo.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/TokenExchangeService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/TokenExchangeUserResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeUserResolverFacade.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenUserResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerUserResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/spring/OAuth2Configuration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/TokenExchangeStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerUserResolverTest.java
  gravitee-am-test/specs/gateway/token-exchange/fixtures/token-exchange-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/token-exchange.jest.spec.ts
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
