Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

chore: add option to compare working tree
  .circleci/scripts/schema-compat-check.sh
Due: none

chore: intentionally break backwards compatibility
  gravitee-am-certificate/gravitee-am-certificate-javakeystore/src/main/resources/schemas/schema-form.json
  gravitee-am-identityprovider/gravitee-am-identityprovider-github/src/main/resources/schemas/schema-form.json
  gravitee-am-policy/gravitee-am-policy-enrich-profile/src/main/resources/schemas/schema-form.json
Due: none

openfga sync
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.ts
  gravitee-am-ui/src/app/services/openfga.service.ts
Due: run_ui_tests

fix: use up to date column type in sqlserver
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/sqlserver.schema
Due: run-container-test

chore(ci): upgrade mongo version to 8.2 to test compatibility
  .circleci/workflows.yml
Due: none

fix: remove required fields from smtp schema
  gravitee-am-resource/gravitee-am-resource-smtp/src/main/resources/schemas/schema-form.json
Due: none

feat: separate schema from bundle
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/main/java/io/gravitee/am/authorizationengine/api/ws/WsMessageCodec.java
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/test/java/io/gravitee/am/authorizationengine/api/ws/WsMessageCodecTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/AuthorizationSchemaServiceImpl.java
  gravitee-am-ui/src/app/domain/authorization-engines/sidecar/sidecar.component.html
  gravitee-am-ui/src/app/domain/authorization-engines/sidecar/sidecar.component.ts
Due: run_ui_tests

feat: fix yaml save
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.ts
  gravitee-am-ui/src/app/services/openfga.service.ts
Due: run_ui_tests

deny/appove
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.ts
Due: run_ui_tests

chore: add EE plugin validation check
  .circleci/scripts/ee-schema-compat-check.sh
  .circleci/scripts/schema-compat-check.sh
  .circleci/workflows.yml
Due: none

chore: improve reporting
  .circleci/workflows.yml
  scripts/schema-compatibility/check-schema-compatibility.mjs
Due: none

tlsterminate
  gravitee-am-ui/src/app/domain/applications/application/advanced/openshell-policy/openshell-policy.component.ts
Due: run_ui_tests

chore: use cached maven packages
  .circleci/scripts/schema-compat-check.sh
  .circleci/workflows.yml
Due: none

fix: graphlookup for token revoke is too much resource consuming
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/GrantData.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/TokenCreationRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/TokenExchangeStrategy.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2Request.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/TokenExchangeResult.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/ValidatedToken.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DomainTokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenValidationUtils.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/TokenExchangeStrategyTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DomainTokenValidatorTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oauth2/model/Token.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/AbstractDialectHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/MariadbHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/MsSqlHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/api/JdbcTokenRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/api/model/JdbcToken.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth-master.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth/changelogs/v4_11_0/4.11.0-add-tokens-parent-jtis.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/MongoTokenRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/internal/model/TokenMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/oauth2/api/TokenRepositoryTest.java
Due: run-container-test

install jdk 25 for playwright tests
  .circleci/workflows.yml
Due: none

fix: bump netty in ciba to clear CVE warning
  gravitee-am-ciba-delegated-service/pom.xml
Due: run-container-test

fix(circleci): pass through mvn settings so it can use the snapshot
  .circleci/workflows.yml
Due: none

feat: use snapshot package for gravitee-parent and disable arch rules for now
  pom.xml
Due: run-container-test

fix: fapi build java 25
  gravitee-am-fapi-resource-api/pom.xml
Due: run-container-test

feat: bump gravitee-parent to 25.0.0-alpha.1
  pom.xml
Due: run-container-test

feat: use java 25 in circleci build
  .circleci/workflows.yml
Due: none

feat: use upgraded version of gravitee-policy-groovy for J25 support
  pom.xml
Due: run-container-test

feat: use java 25 in circleci build in pr processing
  .circleci/workflows.yml
Due: none

fix: use temurin noble images to be in line with existing docker image definitions
  docker/gateway/Dockerfile-dev-noble
  docker/gateway/Dockerfile-noble
  docker/management-api/Dockerfile-dev-noble
  docker/management-api/Dockerfile-noble
Due: none

fix: add netty-transport-native-unix-common to gateway and management API distributions for JDK 25 SSL support
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/pom.xml
Due: run-container-test

fix: pin eclipse-temurin images to 25.0.1_8 for deterministic builds
  docker/gateway/Dockerfile-dev-noble
  docker/gateway/Dockerfile-noble
  docker/management-api/Dockerfile-dev-noble
  docker/management-api/Dockerfile-noble
  gravitee-am-ciba-delegated-service/pom.xml
  gravitee-am-fapi-resource-api/pom.xml
Due: run-container-test

feat: fix java version to 25.0.1
  .circleci/workflows.yml
Due: none

fix: update steps to use jdk 25 for ciba build
  .circleci/workflows.yml
  gravitee-am-ciba-delegated-service/pom.xml
Due: run-container-test

feat: add sdkman config and bump parent version
  .sdkmanrc
  pom.xml
Due: run-container-test

feat: minor update to resolve gatling issues
  docker/gateway/Dockerfile-dev-noble
  docker/gateway/Dockerfile-noble
  docker/management-api/Dockerfile-dev-noble
  docker/management-api/Dockerfile-noble
  gravitee-am-ciba-delegated-service/pom.xml
  gravitee-am-fapi-resource-api/pom.xml
  gravitee-am-performance/Dockerfile
  gravitee-am-performance/pom.xml
  gravitee-am-performance/src/test/scala/io/gravitee/am/performance/commands/GatewayCalls.scala
Due: run-container-test
