Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: TCP reporter race; refactor: SSRF pluggability; test alignment
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/test/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporterTest.java
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
Due: run-container-test

feat: add read-only /applications/agents endpoint with agent_applications side table
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/AgentApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/AgentApplicationsResourceTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/ApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/application/SpringApplicationAgentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-agent-applications-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ApplicationService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

fix: restrict workload-jwt sig verify, pin CIMD DNS, attribute agent key audits
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/ApplicationAgentKeysResourceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
Due: none

chore(openapi): add listAgentApplications operation and schemas
  docs/mapi/openapi.yaml
Due: none

chore: remove agent keys in favor of existing JWKS
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/ApplicationAgentKeysResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapperTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/services/application-agent-keys.service.ts
Due: run-container-test, run_ui_tests

refactor: drop redundant blueprintClientId on agent Client
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
Due: none

refactor(ui): collapse AgentSettings into OAuth and polish agent form
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
Due: run-container-test, run_ui_tests

test: add jest coverage for /applications/agents list endpoint
  gravitee-am-test/api/commands/management/agent-applications-commands.ts
  gravitee-am-test/specs/management/agent-applications/agent-applications.jest.spec.ts
  gravitee-am-test/specs/management/agent-applications/fixtures/agent-applications-fixture.ts
Due: none

feat(ui): add agent identity screens with reactive and audit refactors
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/applications.component.html
  gravitee-am-ui/src/app/domain/applications/applications.component.scss
  gravitee-am-ui/src/app/domain/applications/applications.component.ts
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
  gravitee-am-ui/src/app/services/application-agent-keys.service.ts
  gravitee-am-ui/src/app/services/application.service.ts
Due: run_ui_tests

test: align blueprint tokenEndpointAuthMethod default to client_secret_basic
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
Due: none

test(ui): provide TrustDomainService mock for grant-flows spec
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.spec.ts
Due: run_ui_tests

chore: regen openapi spec
  docs/mapi/openapi.yaml
Due: none

feat(ui): add SPIFFE domain settings panel
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.html
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.scss
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.ts
Due: run_ui_tests

refactor(ui): drop SPIFFE subject pattern toggle; keep exact subject field
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
Due: run_ui_tests

feat(spiffe): add TrustDomainService with validation and audit
  gravitee-am-service/src/main/java/io/gravitee/am/service/TrustDomainService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/InvalidTrustDomainException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/TrustDomainAlreadyExistsException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/exception/TrustDomainNotFoundException.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/UpdateTrustDomain.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchOIDCSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchSpiffeDomainSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/management/TrustDomainAuditBuilder.java
Due: none

feat(spiffe): add data model and persistence for trust domains
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EntityType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/event/Type.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/OIDCSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeBundleSource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/SpiffeDomainSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/TrustDomain.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/permissions/Permission.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/TrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcTrustDomain.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/SpringTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-trust-domains-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoTrustDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/SpiffeApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TrustDomainMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/OIDCSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/oidc/SpiffeDomainSettingsMongo.java
Due: run-container-test

refactor(spiffe): extract private-address check into PrivateAddressGuard helper
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/utils/PrivateAddressGuard.java
Due: none

fix(spiffe): reject jwksUrl resolving to private addresses unless allowed
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
Due: none

fix(spiffe): respect per-trust-domain refresh interval and serve stale bundle on fetch error
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
Due: none

feat(ui): expose spiffe_jwt client auth method on application form
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
  gravitee-am-ui/src/app/services/oauth2-settings.service.ts
Due: run_ui_tests

feat(ui): add Trust Domain management screens
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/creation/trust-domain-creation.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domain/trust-domain.component.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/trust-domains.component.ts
  gravitee-am-ui/src/app/resolvers/trust-domain.resolver.ts
  gravitee-am-ui/src/app/resolvers/trust-domains.resolver.ts
  gravitee-am-ui/src/app/services/trust-domain.service.ts
Due: run_ui_tests

chore(local-stack): add SPIRE compose overlay
  docker/local-stack/dev/docker-compose.spire.yml
  docker/local-stack/dev/spire/agent.conf
  docker/local-stack/dev/spire/agent/Dockerfile
  docker/local-stack/dev/spire/agent/entrypoint.sh
  docker/local-stack/dev/spire/bootstrap/Dockerfile
  docker/local-stack/dev/spire/bootstrap/bootstrap.sh
  docker/local-stack/dev/spire/oidc-provider.conf
  docker/local-stack/dev/spire/scripts/issue-svid.sh
  docker/local-stack/dev/spire/server.conf
  docker/local-stack/package.json
Due: none

test(spiffe): update assertClient stubs for clientIdHint argument
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/ClientAuthHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProviderTest.java
Due: none

chore(openapi): drop subjectPattern from SpiffeApplicationSettings schema and SDK
  docs/mapi/openapi.yaml
  gravitee-am-test/api/management/models/SpiffeApplicationSettings.ts
Due: none

fix(spiffe): enforce JWKS URL safety at fetch time, validate domain settings, compose delete event
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchSpiffeDomainSettings.java
Due: none

refactor(ui): group SPIFFE settings and Trust Domains under Workload Identity menu
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/settings/openid/spiffe/spiffe-settings.component.html
Due: run_ui_tests

refactor(spiffe): drop subject pattern matching; require exact SPIFFE subject
  docker/local-stack/dev/docker-compose.spire.yml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidator.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/SpiffeApplicationSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: run-container-test

chore(test): regen management SDK for trust domains and SPIFFE settings
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/apis/TrustDomainApi.ts
  gravitee-am-test/api/management/models/ApplicationSettings.ts
  gravitee-am-test/api/management/models/NewTrustDomain.ts
  gravitee-am-test/api/management/models/OIDCSettings.ts
  gravitee-am-test/api/management/models/PatchApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/PatchDomain.ts
  gravitee-am-test/api/management/models/PatchOIDCSettings.ts
  gravitee-am-test/api/management/models/PatchSAMLSettings.ts
  gravitee-am-test/api/management/models/PatchSpiffeDomainSettings.ts
  gravitee-am-test/api/management/models/SpiffeApplicationSettings.ts
  gravitee-am-test/api/management/models/SpiffeDomainSettings.ts
  gravitee-am-test/api/management/models/TrustDomain.ts
  gravitee-am-test/api/management/models/UpdateTrustDomain.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

feat(spiffe): add Trust Domain management REST API
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/DomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/TrustDomainsResource.java
Due: none

feat(spiffe): add gateway client authentication via JWT-SVID
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/TrustBundleService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
Due: none

fix(spiffe): clearer error for jwt-bearer with SPIFFE sub and guard against null discovery
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none

feat(spiffe): use jwt-spiffe client assertion type instead of jwt-bearer
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none

chore: docs clean up
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
Due: none

fix: drain fallback files after restart
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/test/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporterTest.java
Due: run-container-test

fix: new sessions should be MFA challenged by ACTIVATED factors
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeEndpointTest.java
  gravitee-am-test/specs/gateway/mfa/fixture/mfa-flow-fixture.ts
  gravitee-am-test/specs/gateway/mfa/mfa-challange-required.spec.ts
Due: none

chore(test): fix flacky test
  gravitee-am-service/src/test/java/io/gravitee/am/service/FlowServiceTest.java
Due: none

fix: validate token using kid hint
  gravitee-am-certificate/gravitee-am-certificate-api/src/main/java/io/gravitee/am/certificate/api/AbstractCertificateProvider.java
  gravitee-am-certificate/gravitee-am-certificate-api/src/main/java/io/gravitee/am/certificate/api/CertificateProvider.java
  gravitee-am-certificate/gravitee-am-certificate-javakeystore/src/main/java/io/gravitee/am/certificate/javakeystore/provider/JavaKeyStoreProvider.java
  gravitee-am-certificate/gravitee-am-certificate-pkcs12/src/main/java/io/gravitee/am/certificate/pkcs12/provider/PKCS12Provider.java
  gravitee-am-certificate/gravitee-am-certificate-pkcs12/src/test/java/io/gravitee/am/certificate/pkcs12/provider/PKCS12ProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-certificate/src/test/java/io/gravitee/am/gateway/certificate/CertificateProviderManagerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/certificate/impl/CertificateManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/jwt/JWTService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/jwt/impl/JWTServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/oauth2/impl/IntrospectionAccessTokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/oauth2/impl/IntrospectionRefreshTokenServiceTest.java
Due: none

feat(saml2): add support for SAML Assertion Conditions (NotBefore, NotOnOrAfter, AudienceRestriction)
  docs/mapi/openapi.yaml
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSAMLSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSAMLSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSAMLSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
  gravitee-am-ui/src/app/domain/applications/application/advanced/saml2/saml2.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/saml2/saml2.component.ts
Due: run-container-test, run_ui_tests

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
