Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

test(cimd): integration tests for CIMD-bootstrapped application creation
  gravitee-am-test/specs/management/applications/cimd-application-creation.jest.spec.ts
Due: none

chore(test): regen management SDK with Application.subType
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/models/Advanced.ts
  gravitee-am-test/api/management/models/AgentApplication.ts
  gravitee-am-test/api/management/models/AgentApplicationPage.ts
  gravitee-am-test/api/management/models/AgentSettings.ts
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/ApplicationSettings.ts
  gravitee-am-test/api/management/models/FilteredApplication.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/OAuth.ts
  gravitee-am-test/api/management/models/PatchApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/Settings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

feat(GMA-169): replace AgentSettings with top-level Application.subType
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Application.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-applications-add-sub-type.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

test(GMA-169): use subType field in agent application Jest fixtures
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/management/agent-applications/fixtures/agent-applications-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

feat(GMA-169): use Application.subType in UI for agent persona
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
Due: run_ui_tests

chore(tests): eliminate flaky test patterns and re-enable disabled tests
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengePostEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/handler/loginattempt/LoginAttemptHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/service/user/UserServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-users/src/test/java/io/gravitee/am/gateway/handler/users/resources/consents/UserConsentEndpointHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-users/src/test/java/io/gravitee/am/gateway/handler/users/resources/consents/UserConsentsEndpointHandlerTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/CertificateNotifierServiceImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/ManagementUserServiceTest.java
  gravitee-am-policy/gravitee-am-policy-send-email/src/test/java/io/gravitee/am/policy/send/email/SendEmailPolicyTest.java
  gravitee-am-reporter/gravitee-am-reporter-file/src/test/java/io/gravitee/am/reporter/file/audit/FileAuditReporterTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/UserServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/utils/UserFactorUpdaterTest.java
  gravitee-am-test/GUIDELINES.md
  gravitee-am-test/specs/gateway/flows/flow-execution.jest.spec.ts
  gravitee-am-test/specs/gateway/login-flow/login-flow-inline.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/mfa-rate-limit-registration.spec.ts
  gravitee-am-test/specs/gateway/oauth2/oauth2-grant-authorization-code.jest.spec.ts
  gravitee-am-test/specs/gateway/password-policy/password-policy.jest.spec.ts
  gravitee-am-test/specs/gateway/pre-registration/confirm-pre-registration.spec.ts
  gravitee-am-test/specs/gateway/rate-limiting.jest.spec.ts
  gravitee-am-test/specs/gateway/saml2/saml.spec.ts
  gravitee-am-test/specs/gateway/saml2/setup.ts
  gravitee-am-test/specs/gateway/scim/scim-bulk.spec.ts
  gravitee-am-test/specs/management/domain/path-mode.jest.spec.ts
  gravitee-am-test/specs/management/mcp-client-secrets.jest.spec.ts
  gravitee-am-test/specs/management/password-history.jest.spec.ts
  gravitee-am-test/specs/management/scope-management/scope-listing-discovery.jest.spec.ts
Due: run-container-test

feat(cimd): simplify CIMD step to URL-only with auto-populated name
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
Due: run_ui_tests

feat(cimd): drop identity provider option from CIMD application creation
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewCimdApplication.java
Due: none

feat: identify CIMD clients in user consent and audit events
  gravitee-am-common/src/main/java/io/gravitee/am/common/oauth2/ClientIds.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/oauth2/ClientIdsTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/src/main/java/io/gravitee/am/gateway/handler/cimd/resources/endpoint/CimdLogoEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-cimd/src/test/java/io/gravitee/am/gateway/handler/cimd/resources/endpoint/CimdLogoEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/impl/ClientSyncServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/protectedresource/impl/ProtectedResourceSyncServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/CimdClientIdsTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/handler/common/RedirectUriValidationHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/endpoint/authorization/consent/CimdConsentPageAttributes.java
  gravitee-am-management-api/gravitee-am-management-api-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/adapter/ConsentApplicationEntityFactory.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/adapter/ScopeApprovalAdapterImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/UserConsentResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/ManagementConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/JerseySpringTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/adapter/ConsentApplicationEntityFactoryTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/adapter/ScopeApprovalAdapterImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/UserConsentResourceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/CimdMetadataDocument.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilderTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilderTest.java
  gravitee-am-ui/src/app/domain/settings/audits/audit/audit.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/applications/application/application.component.html
  gravitee-am-ui/src/app/domain/settings/users/user/applications/application/application.component.ts
  gravitee-am-ui/src/app/domain/settings/users/user/applications/user-consent-application.constants.ts
  gravitee-am-ui/src/app/resolvers/application.resolver.ts
Due: run-container-test, run_ui_tests

fix: avoid single eventbus address for reporter
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/impl/AuditReporterVerticle.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/vertx/EventBusReporterWrapper.java
Due: none

fix: addition of access log
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/RootProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/handler/GraviteeLoggerHandler.java
Due: none

feat(cimd): map full RFC 7591 metadata onto application and synthesized client
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/CimdResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/CimdPreview.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/cimd/CimdMetadataFetcherTest.java
Due: none

feat(cimd): redesign import-mode chooser and CIMD confirm step with metadata dialog
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.scss
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/cimd-metadata-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/cimd-metadata-dialog.component.scss
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/cimd-metadata-dialog.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.scss
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.ts
Due: run_ui_tests

refactor(cimd): rename CimdPreview, isolate fetcher, share validation rules, default SAML
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/CimdResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/CimdMetadataDocumentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdValidationRules.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/CimdMetadataDocumentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/CimdClientMetadata.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/cimd/CimdMetadataFetcherTest.java
Due: none

chore(cimd): regenerate OpenAPI spec for new validate/applications endpoints
  docs/mapi/openapi.yaml
Due: none

chore(cimd): tests for revocation of refresh_token for CIMD
  gravitee-am-test/specs/gateway/cimd/cimd-refresh-token.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/fixtures/cimd-refresh-token-fixture.ts
Due: none

feat: private_jwt client auth for CIMD clients
  docker/local-stack/dev/docker-compose.yml
  docker/local-stack/dev/wiremock/cimd-private-key-jwt-jwks.json
  docker/local-stack/dev/wiremock/request-cimd.json
  docker/local-stack/dev/wiremock/request-jwks.json
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/jwk/impl/JWKServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/jwk/JWKServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-distribution/src/main/resources/config/gravitee.yml
  gravitee-am-service/src/main/java/io/gravitee/am/service/jwk/JWKSetFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/jwk/impl/CachedJWKSetFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/jwk/impl/WebClientJWKSetFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/spring/JWTConfiguration.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/jwk/impl/CachedJWKSetFetcherTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/jwk/impl/WebClientJWKSetFetcherTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/nimbusds/WebClientResourceRetrieverTest.java
  gravitee-am-test/api/fixtures/cimd-private-key-jwt.ts
  gravitee-am-test/specs/gateway/cimd/cimd-authorize-enabled-base.jest.spec.ts
  gravitee-am-test/specs/gateway/cimd/fixtures/cimd-authorize-fixture.ts
  helm/templates/gateway/gateway-configmap.yaml
  helm/tests/gateway-configmap_test.yaml
Due: none

ci: add release-gamma-version workflow for non-snapshot gamma artifacts
  .circleci/workflows.yml
Due: none

ci: add release-gamma-version subcommand to am-release script
  release/steps/am-release-gamma-pipeline.mjs
  release/steps/am-release.mjs
Due: none

ci(gamma): hardcode rc_requested=true in release-gamma-version workflow
  .circleci/workflows.yml
Due: none

ci(gamma): add release-gamma-version to gio_action enum in setup config
  .circleci/config.yml
Due: none

refactor(cimd): nest validate response metadata under IANA-aligned schema
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/CimdResource.java
Due: none

refactor(cimd): consume nested metadata from validate response in creation UI
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step3-cimd-confirm/step3-cimd-confirm.component.ts
Due: run_ui_tests

test(cimd): assert nested metadata shape on validate response
  gravitee-am-test/specs/management/applications/cimd-application-creation.jest.spec.ts
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
