Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: create a single thread pool to process staging emails
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/BulkEmailExecutor.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/email/EmailStagingProcessor.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/email/EmailStagingProcessorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/main/java/io/gravitee/am/gateway/handler/scim/spring/SCIMConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-scim/src/test/java/io/gravitee/am/gateway/handler/scim/service/ProvisioningUserServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/java/io/gravitee/am/gateway/spring/StandaloneConfiguration.java
Due: none

fix: AM-6604 add tooltip on truncated audit log actor/target cells and widen target column
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.html
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.scss
  gravitee-am-ui/src/app/domain/settings/audits/audits.component.ts
Due: run_ui_tests

ws poc
  docs/authorization-architecture-ws.md
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/pom.xml
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/main/java/io/gravitee/am/authorizationengine/api/AuthorizationEngineProvider.java
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/main/java/io/gravitee/am/authorizationengine/api/ws/ResolvedBundleSnapshot.java
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/main/java/io/gravitee/am/authorizationengine/api/ws/WsMessage.java
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/main/java/io/gravitee/am/authorizationengine/api/ws/WsMessageCodec.java
  gravitee-am-authorizationengine/gravitee-am-authorizationengine-api/src/test/java/io/gravitee/am/authorizationengine/api/ws/WsMessageCodecTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/authorizationengine/impl/AuthorizationEngineManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/authorizationengine/impl/AuthorizationEngineManagerImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/VertxSecurityDomainHandler.java
  gravitee-am-gateway/gravitee-am-gateway-reactor/src/main/java/io/gravitee/am/gateway/reactor/impl/DefaultReactor.java
  gravitee-am-ui/src/app/domain/authorization-engines/sidecar/sidecar.component.html
  gravitee-am-ui/src/app/domain/authorization-engines/sidecar/sidecar.component.ts
Due: run-container-test, run_ui_tests

chore: upgrade testcontainers v2
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/pom.xml
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/java/io/gravitee/am/dataplane/api/repository/test/testcontainers/DatabaseUrlProvider.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/java/io/gravitee/am/dataplane/api/repository/test/testcontainers/MariaR2DBCContainer.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/java/io/gravitee/am/dataplane/api/repository/test/testcontainers/MssqlR2DBCContainer.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/java/io/gravitee/am/dataplane/api/repository/test/testcontainers/MysqlR2DBCContainer.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/java/io/gravitee/am/dataplane/api/repository/test/testcontainers/PostgresR2DBCContainer.java
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/pom.xml
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/test/java/io/gravitee/am/dataplane/api/repository/test/MongodbProvider.java
  gravitee-am-identityprovider/gravitee-am-identityprovider-jdbc/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-jdbc/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/tool/DatabaseUrlProvider.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/tool/MariaR2DBCContainer.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/tool/MssqlR2DBCContainer.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/tool/MysqlR2DBCContainer.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/tool/PostgresR2DBCContainer.java
  gravitee-am-reporter/gravitee-am-reporter-kafka/pom.xml
  gravitee-am-reporter/gravitee-am-reporter-kafka/src/test/java/io/gravitee/am/reporter/kafka/JUnitConfiguration.java
  gravitee-am-reporter/gravitee-am-reporter-kafka/src/test/java/io/gravitee/am/reporter/kafka/SchemaRegistryContainer.java
  gravitee-am-reporter/gravitee-am-reporter-kafka/src/test/java/io/gravitee/am/reporter/kafka/audit/KafkaAuditReporterITests.java
  gravitee-am-reporter/gravitee-am-reporter-kafka/src/test/java/io/gravitee/am/reporter/kafka/audit/KafkaAuditReporterWithSchemaRegistryITests.java
  gravitee-am-repository/gravitee-am-repository-jdbc/pom.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/DatabaseUrlProvider.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/MariaR2DBCContainer.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/MssqlR2DBCContainer.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/MysqlR2DBCContainer.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/PostgresR2DBCContainer.java
  gravitee-am-repository/gravitee-am-repository-mongodb/pom.xml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/MongodbProvider.java
  pom.xml
Due: run-container-test

chore(ci): regenerate package-lock.json
  release/package-lock.json
Due: none

fix: use constants for db image tags
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/java/io/gravitee/am/dataplane/api/repository/test/testcontainers/DatabaseUrlProvider.java
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/test/java/io/gravitee/am/dataplane/api/repository/test/MongodbProvider.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/tool/DatabaseUrlProvider.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/DatabaseUrlProvider.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/test/java/io/gravitee/am/repository/mongodb/MongodbProvider.java
Due: run-container-test

fix: resolve conflict on pom for adding testcontainers v2
  pom.xml
Due: run-container-test

fix: AM-514 make console user search case-insensitive for JDBC and MongoDB backends
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/dialect/AbstractDialectHelper.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/dialect/PostgresqlHelper.java
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/repository/JdbcUserRepository.java
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/java/io/gravitee/am/dataplane/mongodb/repository/MongoUserRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/AbstractDialectHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/PostgresqlHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcOrganizationUserRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcUserRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/AbstractUserRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/UserRepositoryTest.java
Due: run-container-test

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
