Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix(aauth): resolve Client from DB in consent POST to persist ScopeApproval
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthConsentPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthConsentPostEndpointTest.java
Due: none

feat(aauth): add domain-level AAUTH settings
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/AAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/token/AAuthTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/token/AAuthTokenServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AbstractDomainResource.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/DefaultRoleUpgrader.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/OrganizationRolesUpgrader.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Domain.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/aauth/AAuthSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/permissions/Permission.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcDomain.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/AAuthSettingsConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-add-domains-aauth-settings.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/DomainMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/aauth/AAuthSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/DomainRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchDomain.java
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/settings/aauth/aauth.component.html
  gravitee-am-ui/src/app/domain/settings/aauth/aauth.component.ts
  gravitee-am-ui/src/app/services/domain.service.ts
Due: run-container-test, run_ui_tests

feat(aauth): enhance consent
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/pom.xml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthConsentHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthInteractionResolveHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/pending/AAuthPendingRequestService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/registry/AAuthAgentRegistryImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/util/MarkdownSanitizer.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/manual/AAuthTokenEndpointManualTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/pending/AAuthPendingRequestServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/util/MarkdownSanitizerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/RedirectHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/aauth_consent.html
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oidc/model/AAuthPendingRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/aauth/model/JdbcAAuthPendingRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth/changelogs/v4_12_0/4.12.0-aauth-pending-requests.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/MongoAAuthPendingRequestRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/internal/model/AAuthPendingRequestMongo.java
  pom.xml
Due: run-container-test

feat(aauth): add deferred authorization with pending request store
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/AAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/model/PendingRequestStatus.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPendingEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/pending/AAuthPendingRequestService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/manual/AAuthTokenEndpointManualTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPendingEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/pending/AAuthPendingRequestServiceTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oidc/api/AAuthPendingRequestRepository.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oidc/model/AAuthPendingRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/aauth/JdbcAAuthPendingRequestRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/aauth/model/JdbcAAuthPendingRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth-master.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth/changelogs/v4_12_0/4.12.0-aauth-pending-requests.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/MongoAAuthPendingRequestRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/internal/model/AAuthPendingRequestMongo.java
Due: run-container-test

feat(aauth): add clarification chat, agent cancel, and improved replay detection
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/AAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/model/PendingRequestStatus.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthConsentPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPendingDeleteEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPendingEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPendingPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthConsentHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/pending/AAuthPendingRequestService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/AAuthSignatureVerifier.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/ReplayDetector.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/manual/AAuthTokenEndpointManualTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPendingEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/pending/AAuthPendingRequestServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/signing/ReplayDetectorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/aauth_consent.html
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oidc/model/AAuthPendingRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/aauth/model/JdbcAAuthPendingRequest.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/oauth/changelogs/v4_12_0/4.12.0-aauth-clarification.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/MongoAAuthPendingRequestRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/internal/model/AAuthPendingRequestMongo.java
Due: run-container-test

feat(aauth): add PS token endpoint (POST /aauth/token)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/AAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/model/AAuthTokenRequest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/model/AAuthTokenResponse.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthTokenRequestParseHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/AgentMetadataFetcher.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/token/AAuthTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/token/ResourceTokenClaims.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/token/ResourceTokenException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/token/ResourceTokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/manual/AAuthTokenEndpointManualTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthTokenRequestParseHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/token/AAuthTokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/token/ResourceTokenValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/test/fixtures/MockResourceServer.java
Due: none

feat(aauth): add user interaction flow with consent screen
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/AAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthConsentPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPendingEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthConsentHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthConsentRedirectHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthErrorHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthInteractionResolveHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/consent/AAuthConsentService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/pending/AAuthPendingRequestService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/pending/PendingRequestNotFoundException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/util/AAuthKeyUtils.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/manual/AAuthTokenEndpointManualTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthConsentPostEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthInteractionResolveHandlerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/pending/AAuthPendingRequestServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/test/fixtures/MockAgentMetadataServer.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/test/fixtures/TestSignatureBuilder.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/impl/RedirectHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/resources/webroot/views/aauth_consent.html
  gravitee-am-model/src/main/java/io/gravitee/am/model/Template.java
Due: none

feat(aauth): add JWT signature scheme, agent identifiers, and auth token signing
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthConsentPostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthJWKSEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthAgentResolveHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/handler/AAuthConsentHandler.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/registry/AAuthAgentRegistry.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/registry/AAuthAgentRegistryImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/token/AAuthTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/token/ResourceTokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/AAuthSignatureVerifier.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/SignatureVerificationException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/VerificationResult.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/JWKSUriScheme.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/JWTScheme.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/JwkKeyConverter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/ResolvedKey.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/manual/AAuthTokenEndpointManualTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthPendingEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/registry/AAuthAgentRegistryImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/token/AAuthTokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/token/ResourceTokenValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/JWTSchemeTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/signing/schemes/JwkKeyConverterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/test/fixtures/TestAgentTokenBuilder.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/test/fixtures/TestSignatureBuilder.java
  gravitee-am-jwt/src/main/java/io/gravitee/am/jwt/DefaultJWTBuilder.java
  gravitee-am-jwt/src/main/java/io/gravitee/am/jwt/JWTBuilder.java
Due: none

feat(aauth): build demo plan
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/17-mcp-demo.md
Due: none

feat(aauth): add default identity providers for auto-registered agents
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/service/registry/AAuthAgentRegistryImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/service/registry/AAuthAgentRegistryImplTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/aauth/AAuthSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoDomainRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/aauth/AAuthSettingsMongo.java
  gravitee-am-ui/src/app/domain/settings/aauth/aauth.component.html
  gravitee-am-ui/src/app/domain/settings/aauth/aauth.component.ts
Due: run-container-test, run_ui_tests

feat(aauth): short-circuit token endpoint to 200 when prior consent exists
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/main/java/io/gravitee/am/gateway/handler/aauth/spring/AAuthConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/src/test/java/io/gravitee/am/gateway/handler/aauth/resources/endpoint/AAuthTokenEndpointTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/oidc/api/AAuthBootstrapBindingRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/aauth/JdbcAAuthBootstrapBindingRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/oauth2/MongoAAuthBootstrapBindingRepository.java
Due: run-container-test

docs(aauth): add plan markdonw files
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/00-overview.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/01-plugin-scaffold-and-metadata.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/02-http-message-signatures.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/03-agent-identity-jwks.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/04-agent-application-lifecycle.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/05-management-ui.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/06-autonomous-authorization.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/07-domain-model-settings.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/08-deferred-authorization.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/08b-deferred-authorization-enhancements.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/09-jwt-scheme-agent-tokens.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/10-clarification-chat.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/11-bootstrap.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/12-token-exchange.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/13-permission-endpoint.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/14-missions.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/15-re-authorization.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/16-e2e-tests.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/17-mcp-demo.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/agent-modeling.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/resources/agent-enrollment-oidc.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/resources/agent-enrollment.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/specs/draft-hardt-aauth-bootstrap.md
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/specs/draft-hardt-aauth-headers-00_2026-04-02.txt
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/specs/draft-hardt-aauth-protocol-00_2026-04-02.txt
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/specs/draft-hardt-aauth-protocol-01.txt
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-aauth/plans/aauth-implementation/specs/draft-hardt-httpbis-signature-key-02_2026-04-02.txt
Due: none

fix: enable template toggle when CIMD is disabled
  gravitee-am-ui/src/app/domain/applications/application/advanced/general/general.component.ts
Due: run_ui_tests

feat: add expands query parameter to applications list endpoint
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/ApplicationExpand.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
Due: none

feat: userinfo profile custom claims
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/EvaluableJWT.java
  gravitee-am-common/src/test/java/io/gravitee/am/common/jwt/EvaluableJWTTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/el/ExecutionContextTokenEnhancer.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/OIDCProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/resources/endpoint/UserInfoEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/el/ExecutionContextTokenEnhancerTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/resources/endpoint/UserInfoEndpointHandlerTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/UserInfoClaim.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationOAuthSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/application/ApplicationOAuthSettingsTest.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationOAuthSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ClientMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/UserInfoClaimMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationOAuthSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/model/PatchApplicationTest.java
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/oauth2.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/application-tokens.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/application-tokens.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/application-tokens.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/claims/add-userinfo-claim.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/oauth2/tokens/dialog/claims-info.component.html
Due: run-container-test, run_ui_tests

chore: build gamma branch and push images to Azure registry
  .circleci/workflows.yml
  pom.xml
Due: run-container-test

feat: enabled gitops deploy for gamma
  .circleci/scripts/gitops-deploy.sh
  .circleci/workflows.yml
Due: none

chore: PR refactor, clean up comments and regen SDK
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Application.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/elasticsearch/index/audit.ftl
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/models/AgentSettings.ts
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/ApplicationAdvancedSettings.ts
  gravitee-am-test/api/management/models/ApplicationSAMLSettings.ts
  gravitee-am-test/api/management/models/ApplicationSettings.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationAdvancedSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationSAMLSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/user-embedded-pkce.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/fixtures/mfa-type-mismatch-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: run-container-test

refactor: route agent assertions via jwt-bearer URN and propagate grant types
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/user-embedded-pkce.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

fix: address PR review feedback for agent identity
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/DynamicClientRegistrationServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
Due: none

feat: add read-only /applications/agents endpoint with agent_applications side table
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/AgentApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/AgentApplicationsResourceTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/ApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/application/SpringApplicationAgentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-agent-applications-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ApplicationService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

feat: integrate CIMD client metadata document for agent identity
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCache.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataDocument.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataFetcher.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCacheTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

feat: add workload-jwt client assertion for agent instances
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientBasicAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
Due: none

feat: add blueprint agent identity model, persistence, and JWKS endpoints
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentType.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationAdvancedSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationAdvancedSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationAdvancedSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
Due: run-container-test

test: fix blueprint-agents jwks payload and set private_key_jwt for workload-jwt flows
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

feat: emit client_profile claim, validate JWKS uploads, address workload-jwt review
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

feat: add agent support to DCR, app creation, and act claim
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-test/specs/gateway/mfa/fixtures/mfa-type-mismatch-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.html
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
Due: run_ui_tests

chore: remove agent keys in favor of existing JWKS
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapper.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationAgentKeysResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/ApplicationAgentKeysResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentJwkMapperTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/BlueprintAgentService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.scss
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/services/application-agent-keys.service.ts
Due: run-container-test, run_ui_tests

refactor(ui): collapse AgentSettings into OAuth and polish agent form
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/BlueprintAgentServiceImplTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/add-dialog/agent-key-add-dialog.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent-keys/agent-keys.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
Due: run-container-test, run_ui_tests

fix: TCP reporter race; refactor: SSRF pluggability; test alignment
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporter.java
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
Due: run-container-test

feat: add agent identity audit events and enrichment
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/BlueprintAgentServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
Due: none

refactor: return full Application from /applications/agents instead of projection DTO
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/AgentApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/AgentApplicationsResourceTest.java
Due: none

test: drop blueprintClientId references in blueprint-agent jest specs
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
Due: none

chore: regen management API SDK for listAgentApplications
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/ApplicationApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/models/Advanced.ts
  gravitee-am-test/api/management/models/AgentApplication.ts
  gravitee-am-test/api/management/models/AgentApplicationPage.ts
  gravitee-am-test/api/management/models/OAuth.ts
  gravitee-am-test/api/management/models/Settings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

refactor: consolidate CIMD lookup; fix: gate jwt-bearer on configured auth method
  docs/mapi/openapi.yaml
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCache.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataDocument.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataFetcher.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/provider/ClientAssertionAuthProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/CIMDMetadataCacheTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/SSRFValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/cimd/impl/CIMDMetadataFetcherImplTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationType.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/java/io/gravitee/am/reporter/tcp/audit/TcpAuditReporter.java
  gravitee-am-reporter/gravitee-am-reporter-tcp/src/main/resources/elasticsearch/index/audit.ftl
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/DomainRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/CIMDAuditBuilderTest.java
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
Due: run-container-test, run_ui_tests

chore(openapi): add listAgentApplications operation and schemas
  docs/mapi/openapi.yaml
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
