Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

chore: align OpenAPI spec version pre and post release
  .circleci/scripts/oas-staleness-check.sh
  .circleci/workflows.yml
  docs/mapi/openapi.yaml
  scripts/regen-oas.sh
Due: none

chore: remove unused AGENT_AUTHENTICATED audit type
  gravitee-am-common/src/main/java/io/gravitee/am/common/audit/EventType.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/reporter/builder/AgentAuditBuilderTest.java
Due: none

refactor: model agent applications via ApplicationType.AGENT and AgentType profile
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/DynamicClientRegistrationServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/AgentApplicationsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Application.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationAdvancedSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationType.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/oidc/Client.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationAdvancedSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/application/ApplicationAgentTemplate.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/application/DefaultApplicationTemplateManager.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationAdvancedSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientAuthAuditBuilder.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

refactor: drop dedicated agent persistence; collapse into Application
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/application/SpringApplicationAgentRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/spring/application/SpringApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-drop-agent-applications-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
Due: run-container-test

fix: new sessions should be MFA challenged by ACTIVATED factors (POST fix)
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/RootProvider.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeGetEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengePostEndpoint.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengeGetEndpointTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/root/resources/endpoint/mfa/MFAChallengePostEndpointTest.java
Due: none

refactor(api): drop dedicated agent endpoints; filter applications by type
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/AgentApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/AgentApplicationsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

feat: introduce agent-jwt-bearer client assertion type
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none

test: add coverage for mutual-TLS authentication
  gravitee-am-test/api/config/dev.setup.js
  gravitee-am-test/specs/gateway/token-auth-methods/fixtures/mtls-auth-fixture.ts
  gravitee-am-test/specs/gateway/token-auth-methods/mtls-auth.jest.spec.ts
Due: none

fix(dcr): permit blueprint id as software_id; reject agent app marked as template
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/impl/DynamicClientRegistrationServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/clientregistration/DynamicClientRegistrationServiceTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: none

refactor: emit ai_agent in client_profile claim per RFC draft
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
Due: none

feat: emit sub_profile and propagate through act delegation chain
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/ActorTokenInfo.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
Due: none

refactor(ui): replace agentIdentityMode toggle with application type/profile
  gravitee-am-ui/src/app/domain/applications/applications.component.html
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
  gravitee-am-ui/src/app/services/application.service.ts
Due: run_ui_tests

fix: agent defaults set response_types so authorization_code survives validation
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

test(gateway): integration coverage for agent identity refactor
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/agent-auth-errors.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/autonomous-client-creds-token-exchange.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/hosted-delegated-workload-jwt.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/flows/user-embedded-pkce.jest.spec.ts
  gravitee-am-test/specs/gateway/blueprint-agents/workload-jwt-assertion.jest.spec.ts
Due: none

test(management): integration coverage for application type filter + agent fixtures
  gravitee-am-test/specs/management/agent-applications/agent-applications.jest.spec.ts
  gravitee-am-test/specs/management/agent-applications/fixtures/agent-applications-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

chore: regen oas and sdk
  docs/mapi/openapi.yaml
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/ApplicationApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/ApplicationAdvancedSettings.ts
  gravitee-am-test/api/management/models/FilteredApplication.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationAdvancedSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationType.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

fix: require redirect_uris for USER_EMBEDDED and HOSTED_DELEGATED agents
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: none

chore: drop agent_applications liquibase changesets (table never released)
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-agent-applications-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-drop-agent-applications-table.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
Due: run-container-test

refactor(ui): drop agent chip from list view; freshen agent settings copy
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.html
  gravitee-am-ui/src/app/domain/applications/applications.component.html
  gravitee-am-ui/src/app/domain/applications/applications.component.scss
Due: run_ui_tests

chore: align legacy 'blueprint agent' / 'agent identity' wording with type=AGENT
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/reporter/builder/ClientTokenAuditBuilder.java
Due: none

refactor: extract cert utils
  gravitee-am-test/api/utils/certificate-utils.ts
  gravitee-am-test/specs/gateway/token-auth-methods/fixtures/mtls-auth-fixture.ts
  gravitee-am-test/specs/gateway/token-auth-methods/mtls-auth.jest.spec.ts
Due: none

refactor(ui): remove agents-only toggle from applications list
  gravitee-am-ui/src/app/domain/applications/applications.component.html
  gravitee-am-ui/src/app/domain/applications/applications.component.ts
  gravitee-am-ui/src/app/services/application.service.ts
Due: run_ui_tests

refactor: generalize application listing to filter by any ApplicationType
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/ApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/AbstractDialectHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/DatabaseDialectHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/PostgresqlHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/ApplicationService.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: run-container-test

test: update application tests for generalized type filter
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

fix: enforce AgentApplicationConstraints and remove AGENT_JWT_BEARER from discovery
  gravitee-am-common/src/main/java/io/gravitee/am/common/oidc/ClientAuthenticationMethod.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: none

fix: apply FAPI signing-algorithm check to agent JWT assertions
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/ClientAssertionServiceTest.java
Due: none
