Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: make resource-server edition discoverable and fit the row
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.ts
Due: run_ui_tests

fix: edit XAA resource servers in place in the Console
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.html
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.scss
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/trust-domains/form/trust-domain-form.component.ts
Due: run_ui_tests

fix: leave a data plane untouched when a PUT replays its stored settings
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

test: expect a data plane replay to keep its updatedAt
  gravitee-am-test/specs/management/automation/dataplanes.jest.spec.ts
Due: none

docs: trim the data plane replay comments
  gravitee-am-service/src/main/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoader.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/DataPlaneDefinitionServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/DataPlaneDefinitionServiceTest.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/dataplane/ProvisionedDataPlaneLoaderTest.java
Due: none

fix(xaa): add ID-JAG lax mode to token exchange settings
  docs/automation/openapi.yaml
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/IdJagSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/TokenExchangeSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/IdJagSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/TokenExchangeSettingsMongo.java
  gravitee-am-test/api/management/models/IdJagSettings.ts
  gravitee-am-test/api/management/models/TokenExchangeSettings.ts
  gravitee-am-test/api/management/models/index.ts
  gravitee-am-test/specs/gateway/token-exchange/fixtures/id-jag-fixture.ts
  gravitee-am-test/specs/gateway/token-exchange/id-jag-issuance.jest.spec.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.html
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.scss
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.spec.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange-settings/token-exchange-settings.component.ts
  gravitee-am-ui/src/app/domain/settings/oauth/token-exchange/token-exchange.types.ts
Due: run-container-test, run_ui_tests

fix: fail startup when the Liquibase migration fails
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/java/io/gravitee/am/dataplane/jdbc/spring/AbstractRepositoryConfiguration.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/AbstractRepositoryConfiguration.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/AbstractRepositoryConfigurationTest.java
Due: run-container-test

fix: keep the cert_credentials subject index under the MySQL key limit
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/resources/liquibase/changelogs/v4_10_0/4.10.0-dataplane-cert-credentials-table.yml
Due: run-container-test

fix: show the data plane id beside its name in the Console
  gravitee-am-ui/src/app/domain/creation/domain-creation.component.html
  gravitee-am-ui/src/app/domain/settings/general/general.component.ts
Due: run_ui_tests

feat: pep groovy policy tests
  gravitee-am-test/api/commands/management/idp-management-commands.ts
  gravitee-am-test/specs/gateway/pep-groovy/fixtures/enterprise-idp-fixture.ts
  gravitee-am-test/specs/gateway/pep-groovy/fixtures/pep-policy.groovy
  gravitee-am-test/specs/gateway/pep-groovy/pep-groovy.jest.spec.ts
Due: none

test: mock the sweeper provider interface so the purge targets test compiles
  gravitee-am-service/src/test/java/io/gravitee/am/service/purge/ScheduledPurgeServiceTargetsTest.java
Due: none

fix(xaa): expose the resolved ID-JAG target to TOKEN policies and claims
  gravitee-am-common/src/main/java/io/gravitee/am/common/utils/ConstantKeys.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/policy/DefaultRulesEngine.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/policy/RulesEngine.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/policy/RulesEngineTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapter.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2Request.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/IdJagTarget.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/StrategyGranterAdapterTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/request/OAuth2RequestTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImplTest.java
  gravitee-am-test/specs/gateway/token-exchange/id-jag-identity.jest.spec.ts
Due: none

chore(mergify): update config before code freeze
  .gitignore
  .mergify.yml
Due: none

fix: isolate scheduled purge targets so one failure does not abort the rest
  gravitee-am-service/src/main/java/io/gravitee/am/service/purge/ScheduledPurgeService.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/purge/ScheduledPurgeServiceTargetsTest.java
Due: none

fix: keep valid purge exclusions when an entry is unknown or has spaces
  gravitee-am-service/src/main/java/io/gravitee/am/service/purge/ScheduledPurgeServiceFactory.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/purge/ScheduledPurgeServiceTargetsTest.java
Due: none

chore(release): bump AM version in the chart
  helm/CHANGELOG.md
  helm/Chart.yaml
Due: none

fix(test): avoid invalid mock call
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/grant/impl/ExtensionGrantStrategyIdJagRedemptionTest.java
Due: none

fix: confirm a provisioned data plane still exists for the environment before binding a new domain to it
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none

fix(mapi): scope the environment data plane list to the environment
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/DataPlanesResource.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/DomainService.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/test/java/io/gravitee/am/management/service/impl/DomainServiceTest.java
Due: none
