Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

fix: for jdbc, parent_jti_12 can not be jti of the token
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/oauth2/api/JdbcTokenRepository.java
Due: run-container-test

feat: token flow for service app
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/domain/applications/application/design/design.component.ts
  gravitee-am-ui/src/app/domain/applications/application/design/flows/flows.component.ts
Due: run_ui_tests

chore: scope management tests
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/GroupMembersResource.java
  gravitee-am-test/api/commands/management/group-management-commands.ts
  gravitee-am-test/api/commands/management/scope-management-commands.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/apis/GroupApi.ts
  gravitee-am-test/specs/management/scope-management/fixtures/scope-management-fixture.ts
  gravitee-am-test/specs/management/scope-management/scope-crud.jest.spec.ts
  gravitee-am-test/specs/management/scope-management/scope-fields.jest.spec.ts
  gravitee-am-test/specs/management/scope-management/scope-listing-discovery.jest.spec.ts
  gravitee-am-test/specs/management/user-management-app/fixtures/user-management-app-fixture.ts
  gravitee-am-test/specs/management/user-management-app/user-mgmt-app-auth.jest.spec.ts
  gravitee-am-test/specs/management/user-management-app/user-mgmt-app-groups.jest.spec.ts
  gravitee-am-test/specs/management/user-management-app/user-mgmt-app-roles.jest.spec.ts
  gravitee-am-test/specs/management/user-management-app/user-mgmt-app-users.jest.spec.ts
Due: none

fix: provide compliant token exchange error
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/exception/TokenVerificationException.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/TokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DefaultTokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DomainTokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenValidationUtils.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerTokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DefaultTokenValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DomainTokenValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenValidationUtilsTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerTokenValidatorTest.java
  gravitee-am-test/specs/gateway/token-exchange/token-exchange.jest.spec.ts
Due: none

chore: add OpenAPI spec validation checks
  .circleci/scripts/_compat_common.sh
  .circleci/scripts/ee-schema-compat-check.sh
  .circleci/scripts/oas-compat-check.sh
  .circleci/scripts/oas-staleness-check.sh
  .circleci/scripts/schema-compat-check.sh
  .circleci/workflows.yml
  .oasdiff-version
  AGENTS.md
  docs/agent-standards/cursor-rules/20-safety-security.mdc
  docs/agent-standards/skills/check-oas/SKILL.md
  docs/agent-standards/skills/check-schemas/SKILL.md
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/swagger/GraviteeApiDefinition.java
  scripts/regen-oas.sh
Due: run-container-test

chore: add OpenAPI spec validation checks
  .circleci/scripts/_compat_common.sh
  .circleci/scripts/ee-schema-compat-check.sh
  .circleci/scripts/oas-compat-check.sh
  .circleci/scripts/oas-staleness-check.sh
  .circleci/scripts/schema-compat-check.sh
  .circleci/workflows.yml
  .oasdiff-version
  AGENTS.md
  docs/agent-standards/cursor-rules/20-safety-security.mdc
  docs/agent-standards/skills/check-oas/SKILL.md
  docs/agent-standards/skills/check-schemas/SKILL.md
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/swagger/GraviteeApiDefinition.java
  pom.xml
  scripts/regen-oas.sh
Due: run-container-test

chore: align error codes
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/TrustedIssuerResolver.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DomainTokenValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeUserResolverImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerResolverImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/DomainTokenValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeServiceImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TokenExchangeUserResolverImplTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/tokenexchange/impl/TrustedIssuerResolverImplTest.java
  gravitee-am-test/specs/gateway/token-exchange/token-exchange-revoke-delegation.spec.ts
  gravitee-am-test/specs/gateway/token-exchange/trusted-issuers.jest.spec.ts
Due: none

chore: add OpenAPI spec validation checks
  .circleci/scripts/_compat_common.sh
  .circleci/scripts/ee-schema-compat-check.sh
  .circleci/scripts/oas-compat-check.sh
  .circleci/scripts/oas-staleness-check.sh
  .circleci/scripts/schema-compat-check.sh
  .circleci/workflows.yml
  .oasdiff-version
  AGENTS.md
  docs/agent-standards/skills/check-oas/SKILL.md
  docs/agent-standards/skills/check-schemas/SKILL.md
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/swagger/GraviteeApiDefinition.java
  pom.xml
  scripts/regen-oas.sh
Due: run-container-test

test: add SpyUserContext test helper for Vert.x 5
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/vertx/web/handler/SpyUserContext.java
Due: none

chore: update CI and local stack config for Vert.x 5
  .circleci/workflows.yml
  docker/local-stack/package.json
Due: none

chore: use existing groovy version
  pom.xml
Due: run-container-test

fix: version settings for gravitee-exchange to support cockpit
  gravitee-am-management-api/gravitee-am-management-api-service/pom.xml
  pom.xml
Due: run-container-test

test: update Jest integration tests for Vert.x 5
  gravitee-am-test/api/commands/utils/idps-commands.ts
  gravitee-am-test/api/config/ci.setup.js
  gravitee-am-test/playwright/tests/auth/webauthn/webauthn-device-recognition.spec.ts
  gravitee-am-test/specs/gateway/magic-link.spec.ts
  gravitee-am-test/specs/management/magic-link/magic-link-settings.jest.spec.ts
  gravitee-am-test/specs/management/user-management-app/fixtures/user-management-app-fixture.ts
  gravitee-am-test/specs/management/user-management-app/user-mgmt-app-auth.jest.spec.ts
Due: none

fix: use host instead of authority in server request
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/core/http/VertxHttpServerRequest.java
Due: none

refactor: add new Vert.x 5 helper classes
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/vertx/web/RoutingContextHelper.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/http/PoolOptionsBuilder.java
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
