Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

chore: update saml2-idp version
  pom.xml
Due: run-container-test

fix: prevent domains from being silently dropped during gateway startup sync
  gravitee-am-gateway/gravitee-am-gateway-services/gravitee-am-gateway-services-sync/src/main/java/io/gravitee/am/gateway/services/sync/SyncManager.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/main/java/io/gravitee/am/gateway/event/EventManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/src/test/java/io/gravitee/am/gateway/event/EventManagerTest.java
Due: none

fix: run missing migrations in gateway upgrader
  docker/local-stack/dev/docker-compose.images.yml
  docker/local-stack/dev/docker-compose.mongo.yml
  docker/local-stack/dev/docker-compose.postgres.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/AbstractRepositoryConfiguration.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/AbstractRepositoryConfigurationTest.java
  helm/templates/gateway/gateway-upgrader-job.yaml
  helm/tests/gateway/gateway_upgrader_test.yaml
  helm/values.yaml
Due: run-container-test

fix: fixed mssql testcontainer
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/test/java/io/gravitee/am/dataplane/api/repository/test/testcontainers/MssqlR2DBCContainer.java
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/test/java/io/gravitee/am/reporter/jdbc/tool/MssqlR2DBCContainer.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/test/java/io/gravitee/am/repository/jdbc/common/MssqlR2DBCContainer.java
Due: run-container-test

fix: removed duplicated class AbstractMongoRepository
  gravitee-am-repository/gravitee-am-repository-mongodb-api/src/main/java/io/gravitee/am/repository/mongodb/common/AbstractMongoRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/common/AbstractMongoRepository.java
  gravitee-am-test/api/commands/management/organisation-user-commands.ts
  gravitee-am-test/specs/management/organisation.users.jest.spec.ts
Due: run-container-test

feat: migration tool seeding
  .circleci/config.yml
  .circleci/workflows-migration.yml
  .gitignore
  gravitee-am-test/migration-seeding/bootstrap.test.ts
  gravitee-am-test/migration-seeding/bootstrap.ts
  gravitee-am-test/migration-seeding/seed.ts
  gravitee-am-test/migration-seeding/versions/4.10/seed.ts
  gravitee-am-test/migration-seeding/versions/4.11/seed.ts
  gravitee-am-test/migration-seeding/versions/4.12/seed.ts
  gravitee-am-test/package.json
  gravitee-am-test/specs/migration/fixture/gateway-fixture.ts
  gravitee-am-test/specs/migration/gateway.jest.spec.ts
  gravitee-am-test/specs/migration/mapi-data.jest.spec.ts
  scripts/migration-tool/README.md
  scripts/migration-tool/env/k8s/am/am-mongodb-common.yaml
  scripts/migration-tool/env/k8s/db/db-mongodb.yaml
  scripts/migration-tool/index.mjs
  scripts/migration-tool/lib/CircleCI.mjs
  scripts/migration-tool/lib/Orchestrator.mjs
  scripts/migration-tool/lib/core/SeedWorktree.mjs
  scripts/migration-tool/lib/core/VersionResolver.mjs
  scripts/migration-tool/lib/infra/LogScanner.mjs
  scripts/migration-tool/lib/infra/kubernetes/Helm.mjs
  scripts/migration-tool/lib/infra/kubernetes/Kubectl.mjs
  scripts/migration-tool/lib/providers/K8sProvider.mjs
  scripts/migration-tool/lib/strategies/database/MongoK8sStrategy.mjs
  scripts/migration-tool/lib/strategies/database/PostgresK8sStrategy.mjs
  scripts/migration-tool/test/unit/Helm.test.mjs
  scripts/migration-tool/test/unit/K8sProvider.test.mjs
  scripts/migration-tool/test/unit/Kubectl.test.mjs
  scripts/migration-tool/test/unit/LogScanner.test.mjs
  scripts/migration-tool/test/unit/MongoK8sStrategy.test.mjs
  scripts/migration-tool/test/unit/Orchestrator.test.mjs
  scripts/migration-tool/test/unit/PostgresK8sStrategy.test.mjs
  scripts/migration-tool/test/unit/VersionResolver.test.mjs
Due: none

feat: leverage console.ui.url for default redirect_uri
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/authentication/filter/CheckRedirectionCookieFilter.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/authentication/provider/generator/RedirectCookieGenerator.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/spring/security/filter/AuthSecurityConfiguration.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/authentication/filter/CheckRedirectionCookieFilterTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/authentication/provider/generator/RedirectCookieGeneratorTest.java
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-distribution/src/main/resources/config/gravitee.yml
  helm/templates/api/api-configmap.yaml
  helm/tests/api-configmap_test.yaml
  helm/values.yaml
Due: none

feat: add flow management for MCP servers
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/flow/FlowManagerTest.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResourceTest.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/DefaultRoleUpgrader.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/permissions/Permission.java
  gravitee-am-test/api/commands/management/protected-resources-management-commands.ts
  gravitee-am-test/specs/gateway/protected-resources/protected-resource-token-flow.jest.spec.ts
  gravitee-am-test/specs/management/fixtures/protected-resource-flows-fixture.ts
  gravitee-am-test/specs/management/protected-resource-flows.jest.spec.ts
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/applications/application/design/flows/flows.component.spec.ts
  gravitee-am-ui/src/app/domain/applications/application/design/flows/flows.component.ts
  gravitee-am-ui/src/app/resolvers/mcp-server-flows.resolver.spec.ts
  gravitee-am-ui/src/app/resolvers/mcp-server-flows.resolver.ts
  gravitee-am-ui/src/app/services/protected-resource.service.ts
Due: run_ui_tests

feat: pulsar suggestions
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResourceTest.java
  gravitee-am-test/api/commands/management/protected-resources-management-commands.ts
  gravitee-am-test/specs/gateway/protected-resources/protected-resource-token-flow.jest.spec.ts
  gravitee-am-test/specs/management/fixtures/protected-resource-flows-fixture.ts
  gravitee-am-test/specs/management/protected-resource-flows.jest.spec.ts
Due: none

chore: bump plugins version to final release to avoid alpha
  pom.xml
Due: run-container-test

feat(authdevice-notifier): notifier capabilities + gateway-provided callbackUrl
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/AuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/ADNotificationRequest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/ADUserResponse.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/FederatedConnection.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/main/java/io/gravitee/am/authdevice/notifier/api/model/NotifierCapability.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/AuthenticationDeviceNotifierProviderTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/ADNotificationRequestTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/ADUserResponseTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-api/src/test/java/io/gravitee/am/authdevice/notifier/api/model/NotifierCapabilityTest.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-http/src/main/java/io/gravitee/am/authdevice/notifier/http/provider/HttpAuthenticationDeviceNotifierProvider.java
  gravitee-am-authdevice-notifier/gravitee-am-authdevice-notifier-http/src/test/java/io/gravitee/am/authdevice/notifier/http/provider/HttpAuthenticationDeviceNotifierProviderTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/AuthenticationDeviceNotifierManager.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/test/java/io/gravitee/am/gateway/handler/manager/authdevice/notifier/impl/AuthenticationDeviceNotifierManagerImplTest.java
Due: none

chore(dep): bump gravitee-bom tp 9.0.2 to fix jackson cve
  pom.xml
Due: run-container-test

chore(dep): bump gravitee-bom tp 8.3.64 to fix jackson cve
  pom.xml
Due: run-container-test

chore: extract common utils
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationFlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/FlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ProtectedResourceFlowsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/utils/FlowUtils.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/utils/FlowUtilsTest.java
Due: none

feat: added IPV4_ONLY env var for management-ui
  docker/management-ui/Dockerfile
  docker/management-ui/Dockerfile-dev
  docker/management-ui/config/check_ip_config.sh
  docker/management-ui/config/default.no-ipv6.conf
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
