Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

.circleci/config.yml:

version: 2.1
setup: true

parameters:
  gio_action:
    type: enum
    enum:
      [
        release,
        publish_rpms,
        publish_docker_images,
        pull_requests,
        release_notes_am,
        publish_maven_central,
        release_helm,
        publish-images-azure-registry,
        release-version,
        release-alpha-version,
        release-hotfix-version,
      ]
    default: pull_requests
  gio_product:
    type: enum
    enum: [am_v3, none]
    default: none
  dry_run:
    type: boolean
    default: true
    description: "Run in dry run mode?"
  rc_requested:
    type: boolean
    default: false
    description: "Do we have to release a RC"
  maven_profile_id:
    type: string
    default: "gravitee-dry-run"
    description: "Maven ID of the Maven profile to use for a dry run ?"
  secrethub_org:
    type: string
    default: "gravitee-lab"
    description: "SecretHub Org to use to fetch secrets ?"
  secrethub_repo:
    type: string
    default: "cicd"
    description: "SecretHub Repo to use to fetch secrets ?"
  graviteeio_version:
    type: string
    default: "cicd"
    description: "Release version number to use to publish the Docker nightly images ?"
  run-container-test:
    type: boolean
    default: false
  prune:
    type: boolean
    default: false
    description: "Do you want to [docker system prune -f --all] ? (clean up all cached docker images)"
  tag_latest:
    type: boolean
    default: false
    description: "Is this latest version of the Product ?"
  tag_latest_support:
    type: boolean
    default: true
    description: "Is this a latest support version of the Product ? (if so minor version tagging docker images). True by default."
  hotfix_version:
    type: boolean
    default: false
    description: "Is this a hotfix?"
  create_maintenance_version_branch:
    type: boolean
    default: false
    description: "Creates maintenance version branch"
  run_ui_tests:
    type: boolean
    default: true
    description: "Runs UI jest tests + Lint"
  # Migration test (trigger via API; setup continues with .circleci/workflows-migration.yml when set)
  migration_test_from_tag:
    type: string
    default: ""
  migration_test_to_tag:
    type: string
    default: ""
  migration_test_db_type:
    type: string
    default: ""
  migration_test_provider:
    type: string
    default: "k8s"
  migration_test_filter:
    type: string
    default: ""
  migration_test_with_downgrade:
    type: string
    default: "true"

orbs:
  path-filtering: circleci/path-filtering@0.0.2
  continuation: circleci/continuation@2.0.1

jobs:
  # Wrapper so workflow-level when is applied by CircleCI (continuation/continue orb does not accept when).
  migration-continuation:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      # Do not pass parameters: pipeline already has migration_test_* from trigger; passing them again causes "Conflicting pipeline parameters".
      - continuation/continue:
          configuration_path: .circleci/workflows-migration.yml

workflows:
  # When migration is requested: one workflow, one job (no job-level when).
  migration-continuation-workflow:
    when:
      not:
        equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - migration-continuation
  # Otherwise: path-filtering then continue with workflows.yml.
  standard-workflow:
    when:
      equal: [ "", << pipeline.parameters.migration_test_from_tag >> ]
    jobs:
      - path-filtering/filter:
          name: "Standard CI"
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            gravitee-am-reporter/.* run-container-test true
            gravitee-am-repository/.* run-container-test true
            gravitee-am-dataplane/.* run-container-test true
            ^.*pom\.xml$ run-container-test true
            gravitee-am-ui/.* run_ui_tests true

fix: correct error display on MCP server update
  gravitee-am-ui/src/app/services/protected-resource.service.ts
Due: run_ui_tests

fix: ignore unknown flow type
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/mapper/FlowTypeConverter.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/dozer.xml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoFlowRepository.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/FlowRepositoryTest.java
Due: run-container-test

chore: add OpenAPI spec validation checks
  .circleci/scripts/_compat_common.sh
  .circleci/scripts/ee-schema-compat-check.sh
  .circleci/scripts/oas-compat-check.sh
  .circleci/scripts/oas-staleness-check.sh
  .circleci/scripts/schema-compat-check.sh
  .circleci/workflows.yml
  .oasdiff-version
  AGENTS.md
  docs/agent-standards/cursor-rules/20-safety-security.mdc
  docs/agent-standards/skills/check-oas/SKILL.md
  docs/agent-standards/skills/check-schemas/SKILL.md
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/swagger/GraviteeApiDefinition.java
  scripts/regen-oas.sh
Due: run-container-test

chore: add OpenAPI spec validation checks
  .circleci/scripts/_compat_common.sh
  .circleci/scripts/ee-schema-compat-check.sh
  .circleci/scripts/oas-compat-check.sh
  .circleci/scripts/oas-staleness-check.sh
  .circleci/scripts/schema-compat-check.sh
  .circleci/workflows.yml
  .oasdiff-version
  AGENTS.md
  docs/agent-standards/cursor-rules/20-safety-security.mdc
  docs/agent-standards/skills/check-oas/SKILL.md
  docs/agent-standards/skills/check-schemas/SKILL.md
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/swagger/GraviteeApiDefinition.java
  pom.xml
  scripts/regen-oas.sh
Due: run-container-test

chore: AM-6742 add OpenAPI spec validation checks
  .circleci/scripts/_compat_common.sh
  .circleci/scripts/ee-schema-compat-check.sh
  .circleci/scripts/oas-compat-check.sh
  .circleci/scripts/oas-staleness-check.sh
  .circleci/scripts/schema-compat-check.sh
  .circleci/workflows.yml
  .oasdiff-version
  AGENTS.md
  docs/agent-standards/skills/check-oas/SKILL.md
  docs/agent-standards/skills/check-schemas/SKILL.md
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/swagger/GraviteeApiDefinition.java
  pom.xml
  scripts/regen-oas.sh
Due: run-container-test

chore: add OpenAPI spec validation checks
  .circleci/scripts/_compat_common.sh
  .circleci/scripts/ee-schema-compat-check.sh
  .circleci/scripts/oas-compat-check.sh
  .circleci/scripts/oas-staleness-check.sh
  .circleci/scripts/schema-compat-check.sh
  .circleci/workflows.yml
  .oasdiff-version
  AGENTS.md
  docs/agent-standards/skills/check-oas/SKILL.md
  docs/agent-standards/skills/check-schemas/SKILL.md
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/swagger/GraviteeApiDefinition.java
  pom.xml
  scripts/regen-oas.sh
Due: run-container-test

feat: add Jest-to-Jira traceability and gitignore Claude configs
  .gitignore
  gravitee-am-test/api/config/ci.config.js
  gravitee-am-test/specs/utils/jira-properties.js
  gravitee-am-test/specs/utils/jira.ts
Due: none

feat: bumped all plugins to next major version for Vertx5 upgrade
  pom.xml
Due: run-container-test

chore: update version in OpenAPI spec
  docs/mapi/openapi.yaml
Due: none

test: add Jest E2E regression tests (Phases 1-4 — 28 tests)
  gravitee-am-test/GUIDELINES.md
  gravitee-am-test/specs/gateway/forgot-password/forgot-password-inherited.jest.spec.ts
  gravitee-am-test/specs/gateway/idp-login/fixtures/idp-login-fixture.ts
  gravitee-am-test/specs/gateway/idp-login/idp-login.jest.spec.ts
  gravitee-am-test/specs/gateway/mfa/fixture/mfa-extract-fixture.ts
  gravitee-am-test/specs/gateway/oauth-flows/oauth-flows.jest.spec.ts
  gravitee-am-test/specs/gateway/registration/fixture/user-registration.ts
  gravitee-am-test/specs/gateway/registration/user-registration.jest.spec.ts
  gravitee-am-test/specs/gateway/regression-misc/fixtures/flow-policy-fixture.ts
  gravitee-am-test/specs/gateway/regression-misc/regression-misc.jest.spec.ts
  gravitee-am-test/specs/gateway/token-auth-methods/fixtures/token-auth-fixture.ts
  gravitee-am-test/specs/gateway/token-auth-methods/token-auth-methods.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/fixtures/token-claims-fixture.ts
  gravitee-am-test/specs/gateway/token-claims/token-claims.jest.spec.ts
Due: none

fix: make sure the enrolled facvtors are not updated by side effet action
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/user/impl/UserGatewayServiceImpl.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/User.java
Due: none

fix: add prometheus-metrics-exposition-formats to distribution classpath
  gravitee-am-gateway/gravitee-am-gateway-standalone/gravitee-am-gateway-standalone-container/pom.xml
  gravitee-am-management-api/gravitee-am-management-api-standalone/gravitee-am-management-api-standalone-container/pom.xml
  pom.xml
Due: run-container-test

chore: amend branch patterns
  .circleci/workflows.yml
Due: none

chore: fall back to PR lookup from branch
  .circleci/scripts/_compat_common.sh
Due: none

chore: fail on breaking OAS changes
  .circleci/scripts/oas-compat-check.sh
Due: none

chore: make breaking change
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/entrypoints/EntrypointsResource.java
Due: none

fix: create index on timestamp column for reporters
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/mariadb.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/mysql.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/postgresql.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/sqlserver.schema
Due: run-container-test
