Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

chore: amend branch patterns
  .circleci/workflows.yml
Due: none

chore: fall back to PR lookup from branch
  .circleci/scripts/_compat_common.sh
Due: none

chore: fail on breaking OAS changes
  .circleci/scripts/oas-compat-check.sh
Due: none

chore: make breaking change
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/entrypoints/EntrypointsResource.java
Due: none

fix: make sure the enrolled facvtors are not updated by side effet action
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/user/impl/UserGatewayServiceImpl.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/User.java
Due: none

fix: create index on timestamp column for reporters
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/mariadb.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/mysql.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/postgresql.schema
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/resources/database/sqlserver.schema
Due: run-container-test

fix: typeless application should be readonly
  gravitee-am-ui/src/app/domain/applications/application/advanced/cookie/cookie.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/general/general.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/memberships/memberships.component.ts
  gravitee-am-ui/src/app/domain/applications/application/advanced/metadata/metadata.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/password-policy/password-policy.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/secrets-certificates/secrets-certificates.component.html
  gravitee-am-ui/src/app/domain/applications/application/advanced/secrets-certificates/secrets-certificates.component.ts
  gravitee-am-ui/src/app/domain/applications/application/overview/overview.component.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
  gravitee-am-ui/src/app/guards/auth-guard.service.ts
Due: run_ui_tests

fix: address PR review comments — remove noise, clarify naming
  gravitee-am-test/GUIDELINES.md
  gravitee-am-test/specs/gateway/idp-login/fixtures/idp-login-fixture.ts
  gravitee-am-test/specs/gateway/idp-login/idp-login.jest.spec.ts
  gravitee-am-test/specs/gateway/oauth-flows/oauth-flows.jest.spec.ts
  gravitee-am-test/specs/gateway/regression-misc/fixtures/flow-policy-fixture.ts
  gravitee-am-test/specs/gateway/regression-misc/regression-misc.jest.spec.ts
  gravitee-am-test/specs/gateway/token-auth-methods/token-auth-methods.jest.spec.ts
  gravitee-am-test/specs/gateway/token-claims/fixtures/token-claims-fixture.ts
  gravitee-am-test/specs/gateway/token-claims/token-claims.jest.spec.ts
Due: none

fix: add missing magic link button to default login template
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/resources/views/default/login.html
Due: none

chore(deps): removed unnecessary deps from jdbc and mongodb plugins
  gravitee-am-dataplane/gravitee-am-dataplane-jdbc/src/main/assembly/plugin-assembly.xml
  gravitee-am-dataplane/gravitee-am-dataplane-mongodb/src/main/assembly/plugin-assembly.xml
  gravitee-am-reporter/gravitee-am-reporter-jdbc/src/main/assembly/plugin-assembly.xml
  gravitee-am-reporter/gravitee-am-reporter-mongodb/src/main/assembly/plugin-assembly.xml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/assembly/plugin-assembly.xml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/assembly/plugin-assembly.xml
Due: run-container-test

fix: sanitize mcp settings
  gravitee-am-model/src/main/java/io/gravitee/am/model/ProtectedResourcePrimaryData.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/ProtectedResourcePrimaryDataTest.java
Due: none

fix: disabled token exchange in application
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
Due: run_ui_tests

fix: correct error display on MCP server update
  gravitee-am-ui/src/app/interceptors/http-request.interceptor.ts
  gravitee-am-ui/src/app/services/protected-resource.service.ts
Due: run_ui_tests

chore: fail on breaking OAS changes
  .circleci/scripts/_compat_common.sh
  .circleci/scripts/oas-compat-check.sh
  .circleci/workflows.yml
Due: none

chore(ci): fix failing fs_scan
  .circleci/workflows.yml
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
