Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

test(GMA-169): use subType field in agent application Jest fixtures
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/management/agent-applications/fixtures/agent-applications-fixture.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

fix(GMA-144): scope sub_profile to agent-subject flows only
  gravitee-am-common/src/main/java/io/gravitee/am/common/jwt/Claims.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/token/impl/TokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/impl/IDTokenServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/token/TokenServiceTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/idtoken/IDTokenServiceTest.java
Due: none

ci: add release-gamma-version subcommand to am-release script
  release/steps/am-release-gamma-pipeline.mjs
  release/steps/am-release.mjs
Due: none

fix(spiffe): enforce JWKS URL safety at fetch time, validate domain settings, compose delete event
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/TrustDomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/openid/PatchSpiffeDomainSettings.java
Due: none

chore(test): regen management SDK with Application.subType
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/models/Advanced.ts
  gravitee-am-test/api/management/models/AgentApplication.ts
  gravitee-am-test/api/management/models/AgentApplicationPage.ts
  gravitee-am-test/api/management/models/AgentSettings.ts
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/ApplicationSettings.ts
  gravitee-am-test/api/management/models/FilteredApplication.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/OAuth.ts
  gravitee-am-test/api/management/models/PatchApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/Settings.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

fix(sdk): null-init container fields on Patch* models for sparse PATCH semantics
  gravitee-am-management-api-sdk-java/pom.xml
  gravitee-am-management-api-sdk-java/src/test/java/io/gravitee/am/sdk/management/EnumCaseInsensitiveDeserializationTest.java
Due: run-container-test

ci(gamma): hardcode rc_requested=true in release-gamma-version workflow
  .circleci/workflows.yml
Due: none

refactor(ui): drop SPIFFE subject pattern toggle; keep exact subject field
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
Due: run_ui_tests

refactor(spiffe): drop subject pattern matching; require exact SPIFFE subject
  docker/local-stack/dev/docker-compose.spire.yml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/ClientAssertionServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidator.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/SpiffeApplicationSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: run-container-test

feat(GMA-169): replace AgentSettings with top-level Application.subType
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Application.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/AgentSettings.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/ApplicationSettings.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-applications-add-sub-type.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/AgentSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationMongo.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationSettingsMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplicationSettings.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

ci: add release-gamma-version workflow for non-snapshot gamma artifacts
  .circleci/workflows.yml
Due: none

feat(ui): enable identity providers, analytics, and MFA menus for agent applications
  gravitee-am-ui/src/app/app-routing.module.ts
Due: run_ui_tests

test(introspection): cover CIMD-enabled domain introspecting RFC 8707 audience
  gravitee-am-test/specs/gateway/protected-resources/introspection-cimd-enabled.jest.spec.ts
Due: none

chore(sdk): regenerate management SDK for CIMD subType
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/ApplicationApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/models/CimdValidationRequest.ts
  gravitee-am-test/api/management/models/CimdValidationResponse.ts
  gravitee-am-test/api/management/models/ClientMetadata.ts
  gravitee-am-test/api/management/models/Missing.ts
  gravitee-am-test/api/management/models/NewCimdApplication.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

test(cimd): align redirect_uris fetcher tests with relaxed validation
  gravitee-am-service/src/test/java/io/gravitee/am/service/cimd/CimdMetadataFetcherTest.java
Due: none

fix(ui): send agent subType in CIMD application creation payload
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
Due: run_ui_tests

test(cimd): cover agent subType creation
  gravitee-am-test/specs/management/applications/cimd-application-creation.jest.spec.ts
Due: none

fix: reduce cimd_metadata_documents client_id length to fit MySQL/MariaDB index limit
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-add-cimd-metadata-documents.yml
Due: run-container-test

chore(local-stack): add cimd agent wiremock fixtures and domain setup script
  docker/local-stack/dev/docker-compose.mongo.yml
  docker/local-stack/dev/wiremock/request-cimd.json
  scripts/setup-cimd-domain.sh
Due: none

feat(cimd): support AGENT subType and relax redirect_uris for autonomous agents
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/DomainServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewCimdApplication.java
Due: none

fix(cimd): drop agent-forbidden grant/response types from CIMD metadata
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

fix(cimd): drop unsupported device_code grant_type from CIMD metadata
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

test(applications): stub findByDomain with explicit null ApplicationType
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
Due: none

chore(cimd): lower non-200 metadata fetch log level to debug
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
Due: none

chore: update OAS
  docs/mapi/openapi.yaml
Due: none

fix(introspection): fall back to protected-resource validation when CIMD client lookup errors
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/client/cimd/impl/CimdMetadataServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/main/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenService.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-common/src/test/java/io/gravitee/am/gateway/handler/common/oauth2/impl/BaseIntrospectionTokenServiceTest.java
Due: none

docs(release): document gamma release flow and [skip ci] convention for precursor commits
  release/README.adoc
Due: none

feat(applications): add excludeType query param to /applications listing
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
Due: none

feat(ui): add Agents top-level nav distinct from Applications
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/agents/agents.component.html
  gravitee-am-ui/src/app/domain/agents/agents.component.scss
  gravitee-am-ui/src/app/domain/agents/agents.component.ts
  gravitee-am-ui/src/app/domain/agents/creation/agent-creation.component.html
  gravitee-am-ui/src/app/domain/agents/creation/agent-creation.component.scss
  gravitee-am-ui/src/app/domain/agents/creation/agent-creation.component.ts
  gravitee-am-ui/src/app/domain/agents/creation/steps/step1/step1.component.html
  gravitee-am-ui/src/app/domain/agents/creation/steps/step1/step1.component.scss
  gravitee-am-ui/src/app/domain/agents/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/domain.component.ts
  gravitee-am-ui/src/app/resolvers/agents.resolver.ts
  gravitee-am-ui/src/app/services/application.service.ts
Due: run_ui_tests

feat(ui): show identity providers nav for agent applications
  gravitee-am-ui/src/app/app-routing.module.ts
Due: run_ui_tests

refactor: rename Application.subType to kind
  docs/mapi/openapi.yaml
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/model/FilteredApplication.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationResource.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/Application.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/model/JdbcApplication.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/changelogs/v4_12_0/4.12.0-applications-add-kind.yml
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/resources/liquibase/management-master.yml
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/ApplicationMongo.java
  gravitee-am-repository/gravitee-am-repository-tests/src/test/java/io/gravitee/am/repository/management/api/ApplicationRepositoryTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/NewCimdApplication.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/PatchApplication.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: run-container-test

refactor(ui): rename Application.subType to kind
  gravitee-am-ui/src/app/domain/applications/application/advanced/agent/agent.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/application-creation.component.ts
Due: run_ui_tests

test: rename Application.subType to kind in jest specs
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/FilteredApplication.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/NewCimdApplication.ts
  gravitee-am-test/api/management/models/PatchApplication.ts
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/workload-jwt-fixture.ts
  gravitee-am-test/specs/management/agent-applications/fixtures/agent-applications-fixture.ts
  gravitee-am-test/specs/management/applications/cimd-application-creation.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/blueprint-application.jest.spec.ts
  gravitee-am-test/specs/management/blueprint-application/fixtures/blueprint-fixture.ts
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
