Repository gravitee-io/gravitee-access-management: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-container-test, run_ui_tests

style(ui): apply lint formatting to spiffeSettings assignment
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.ts
Due: run_ui_tests

fix(spiffe): bypass JWKS cache so SPIFFE TTL drives bundle refresh
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImpl.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/spring/OIDCConfiguration.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/impl/TrustBundleServiceImplTest.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/spring/JWTConfiguration.java
Due: none

chore: bump role upgrader version to backfill DOMAIN_TRUST_DOMAIN permission
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/DefaultRoleUpgrader.java
  gravitee-am-management-api/gravitee-am-management-api-service/src/main/java/io/gravitee/am/management/service/impl/upgrades/OrganizationRolesUpgrader.java
Due: none

refactor(oidc): reuse ClientIds.isUrlShaped in ClientAuthHandlerImpl CIMD fallback
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/resources/auth/handler/impl/ClientAuthHandlerImpl.java
Due: none

refactor(cimd): default token_endpoint_auth_method to none in CimdMetadataFetcher
  gravitee-am-service/src/main/java/io/gravitee/am/service/cimd/CimdMetadataFetcher.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

fix(cimd): preserve token_endpoint_auth_method after WEB template apply
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

fix(cimd): restore CIMD template scope inheritance in createFromCimd
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

test: add jest coverage for SPIFFE prefix subject match
  gravitee-am-test/certs/README.md
  gravitee-am-test/specs/gateway/blueprint-agents/fixtures/spiffe-prefix-fixture.ts
  gravitee-am-test/specs/gateway/blueprint-agents/spiffe-prefix-assertion.jest.spec.ts
Due: none

feat(ui): expose SPIFFE subject match mode in OAuth2 grant-flows settings
  gravitee-am-ui/src/app/domain/components/oauth2-settings/component/oauth2-settings.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.html
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.spec.ts
  gravitee-am-ui/src/app/domain/components/oauth2-settings/grant-flows/grant-flows.component.ts
Due: run_ui_tests

feat(oidc): support PREFIX subject match mode for SPIFFE application settings
  docs/mapi/openapi.yaml
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/SpiffeClientAssertionValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/main/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidator.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oauth2/service/assertion/impl/SpiffeClientAssertionValidatorTest.java
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-oidc/src/test/java/io/gravitee/am/gateway/handler/oidc/service/spiffe/SpiffeJwtSvidValidatorTest.java
  gravitee-am-model/src/main/java/io/gravitee/am/model/application/SpiffeApplicationSettings.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/internal/model/SpiffeApplicationSettingsMongo.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/test/java/io/gravitee/am/service/impl/ApplicationServiceImplSpiffeValidationTest.java
  gravitee-am-test/api/management/models/SpiffeApplicationSettings.ts
Due: run-container-test

feat(applications): support multi-valued type filter on /applications listing
  gravitee-am-management-api/gravitee-am-management-api-rest/src/main/java/io/gravitee/am/management/handlers/management/api/resources/organizations/environments/domains/ApplicationsResource.java
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
  gravitee-am-model/src/test/java/io/gravitee/am/model/application/ApplicationTypeClassificationTest.java
  gravitee-am-repository/gravitee-am-repository-api/src/main/java/io/gravitee/am/repository/management/api/search/ApplicationCriteria.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/common/dialect/AbstractDialectHelper.java
  gravitee-am-repository/gravitee-am-repository-jdbc/src/main/java/io/gravitee/am/repository/jdbc/management/api/JdbcApplicationRepository.java
  gravitee-am-repository/gravitee-am-repository-mongodb/src/main/java/io/gravitee/am/repository/mongodb/management/MongoApplicationRepository.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
  gravitee-am-service/src/main/java/io/gravitee/am/service/model/ApplicationFilter.java
Due: run-container-test

chore: regen OAS and management SDK
  docs/mapi/openapi.yaml
  gravitee-am-test/api/management/.openapi-generator/FILES
  gravitee-am-test/api/management/apis/ApplicationApi.ts
  gravitee-am-test/api/management/apis/DomainApi.ts
  gravitee-am-test/api/management/models/Application.ts
  gravitee-am-test/api/management/models/ApplicationOAuthSettings.ts
  gravitee-am-test/api/management/models/ApplicationSettings.ts
  gravitee-am-test/api/management/models/ClientMetadata.ts
  gravitee-am-test/api/management/models/FilteredApplication.ts
  gravitee-am-test/api/management/models/NewApplication.ts
  gravitee-am-test/api/management/models/NewCimdApplication.ts
  gravitee-am-test/api/management/models/OIDCSettings.ts
  gravitee-am-test/api/management/models/PatchApplication.ts
  gravitee-am-test/api/management/models/PatchApplicationOAuthSettings.ts
  gravitee-am-test/api/management/models/PatchApplicationSettings.ts
  gravitee-am-test/api/management/models/PatchOIDCSettings.ts
  gravitee-am-test/api/management/models/UserInfoClaim.ts
  gravitee-am-test/api/management/models/index.ts
Due: none

feat(ui): add Agents top-level nav and route Applications via multi-type filter
  gravitee-am-ui/src/app/app-routing.module.ts
  gravitee-am-ui/src/app/app.module.ts
  gravitee-am-ui/src/app/domain/agents/agents.component.html
  gravitee-am-ui/src/app/domain/agents/agents.component.scss
  gravitee-am-ui/src/app/domain/agents/agents.component.ts
  gravitee-am-ui/src/app/domain/agents/creation/agent-creation.component.html
  gravitee-am-ui/src/app/domain/agents/creation/agent-creation.component.scss
  gravitee-am-ui/src/app/domain/agents/creation/agent-creation.component.ts
  gravitee-am-ui/src/app/domain/agents/creation/steps/step1/step1.component.html
  gravitee-am-ui/src/app/domain/agents/creation/steps/step1/step1.component.scss
  gravitee-am-ui/src/app/domain/agents/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.html
  gravitee-am-ui/src/app/domain/applications/creation/steps/step1/step1.component.ts
  gravitee-am-ui/src/app/domain/applications/creation/steps/step2/step2.component.ts
  gravitee-am-ui/src/app/domain/domain.component.ts
  gravitee-am-ui/src/app/resolvers/agents.resolver.ts
  gravitee-am-ui/src/app/services/application.service.ts
Due: run_ui_tests

test(applications): cover multi-type filter and pagination accuracy
  gravitee-am-test/api/commands/management/application-management-commands.ts
  gravitee-am-test/specs/management/applications/applications-exclude-agents.jest.spec.ts
Due: none

chore(ui): align UI version with branch base
  gravitee-am-ui/build.json
  gravitee-am-ui/package.json
Due: run_ui_tests

fix(ui): send 'kind' instead of 'subType' on agent creation
  gravitee-am-ui/src/app/domain/agents/agents.component.html
  gravitee-am-ui/src/app/domain/agents/creation/agent-creation.component.ts
Due: run_ui_tests

fix(ui): surface errors on agent list/resolver/creation subscriptions
  gravitee-am-ui/src/app/domain/agents/agents.component.ts
  gravitee-am-ui/src/app/domain/agents/creation/agent-creation.component.ts
  gravitee-am-ui/src/app/resolvers/agents.resolver.ts
Due: run_ui_tests

test(applications): capture ApplicationFilter to assert type forwarding
  gravitee-am-management-api/gravitee-am-management-api-rest/src/test/java/io/gravitee/am/management/handlers/management/api/resources/ApplicationsResourceTest.java
Due: none

feat: allow agent applications to be marked as templates
  gravitee-am-service/src/main/java/io/gravitee/am/service/impl/ApplicationServiceImpl.java
Due: none

test: agent application can be marked as template
  gravitee-am-test/specs/management/agent-applications/agent-applications.jest.spec.ts
Due: none

test: remove obsolete agent-template rejection test
  gravitee-am-service/src/test/java/io/gravitee/am/service/ApplicationServiceTest.java
Due: none

chore(ui): drop stale TripwireSpec reference from application.service
  gravitee-am-ui/src/app/services/application.service.ts
Due: run_ui_tests

test(applications): reuse applications-fixture in exclude-agents spec
  gravitee-am-test/specs/management/applications/applications-exclude-agents.jest.spec.ts
Due: none

fix: do not propagate the exception if certificate cannot be loaded by webauhtn
  gravitee-am-gateway/gravitee-am-gateway-handler/gravitee-am-gateway-handler-core/src/main/java/io/gravitee/am/gateway/handler/vertx/auth/webauthn/GraviteeWebAuthnOptions.java
Due: none

Path conditions:
  run-container-test: (((any of: gravitee-am-reporter/.*) or (any of: gravitee-am-repository/.*)) or (any of: gravitee-am-dataplane/.*)) or (any of: ^.*pom\.xml$)
  run_ui_tests: any of: gravitee-am-ui/.*
